Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l sync radio: sync to radio.r
  lass/2configs/radio/default.nix
  lass/2configs/sync/the_playlist.nix
Due: none

l neoprism.r: host radio.r container
  lass/1systems/neoprism/config.nix
  lass/2configs/radio/container-host.nix
Due: none

l radio weather: don't fail on unknown ips
  lass/2configs/radio/weather_for_ips.py
Due: none

l radio-news.r: prism.r -> radio.r
  kartei/lass/prism.nix
  kartei/lass/radio.nix
Due: none

l yellow.r: add rada.r and sona.r aliases
  kartei/lass/yellow.nix
  lass/1systems/yellow/config.nix
Due: none

l sona.r, rada.r: proxy websockets
  lass/1systems/yellow/config.nix
Due: none

l: {son,rad}a.r -> {son,rad}ar.r
  kartei/lass/yellow.nix
  lass/1systems/yellow/config.nix
Due: none

l yellow.r: add bazarr for subtitles
  lass/1systems/yellow/config.nix
Due: none

tv xmonad: use BorderUrgencyHook
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv iptables: admit wiregrill
  tv/3modules/iptables.nix
Due: none

tv nix: auto-optimise-store via settings
  tv/2configs/default.nix
Due: none

tv: move nix settings to separate file
  tv/2configs/default.nix
  tv/2configs/nix.nix
Due: none

tv xmonad: add audioMicMute
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv AO753: use nix.settings
  tv/2configs/hw/AO753.nix
Due: none

tv xmonad: Full -> StateFull
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

l gg23: use networkd
  lass/2configs/gg23.nix
Due: none

ma ham: enable more weather services
  makefu/2configs/editor/vim.nix
  makefu/2configs/editor/vimrc
  makefu/2configs/home/ham/sensor/outside.nix
Due: nur-packages makefu

l yellow.r: add acme ssl to yellow.r, radar.r and sonar.r
  lass/1systems/yellow/config.nix
Due: none

kartei tv: add ru
  kartei/tv/hosts/ru.nix
Due: none

ma wbob.r: Add kodi and nano to wbob
  makefu/1systems/wbob/config.nix
Due: nur-packages makefu

ma defaults: remove nano override
  makefu/2configs/default.nix
Due: nur-packages makefu

ma bureauautomation: Add music folder to wbob hass
  makefu/2configs/bureautomation/default.nix
Due: nur-packages makefu

ma bureautomation: add frontend to zigbee2mqtt
  makefu/2configs/bureautomation/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma bureautomation: add rhasspy
  makefu/2configs/bureautomation/default.nix
  makefu/2configs/bureautomation/rhasspy.nix
Due: nur-packages makefu

tv xmonad: get font and screen info from env
  tv/5pkgs/haskell/xmonad-tv/src/Build.hs
  tv/5pkgs/haskell/xmonad-tv/src/THEnv/JSON.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
  tv/5pkgs/haskell/xmonad-tv/src/xmonad-tv.cabal
Due: none

tv alacritty: add support for multiple profiles
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

tv fzmenu: urxvt -> alacritty
  tv/5pkgs/simple/fzmenu/bin/otpmenu
  tv/5pkgs/simple/fzmenu/bin/passmenu
  tv/5pkgs/simple/fzmenu/default.nix
Due: none

tv xmonad: urxvt -> alacritty
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv alacritty: add fzmenu profile
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

tv alacritty: add root profile
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

tv bash: optionally source $BASH_EXTRA_INIT
  tv/2configs/bash/default.nix
Due: none

tv iosevka-tv-1: init
  tv/5pkgs/simple/iosevka-tv-1.nix
Due: none

tv alacritty: add x220 and hidpi variants
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

tv lidControl: init
  tv/3modules/default.nix
  tv/3modules/lidControl.nix
Due: none

tv alacritty: automatically select hidpi variant
  tv/2configs/default.nix
Due: none

tv: put ~/bin into PATH by default
  tv/1systems/bu/config.nix
  tv/1systems/nomic/config.nix
  tv/2configs/default.nix
Due: none

tv winmax2: init
  tv/2configs/hw/winmax2.nix
Due: none

syncthing-device-id: use python3
  krebs/5pkgs/simple/syncthing-device-id.nix
Due: wolf deployment, puyak deployment

tv alacritty: add touchscreen support
  tv/5pkgs/override/alacritty.nix
Due: none

ma pkgs.HermesLedControl: init at 3.0.4
  makefu/5pkgs/HermesLedControl/default.nix
  makefu/5pkgs/HermesLedControl/remove-logger.patch
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
