Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

lib: add maybeHead
  lib/default.nix
Due: wolf deployment, puyak deployment

krebs.tinc: use LoadCredential
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

ci: configure krebs.build.host
  ci.nix
Due: none

krebs.systemd.services: restart by LoadCredential
  krebs/3modules/default.nix
  krebs/3modules/systemd.nix
Due: wolf deployment, puyak deployment

krebs.tinc: don't bother aliasing packages
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

krebs.tinc: drop api and imp boilerplate
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

krebs.tinc: drop environment.systemPackages TODO
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

mic92: update ip for eve
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l pkgs.dpass: RIP
  lass/1systems/helios/config.nix
  lass/1systems/mors/config.nix
  lass/5pkgs/dpass/default.nix
Due: none

krebs.systemd: support credentials of any service
  krebs/3modules/systemd.nix
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

krebs.systemd: allow reload if credentials change
  krebs/3modules/systemd.nix
Due: wolf deployment, puyak deployment

systemd module: use LoadCredentials from config.systemd.services
  krebs/3modules/systemd.nix
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tv charybdis: add group
  tv/3modules/charybdis/default.nix
Due: none

krebs.systemd: allow LoadCredential to be a string
  krebs/3modules/systemd.nix
Due: wolf deployment, puyak deployment

repo-sync: add group
  krebs/3modules/repo-sync.nix
Due: wolf deployment, puyak deployment

repo-sync: use LoadCredential
  krebs/3modules/repo-sync.nix
Due: wolf deployment, puyak deployment

tv ejabberd: add group
  tv/3modules/ejabberd/default.nix
Due: none

exim-smarthost: use LoadCredential
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: dkim_strict = true
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

matchbox: remove ipv4
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l krops: useChecksum for stockholm
  lass/krops.nix
Due: none

tv x0vncserver: use LoadCredential
  tv/3modules/x0vncserver.nix
Due: none

tv ejabberd: use LoadCredential
  tv/3modules/ejabberd/config.nix
  tv/3modules/ejabberd/default.nix
Due: none

tv charybdis: use LoadCredential
  tv/3modules/charybdis/config.nix
  tv/3modules/charybdis/default.nix
Due: none

l green.r: don't use bindfs for sync folder
  lass/1systems/green/config.nix
Due: none

l green.r: add ssh workaround for android yubikey
  lass/1systems/green/config.nix
Due: none

ma home: add wip tonie module
  makefu/2configs/home/tonie.nix
Due: nur-packages makefu

ma home/tonie: fall back to container for front-end
  makefu/2configs/home/tonie.nix
Due: nur-packages makefu

ma tonie: use new backend_is_local deployment
  makefu/2configs/home/tonie.nix
Due: nur-packages makefu

l tinc: define ed25519 keys for all hosts
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

external: add kmein ed25519 keys
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external: add pinpox-ahorn
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

types net tinc: include pubkey_ed25519
  lib/types.nix
Due: wolf deployment, puyak deployment

external kmein: fix ed25519 pubkey syntax
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external: fix ed25519 pubkey syntax
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

mic92: fix ssh ed25519 keys
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

tv hosts: add all the ed25519 keys
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 5730959 -> d887ac7
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: b0bf5f8 -> ac169ec
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment
