Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l acl: use a simple unit per path
  lass/3modules/acl.nix
Due: none

tinc: restart via reload for less downtimes
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

sync-containers: remove obsolete .decalartive
  krebs/3modules/ci.nix
  krebs/3modules/sync-containers.nix
Due: wolf deployment, puyak deployment

types.tinc.extraConfig: str -> lines
  lib/types.nix
Due: wolf deployment, puyak deployment

ma gum.r: override retiolum config
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma sync: init syncthing
  makefu/2configs/sync/default.nix
Due: nur-packages makefu

ma tests: add syncthing dummy secrets
  makefu/0tests/data/secrets/syncthing.cert
  makefu/0tests/data/secrets/syncthing.key
  makefu/0tests/data/secrets/tonie.env
  makefu/0tests/data/secrets/wbobPassword.nix
Due: nur-packages makefu

tinc.extraConfig: str -> lines
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

move acl module to krebs
  krebs/3modules/acl.nix
  krebs/3modules/default.nix
  lass/2configs/sync/the_playlist.nix
  lass/3modules/default.nix
Due: wolf deployment, puyak deployment

l the_playlist: share with omo
  lass/2configs/sync/the_playlist.nix
Due: none

ma pkgs.sfo: init
  makefu/2configs/tools/consoles.nix
  makefu/5pkgs/sfo/default.nix
Due: nur-packages makefu

ma ham: commit open changes
  makefu/2configs/home/ham/automation/check-in.nix
  makefu/2configs/home/ham/automation/flurlicht.nix
  makefu/2configs/home/ham/automation/shutdown_button.nix
  makefu/2configs/home/ham/automation/urlaub.nix
  makefu/2configs/home/ham/automation/wohnzimmer_rf_fernbedienung.nix
  makefu/2configs/home/ham/calendar/nextcloud.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/lib/cheat-sheet.nix
  makefu/2configs/home/ham/lib/default.nix
  makefu/2configs/home/ham/light/tint_arbeitszimmer.nix
  makefu/2configs/home/ham/light/tint_wohnzimmer.nix
  makefu/2configs/home/ham/media/firetv.nix
  makefu/2configs/home/ham/media/remote_sound_wohnzimmer.nix
  makefu/2configs/home/ham/media/sonos.nix
  makefu/2configs/home/ham/tts/google.nix
Due: nur-packages makefu

tv ni wiregrill: add via
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv ni wiregrill: assign ipv4 addr
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv umz: init
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

gum.r: set weight to over 9000
  krebs/3modules/makefu/default.nix
  lass/2configs/retiolum.nix
Due: wolf deployment, puyak deployment

tv umz: add wiregrill pubkey
  krebs/3modules/tv/wiregrill/umz.pub
Due: wolf deployment, puyak deployment

tinc: use ip from path
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

mic92: add flood.r alias
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add hal9000
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l: add hourly newsshow to radio
  lass/1systems/prism/config.nix
  lass/2configs/radio-news.nix
  lass/2configs/radio.nix
Due: none

l radio: fix listeners count
  lass/2configs/radio.nix
Due: none

ma share: add hetzner-client
  makefu/2configs/share/hetzner-client.nix
Due: nur-packages makefu

nixpkgs: 604c441 -> 521e4d7
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 689b76b -> 60c52a7
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l radio-news: retry every step 5 times
  lass/2configs/radio-news.nix
Due: none

l radio-news: pin stuttgart to area code
  lass/2configs/radio-news.nix
Due: none

tinc: don't connect to gum
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

external: add alsace.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l hass: use stable version
  lass/2configs/hass/default.nix
Due: none

mic92: add navidrome
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop ipv4 from dimitriosxps
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

shack/influx: add workaround for collectd
  krebs/2configs/shack/influx.nix
Due: wolf deployment, puyak deployment

ma pkgs: add workaround for collectd
  makefu/5pkgs/default.nix
Due: nur-packages makefu

k 3 ma: init latte
  krebs/3modules/makefu/default.nix
  krebs/3modules/makefu/retiolum/latte.pub
  krebs/3modules/makefu/retiolum/latte_ed25519.pub
Due: wolf deployment, puyak deployment

ma latte.r: run on 1blu
  makefu/1systems/latte/1blu/default.nix
  makefu/1systems/latte/1blu/network.nix
  makefu/1systems/latte/config.nix
  makefu/1systems/latte/source.nix
Due: nur-packages makefu

ma retiolum: fix ed25519 for latte
  krebs/3modules/makefu/retiolum/latte_ed25519.pub
Due: wolf deployment, puyak deployment

ma latte.r: continue migration of gum services
  makefu/1systems/latte/1blu/network.nix
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

l radio-news: add api endpoint
  lass/2configs/radio-news.nix
Due: none
