Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

nixpkgs: 4275a32 -> 47cd670
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l: build doc only on coaxmetal.r
  lass/1systems/coaxmetal/config.nix
  lass/2configs/default.nix
Due: none

mic92: herbert: drop ipv6
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

ma gum -> nextgum
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma gum.r: arise
  makefu/1systems/gum/config.nix
  makefu/1systems/gum/hetznercloud/default.nix
  makefu/1systems/gum/hetznercloud/doit
  makefu/1systems/gum/hetznercloud/network.nix
  makefu/1systems/gum/hetznercloud/sfdisk.part
Due: nur-packages makefu

mic92: add mukke.krebsco.de CNAME
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

external: add home.kmein.r
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

l nichtparasoup: enrich reddit experience
  lass/3modules/nichtparasoup.nix
Due: none

l nichtparasoup: concatStringsSep
  lass/3modules/nichtparasoup.nix
Due: none

l nichtparasoup: sort entries
  lass/3modules/nichtparasoup.nix
Due: none

external: add tahina.r
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

tv file-line: git -> https
  tv/5pkgs/vim/file-line.nix
Due: none

tv gitrepos: don't announce head verbosely
  tv/2configs/gitrepos.nix
Due: none

git-hooks irc-announce: add verbose blacklist
  krebs/5pkgs/simple/git-hooks/default.nix
Due: wolf deployment, puyak deployment

lib: add evalModulesConfig
  lib/default.nix
Due: wolf deployment, puyak deployment

tv: derive ssh.privkey.path
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

lib: add evalSubmodule
  lib/default.nix
Due: wolf deployment, puyak deployment

tv: hostDefaults -> evalHost
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv: allow hosts without nets
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

lib.haskell.substitutePkgs: fix typo
  lib/haskell.nix
Due: wolf deployment, puyak deployment

lib.haskell.substitutePkgs: add dependencies
  lib/haskell.nix
Due: wolf deployment, puyak deployment

qrscan: use new one shot scanning mode
  krebs/5pkgs/simple/qrscan.nix
Due: wolf deployment, puyak deployment

tv: <stockholm> -> ../../..
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 47cd670 -> 31aa631
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 7f9b6e2 -> 9bc841f
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l pipewire: pulseaudioLight -> pulseaudio
  lass/2configs/pipewire.nix
Due: none

l mors.r: foomatic_filters -> foomatic-filters
  lass/2configs/print.nix
Due: none

l xmonad: pulseaudioLight -> pulseaudio
  lass/2configs/xmonad.nix
Due: none

l baseX: ag -> ripgrep
  lass/2configs/baseX.nix
Due: none

netcat-openbsd -> libressl.nc
  krebs/2configs/mud.nix
  krebs/5pkgs/simple/untilport/default.nix
Due: wolf deployment, puyak deployment

l wireguard -> wireguard-tools
  lass/5pkgs/l-gen-secrets/default.nix
Due: none

l baseX: use new fonts config
  lass/2configs/baseX.nix
Due: none

l pipwire: add wireplumber workaround for systemWide
  lass/2configs/pipewire.nix
Due: none

l hass: add pyscript dev environment
  lass/2configs/hass/default.nix
  lass/2configs/hass/pyscript/.gitignore
  lass/2configs/hass/pyscript/default.nix
  lass/2configs/hass/pyscript/shell.nix
Due: none

git-hooks irc-announce: verbose == true, not false
  krebs/5pkgs/simple/git-hooks/default.nix
Due: wolf deployment, puyak deployment

iptables: fix range definition
  krebs/3modules/iptables.nix
Due: wolf deployment, puyak deployment

l fysiirc: strip newlines harder
  lass/2configs/fysiirc.nix
Due: none

ma gum.r: move smartd monitor to hw-specific config
  makefu/1systems/gum/config.nix
  makefu/1systems/gum/hetzner/default.nix
Due: nur-packages makefu

ma pkgs.ns-usbloader: init
  makefu/2configs/tools/consoles.nix
  makefu/5pkgs/ns-usbloader/default.nix
Due: nur-packages makefu
