Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma feed.euer: remove valve
  makefu/2configs/deployment/feed.euer.krebsco.de/filter.yml
Due: nur-packages makefu

l radio: prefix commands with the_playlist:
  lass/2configs/radio.nix
Due: none

syncthing: use upstream module
  krebs/3modules/default.nix
  krebs/3modules/syncthing.nix
  lass/1systems/mors/config.nix
  lass/1systems/xerxes/config.nix
  lass/2configs/green-host.nix
  lass/2configs/radio.nix
  lass/2configs/sync/decsync.nix
  lass/2configs/sync/weechat.nix
  lass/2configs/syncthing.nix
  lass/2configs/websites/domsen.nix
Due: wolf deployment, puyak deployment

buildbot-stockholm: don't fetch repos from palo
  krebs/2configs/buildbot-stockholm.nix
Due: wolf deployment, puyak deployment

ci: fetch every 100s
  krebs/3modules/ci.nix
Due: wolf deployment, puyak deployment

hidden-ssh: add message option
  krebs/3modules/hidden-ssh.nix
Due: wolf deployment, puyak deployment

realwallpaper: check_type via needs_rebuild
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l hilum.r: /tmp on tmpfs
  lass/1systems/hilum/config.nix
Due: none

l yellow.r: add shoutbox to /flix
  lass/1systems/prism/config.nix
  lass/1systems/yellow/config.nix
Due: none

l: add more mail addresses
  lass/2configs/exim-smarthost.nix
Due: none

l mpv: bind subtitle search to key
  lass/2configs/mpv.nix
Due: none

l: init bruellwuerfel
  lass/5pkgs/bruellwuerfel/default.nix
Due: none

tv xmonad: add pavucontrol
  tv/5pkgs/haskell/xmonad-tv/src/Paths.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

l fzfmenu: show query if no match
  lass/5pkgs/fzfmenu/default.nix
Due: none

j emacs: remove dead code
  jeschli/2configs/emacs.nix
Due: none

j emacs: let emacsclient accept files from terminal
  jeschli/2configs/emacs.nix
Due: none

j emacs: cleanup and add documentation of used emacs pkgs
  jeschli/2configs/emacs.nix
Due: none

j reagenzglas: add steam
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: add gitAndTools.hub
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: add steel bank common lisp (sbcl)
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: touchpad dis/enable by F1/F2.
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

l fzfmenu: use urxvt because of arg bug
  lass/5pkgs/fzfmenu/default.nix
Due: none

external: add catalonia
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

git-submodules: fix elisp submodule
  .gitmodules
Due: wolf deployment, puyak deployment

l radio: listen to more experimental music
  lass/2configs/radio.nix
Due: none

l radio: more complex track logic
  lass/2configs/radio.nix
Due: none

nixpkgs: 598a9cb -> f6c1d3b
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

reaktor2: 0.2.2 -> 0.2.3-pre1
  krebs/5pkgs/haskell/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: 0.2.3-pre1 -> 0.3.0
  krebs/5pkgs/haskell/reaktor2.nix
Due: wolf deployment, puyak deployment

l radio: filter other music out
  lass/2configs/radio.nix
Due: none

l radio: add REST api
  lass/2configs/radio.nix
Due: none

nixpkgs: f6c1d3b -> b67bc34
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: d96bd33 -> b61999e
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

realwallpaper: make ice gray
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l icarus.r: set thinkfan levels
  lass/1systems/icarus/physical.nix
Due: none

l prism.r: move pubkeys
  lass/1systems/prism/config.nix
Due: none

l blue: enable tor client
  lass/2configs/blue.nix
Due: none

l: init review-mail-queue
  lass/2configs/exim-smarthost.nix
  lass/5pkgs/review-mail-queue/default.nix
Due: none

l: init nm-dmenu
  lass/2configs/network-manager.nix
  lass/5pkgs/custom/xmonad-lass/default.nix
  lass/5pkgs/nm-dmenu/default.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
