Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

update krebsco.de A records
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

ma workadventure: init
  makefu/2configs/home-manager/zsh.nix
  makefu/2configs/workadventure/default.nix
  makefu/2configs/workadventure/jitsi.nix
  makefu/2configs/workadventure/workadventure.nix
Due: nur-packages makefu

repo-sync: use cfg.privateKeyFile.path
  krebs/3modules/repo-sync.nix
Due: wolf deployment, puyak deployment

tv repo-sync wiki: init
  tv/2configs/repo-sync/wiki.nix
Due: none

brockman: 3.0.0 -> 3.2.0
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

krebs.backup fping: select fastest by elapsed time
  krebs/3modules/backup.nix
Due: wolf deployment, puyak deployment

news: add brockman-helper reaktor2 bot
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

ma pkgs.office-radio: init
  makefu/5pkgs/office-radio/default.nix
Due: nur-packages makefu

brockman: 3.2.0 -> 3.2.3
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

realwallpaper: add wallpaper with markers but without krebs
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l: add lass-green user
  krebs/3modules/lass/default.nix
  krebs/3modules/lass/pgp/green.pgp
  krebs/3modules/lass/ssh/green.ed25519
Due: wolf deployment, puyak deployment

l: add jitsi.lassul.us to record
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l: grant green access everywhere
  lass/2configs/default.nix
Due: none

l bindfs: add clearTarget option
  lass/3modules/bindfs.nix
Due: none

l sync-containers: fix ecryptfs startup bug
  lass/3modules/sync-containers.nix
Due: none

l sync-containers: shutdown container if already up
  lass/3modules/sync-containers.nix
Due: none

l styx.r: add syncthing.id
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l blue.r: remove weechat
  lass/1systems/blue/config.nix
Due: none

l green.r: setup with sync-containers
  lass/1systems/green/config.nix
Due: none

l: don't always sync basedir
  lass/2configs/sync/sync.nix
  lass/2configs/syncthing.nix
Due: none

l: add missing IM.nix
  lass/2configs/IM.nix
Due: none

l domsen: remove inotify limits
  lass/2configs/websites/domsen.nix
Due: none

l: add missing muchsync.nix
  lass/2configs/muchsync.nix
Due: none

l mail: export NOTMUCH_CONFIG
  lass/2configs/mail.nix
Due: none

l mail: fix sidebar format
  lass/2configs/mail.nix
Due: none

l radio: simplify listeners counting
  lass/2configs/radio.nix
Due: none

l radio: import htgen script
  lass/2configs/radio.nix
Due: none

l tv: remove legacy interface
  lass/2configs/tv.nix
Due: none

l git: add reaktor2 & workadventure-nix
  lass/2configs/git.nix
Due: none

l icarus.r: fix thinkfan values
  lass/1systems/icarus/physical.nix
Due: none

l codimd: codimd is now called hedgedoc
  lass/2configs/codimd.nix
Due: none

l realwallpaper: add video
  lass/2configs/realwallpaper.nix
Due: none

l littleT.r: add as green-host
  lass/1systems/littleT/config.nix
Due: none

l morpheus.r: add green-host
  lass/1systems/morpheus/config.nix
Due: none

l: remove deprecated backup user
  lass/1systems/daedalus/config.nix
  lass/1systems/mors/config.nix
  lass/1systems/shodan/config.nix
  lass/2configs/backup.nix
  lass/2configs/default.nix
Due: none

l: split ppp.nix by modem
  lass/2configs/ppp/umts-stick.nix
  lass/2configs/ppp/x220-modem.nix
Due: none

l mors.r: remove old imports, add new ones
  lass/1systems/mors/config.nix
Due: none

l: init ecrypt
  lass/5pkgs/ecrypt/default.nix
Due: none

l browsers: remove cvim
  lass/2configs/browsers.nix
Due: none

l prism.r: use as green-host
  lass/1systems/prism/config.nix
Due: none
