Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma awesome-config: use home-manager instead of patching the awesome package itself
  makefu/3modules/awesome-extra.nix
Due: nur-packages makefu

ma etherpad module: init
  makefu/3modules/default.nix
  makefu/3modules/etherpad.nix
Due: nur-packages makefu

ma modemmanager: bind to correct service
  makefu/2configs/hw/network-manager.nix
Due: nur-packages makefu

ma nur: bump rev
  makefu/2configs/nur.nix
Due: nur-packages makefu

tv x220: fix jumpy touchpad
  tv/2configs/hw/x220.nix
Due: none

mic92: add ipv6 addresses for my machines
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l: add klem service
  lass/2configs/baseX.nix
  lass/3modules/klem.nix
Due: none

l: use klem in xmonad
  lass/2configs/baseX.nix
  lass/5pkgs/custom/xmonad-lass/default.nix
Due: none

l: import klem module
  lass/3modules/default.nix
Due: none

git: support smart HTTP transport
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

ma urlwatch: bought vaccuum
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

krebs git: use " instead of ''
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

krebs.git.cgit.settings += source-filter
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

tv cgit: enable syntax highlighting
  tv/2configs/gitrepos.nix
Due: none

tv cgit: use algol_nu highlighting style
  tv/2configs/gitrepos.nix
Due: none

ma tools/media: remove whitespace
  makefu/2configs/tools/media.nix
Due: nur-packages makefu

tv: use sane default locale
  tv/2configs/default.nix
Due: none

ma: fix build errors
  makefu/1systems/cake/config.nix
  makefu/1systems/omo/config.nix
  makefu/1systems/sdev/source.nix
Due: nur-packages makefu

ma wbob.r: deploy home-manager
  makefu/1systems/wbob/source.nix
Due: nur-packages makefu

ma tsp.r: add home-manager source
  makefu/1systems/tsp/source.nix
Due: nur-packages makefu

ma tsp.r,wbob.r,sdev.r: include home-manager
  makefu/1systems/sdev/config.nix
  makefu/1systems/tsp/config.nix
  makefu/1systems/wbob/config.nix
Due: nur-packages makefu

shack/glados: fix announcement temperature
  krebs/2configs/shack/glados/automation/announcement.j2
Due: wolf deployment, puyak deployment

ma bureautomation: fix matrix bot
  makefu/2configs/bureautomation/multi/matrix.nix
Due: nur-packages makefu

ma bam: fix matrix.nix syntax
  makefu/2configs/bureautomation/multi/matrix.nix
Due: nur-packages makefu

ma pkgs.chapter-marker: init at 2020-07-20
  makefu/5pkgs/chapter-marker/default.nix
Due: nur-packages makefu

puyak: enable blackbox prometheus exporter, use it to ping internal and external hosts
  krebs/1systems/puyak/config.nix
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/prometheus/blackbox.nix
  krebs/2configs/shack/prometheus/server.nix
Due: wolf deployment, puyak deployment

nixpkgs: 6460602 -> 9ea61f7
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

shack/glados: schlechte_luft uses new sensors
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
Due: wolf deployment, puyak deployment

shack/glados: add party-time
  krebs/2configs/shack/glados/automation/party-time.nix
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

shack/glados: fix giesskanne
  krebs/2configs/shack/glados/multi/wasser.nix
Due: wolf deployment, puyak deployment

shack/share: downgrade samba security
  krebs/2configs/shack/share.nix
Due: wolf deployment, puyak deployment

types.secret-file: add service option
  krebs/3modules/exim-smarthost.nix
  krebs/3modules/konsens.nix
  krebs/3modules/repo-sync.nix
  krebs/3modules/tinc.nix
  lass/2configs/binary-cache/server.nix
  lass/2configs/websites/sqlBackup.nix
  lass/3modules/ejabberd/default.nix
  lib/types.nix
  makefu/2configs/binary-cache/server.nix
  makefu/3modules/netdata.nix
  tv/2configs/binary-cache/default.nix
  tv/3modules/charybdis/default.nix
  tv/3modules/ejabberd/default.nix
  tv/3modules/x0vncserver.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

types: add systemd unit name
  lib/types.nix
Due: wolf deployment, puyak deployment

krebs.secret: restart units on secret change
  krebs/3modules/exim-smarthost.nix
  krebs/3modules/repo-sync.nix
  krebs/3modules/secret.nix
  krebs/3modules/tinc.nix
  lass/2configs/binary-cache/server.nix
  lass/2configs/websites/sqlBackup.nix
  lass/3modules/ejabberd/default.nix
  lib/default.nix
  lib/types.nix
  makefu/2configs/binary-cache/server.nix
  makefu/3modules/netdata.nix
  tv/2configs/binary-cache/default.nix
  tv/3modules/charybdis/default.nix
  tv/3modules/ejabberd/default.nix
  tv/3modules/x0vncserver.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

j firefox: remove Google Talk plugin
  jeschli/5pkgs/firefox/firefox-with-config.nix
Due: none

nixpkgs: 9ea61f7 -> e23e054
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 22a81aa -> 8e2b14a
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add harsha machine
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment
