Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma ham: add light toggle switches
  makefu/2configs/ham/automation/light_buttons.nix
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/light/groups.nix
Due: nur-packages makefu

ma zsh: use plugin directly from navi src
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

remove deprecated hass module
  lass/2configs/default.nix
  lass/2configs/hass/default.nix
  lass/2configs/hass/rooms/bett.nix
  lass/2configs/hass/rooms/essen.nix
  lass/2configs/hass/rooms/nass.nix
  lass/2configs/hass/zigbee.nix
  lass/3modules/default.nix
  lass/3modules/hass.nix
Due: none

l: fix lib usage
  lass/2configs/default.nix
Due: none

mic92: add loki.r alias to rock.r
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add bernie
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: improve tinc cross-compiling
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

mic92: fix bernie tinc address
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l: init styx.r
  krebs/3modules/lass/default.nix
  lass/1systems/styx/config.nix
  lass/1systems/styx/physical.nix
Due: wolf deployment, puyak deployment

tv elm-package-proxy: add rudimentary publish API
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: list newest packages first
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: log uploads
  tv/2configs/elm-packages-proxy.nix
Due: none

add alertmanager.r
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 34ad166 -> a322b32
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add shannan
  krebs/3modules/external/default.nix
  krebs/3modules/external/ssh/shannan.pub
  lass/1systems/prism/config.nix
Due: wolf deployment, puyak deployment

tv gitrepos: add mailaids
  tv/2configs/gitrepos.nix
Due: none

tv mailaids: init at 1.0.0
  tv/5pkgs/haskell/mailaids.nix
Due: none

puyak.r: separate config in net.nix
  krebs/1systems/puyak/config.nix
  krebs/1systems/puyak/net.nix
Due: wolf deployment, puyak deployment

getty-for-esp: init
  krebs/1systems/puyak/config.nix
  krebs/2configs/hw/getty-for-esp.nix
Due: wolf deployment, puyak deployment

gitlab-runner: cleanup, add TODO
  krebs/2configs/shack/gitlab-runner.nix
Due: wolf deployment, puyak deployment

tv editor-input: init
  tv/5pkgs/simple/editor-input.nix
Due: none

tv rxvt_unicode: do not call perl_destruct
  tv/5pkgs/override/rxvt_unicode.nix
Due: none

tv rxvt_unicode: name patches sensibly
  tv/5pkgs/override/rxvt_unicode.nix
Due: none

realwallpaper: keep old markers if new ones are empty
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l green.r: use shallow clone
  lass/1systems/green/source.nix
Due: none

tv elm-package-proxy: add POST /all-packages
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: don't append garbage on OK
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: unzip -> p7zip
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: log qualified package names
  tv/2configs/elm-packages-proxy.nix
Due: none

shack/worlddomination: fix code for py38 deprecation of clock()
  krebs/2configs/shack/worlddomination.nix
Due: wolf deployment, puyak deployment

shack/powerraw: fix telegraf tags (which cannot be int for some reason now)
  krebs/2configs/shack/powerraw.nix
Due: wolf deployment, puyak deployment

shack/glados: utilize mergeable home-assistant config
  krebs/2configs/shack/glados/automation/hass-restart.nix
  krebs/2configs/shack/glados/automation/party-time.nix
  krebs/2configs/shack/glados/automation/shack-startup.nix
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/multi/rollos.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  krebs/2configs/shack/glados/multi/shackopen.nix
  krebs/2configs/shack/glados/multi/wasser.nix
  krebs/2configs/shack/glados/sensors/darksky.nix
  krebs/2configs/shack/glados/sensors/mate.nix
  krebs/2configs/shack/glados/sensors/power.nix
  krebs/2configs/shack/glados/sensors/sensemap.nix
  krebs/2configs/shack/glados/sensors/spaceapi.nix
  krebs/2configs/shack/glados/switch/power.nix
Due: wolf deployment, puyak deployment

tv exim-smarthost: RIP destroy.dyn.shackspace.de
  tv/2configs/exim-smarthost.nix
Due: none

tv elm-package-proxy: allow GET on /all-packages
  tv/2configs/elm-packages-proxy.nix
Due: none

cabal-read: make compatible with Cabal >=3.0.0
  krebs/5pkgs/simple/cabal-read.nix
Due: wolf deployment, puyak deployment

ma pkgs.awesomecfg: fix eval error for nur
  makefu/5pkgs/awesomecfg/default.nix
Due: nur-packages makefu

exim-retiolum: add system-aliases option
  krebs/3modules/exim-retiolum.nix
Due: wolf deployment, puyak deployment

tv elm-package-proxy: add \n to string reponse
  tv/2configs/elm-packages-proxy.nix
Due: none

tv elm-package-proxy: allow replacing own packages
  tv/2configs/elm-packages-proxy.nix
Due: none

tv rox-filer: init at 14354e2
  tv/5pkgs/simple/rox-filer.nix
Due: none
