Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

bepasty-server use python3
  krebs/3modules/bepasty-server.nix
Due: wolf deployment, puyak deployment

l: remove archprism
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

update-nixpkgs-unstable: fix commit msg
  krebs/update-nixpkgs-unstable.sh
Due: wolf deployment, puyak deployment

iana-etc module: allow adding new services
  krebs/3modules/iana-etc.nix
Due: wolf deployment, puyak deployment

tv im: configs -> modules
  tv/1systems/nomic/config.nix
  tv/2configs/im.nix
  tv/3modules/default.nix
  tv/3modules/im.nix
Due: none

tv im: add mosh support
  tv/3modules/im.nix
Due: none

tv im: add weechat relay support
  tv/3modules/im.nix
Due: none

l blue.r: dont populate nixpkgs-unstable
  lass/1systems/blue/source.nix
Due: none

l hilum.r: mount nfs-dl
  lass/1systems/hilum/config.nix
Due: none

l icarus.r: add media center
  lass/1systems/icarus/config.nix
Due: none

l prism.r: don't rebuild hotdog onchange
  lass/1systems/prism/config.nix
Due: none

l prism.r: merge palos keys
  lass/1systems/prism/config.nix
Due: none

l prism.r: open udp for murmur
  lass/1systems/prism/config.nix
Due: none

l prism.r: add flix endpoint
  lass/1systems/prism/config.nix
Due: none

l prism.r: add transmission session id header
  lass/1systems/prism/config.nix
Due: none

l shodan.r: add gg23 config
  lass/1systems/shodan/config.nix
  lass/1systems/shodan/physical.nix
  lass/2configs/gg23.nix
Due: none

l br: set new ip
  lass/2configs/br.nix
Due: none

realwallpaper: use working cloudmap
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

pkgs.tinc_graphs: bump to 3.11
  krebs/5pkgs/simple/tinc_graphs/default.nix
Due: wolf deployment, puyak deployment

j reagenzglas: add go
  jeschli/1systems/reagenzglas/config.nix
Due: none

j emacs: set racer paths for use with a shell-nix
  jeschli/2configs/emacs.nix
Due: none

j reagenzglas: i3 config bind rofi to meta+x
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j reagenzglas: add direnv
  jeschli/1systems/reagenzglas/config.nix
Due: none

j haskell: intial commit
  jeschli/2configs/haskell.nix
Due: none

j reagenzglas: add copyq
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: i3 config: remove trailing whitespaces
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j reagenzglas: reformat environment.systemPackages
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: add haskell
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: i3-config: i3-sensible-terminal -> alacritty
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j eamcs: Fix org-capture wrong-argument bug
  jeschli/2configs/emacs-org-agenda.nix
Due: none

j emacs: Update refile file
  jeschli/2configs/emacs-org-agenda.nix
Due: none

move filebitch.r from makefu to krebs namespace
  krebs/3modules/krebs/default.nix
  krebs/3modules/makefu/default.nix
  krebs/3modules/makefu/retiolum/filebitch.pub
Due: wolf deployment, puyak deployment

nixpkgs: 4ad6f14 -> 45ea609
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e89b215 -> 3140fa8
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

j reagenzglas: add audio
  jeschli/1systems/reagenzglas/config.nix
Due: none

ma pkgs.studio-link: use autoPatchelfHook
  makefu/5pkgs/studio-link/default.nix
Due: nur-packages makefu

move mic92's hosts to external files
  krebs/3modules/default.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs: 45ea609 -> 2d94547
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment
