Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

external: rip bvg.kmein.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

much: 1.3.0 -> 1.3.1
  krebs/5pkgs/haskell/much.nix
Due: wolf deployment, puyak deployment

mic92: add jarvis
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

git-hooks irc-announce: don't show merges
  krebs/5pkgs/simple/git-hooks/default.nix
Due: wolf deployment, puyak deployment

krebs: use ergo instead of solanum everywhere
  krebs/1systems/hotdog/config.nix
  krebs/2configs/ergo.nix
  krebs/2configs/ircd.nix
  krebs/2configs/news.nix
  krebs/3modules/ergo.nix
Due: wolf deployment, puyak deployment

krebs news: increase ergo nicklen limit
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

jarvis: add dyndns
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

ma gum.r: cleanup services
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma mediengewitter: init setup
  makefu/2configs/deployment/mediengewitter.de.nix
Due: nur-packages makefu

mic92: add dyndns endpoint for turingmachine/bernie
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

news: disable history, raise identlen limit
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

pkgs.brockman: 4.0.2 -> 4.0.3
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: d1e59cf -> 79c7b6a
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 59bfda7 -> 0ecf7d4
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

painload: c113487 -> a963b45
  krebs/5pkgs/simple/painload/default.nix
Due: wolf deployment, puyak deployment

K_belwagen: init at 1.0.0
  krebs/5pkgs/simple/K_belwagen.nix
Due: wolf deployment, puyak deployment

tv stardict: import from niveum 2aa19c2
  tv/2configs/stardict.nix
Due: none

tv stardict: turn into pkg
  tv/5pkgs/simple/stardict/default.nix
Due: none

tv stardict: add swahili
  tv/5pkgs/simple/stardict/default.nix
Due: none

tv xmonad: pactl -> amixer
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv xsessions: init
  tv/2configs/xsessions/default.nix
Due: none

tv xsessions: add user urxvtd socket and service
  tv/2configs/xsessions/default.nix
  tv/2configs/xsessions/urxvtd.nix
Due: none

tv xu: use xsessions
  tv/1systems/xu/config.nix
Due: none

tv bu: use xsessions
  tv/1systems/bu/config.nix
Due: none

tv au: use xsessions
  tv/1systems/au/config.nix
Due: none

l prism.r: add ipv6
  lass/1systems/prism/physical.nix
Due: none

ergo: 2.8.0 -> 2.9.1
  krebs/5pkgs/simple/ergo/default.nix
Due: wolf deployment, puyak deployment

Revert "nixpkgs-unstable: 59bfda7 -> 0ecf7d4"
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l yubikey: use scdaemon via pcscd
  lass/2configs/yubikey.nix
Due: none

l yubikey: access remote builders via yubikey
  lass/2configs/yubikey.nix
Due: none

nixpkgs-unstable: 59bfda7 -> 5aaed40
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l yubikey: remove duplicate definition
  lass/2configs/yubikey.nix
Due: none

external: add rrm.r alias
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

tint_wohnzimmer: refactor
  makefu/2configs/home/ham/light/tint_wohnzimmer.nix
Due: nur-packages makefu

external: move kmein to separate file
  krebs/3modules/default.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

external: add papawhakaaro.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma ham: init tint remote control for arbeitszimmer
  makefu/2configs/home/ham/light/arbeitszimmer.nix
  makefu/2configs/home/ham/light/tint_arbeitszimmer.nix
  makefu/2configs/home/ham/light/wohnzimmer.nix
Due: nur-packages makefu

l xjails: switch from sudo to machinectl
  lass/3modules/xjail.nix
Due: none

l pipewire: use systemWide mode
  lass/2configs/pipewire.nix
Due: none

go: fix urls with missing prefix
  krebs/3modules/go.nix
Due: wolf deployment, puyak deployment
