Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma pkgs.pico2wave: use upstream
  makefu/5pkgs/pico2wave/default.nix
Due: nur-packages makefu

ma arafetch,aralast: use latest revision which fixes https issue
  makefu/2configs/stats/arafetch.nix
  makefu/2configs/stats/external/aralast.nix
Due: nur-packages makefu

shack/glados: enable sensemap, mpd for kiosk
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/sensors/sensemap.nix
Due: wolf deployment, puyak deployment

shack/glados/lib: generalize tts
  krebs/2configs/shack/glados/lib/default.nix
Due: wolf deployment, puyak deployment

shack/glados/schlechte_luft: enable ip and wifi sensors
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
Due: wolf deployment, puyak deployment

shack/glados: re-enable picotts with pico2wave
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

shack/glados: use kiosk to say something, add picotts package
  krebs/2configs/shack/glados/automation/shack-startup.nix
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

shack/glados/lib: add rollo config
  krebs/2configs/shack/glados/lib/default.nix
Due: wolf deployment, puyak deployment

shack/glados: add darksky,mate,spaceap,rollos
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/lib/default.nix
  krebs/2configs/shack/glados/multi/rollos.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  krebs/2configs/shack/glados/sensors/darksky.nix
  krebs/2configs/shack/glados/sensors/hass.nix
  krebs/2configs/shack/glados/sensors/mate.nix
  krebs/2configs/shack/glados/sensors/power.nix
  krebs/2configs/shack/glados/sensors/spaceapi.nix
  krebs/2configs/shack/glados/sensors/unifi.nix
Due: wolf deployment, puyak deployment

ma ham/esphome: init
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/multi/esphome.nix
  makefu/2configs/ham/multi/kurzzeitwecker.nix
Due: nur-packages makefu

ma ham/esphome: rip, replaced with autodiscovery
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/multi/esphome.nix
Due: nur-packages makefu

ma ham/zigbee2mqtt: configuration with discovery in mind
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/lib/default.nix
  makefu/2configs/ham/zigbee2mqtt/default.nix
Due: nur-packages makefu

nixpkgs: c49da64 -> b7bbc6d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 100012e -> 55beed9
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l mpv: add autosub script
  lass/2configs/mpv.nix
Due: none

submodules: add brockman
  .gitmodules
Due: wolf deployment, puyak deployment

ma ham: use home-assistant from unstable, enable androidtv support
  makefu/2configs/ham/androidtv/adbshell.nix
  makefu/2configs/ham/androidtv/default.nix
  makefu/2configs/ham/androidtv/purepythonadb.nix
  makefu/2configs/ham/automation/firetv_restart.nix
  makefu/2configs/ham/default.nix
Due: nur-packages makefu

ma ham/zigbee2mqtt: giving up
  makefu/2configs/ham/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma ham: cleanup
  makefu/2configs/ham/lib/default.nix
  makefu/2configs/ham/multi/timer.nix
  makefu/2configs/ham/multi/zigbee2mqtt.nix
  makefu/2configs/ham/sensor/outside.nix
Due: nur-packages makefu

ma ham: prepare flurlicht
  makefu/2configs/ham/multi/flurlicht.nix
Due: nur-packages makefu

ma pkgs.hydra-check: init
  makefu/2configs/bureautomation/camera/stuttgart.nix
  makefu/5pkgs/hydra-check/default.nix
Due: nur-packages makefu

ma pkgs.studio-link: use install, cleanup
  makefu/5pkgs/studio-link/default.nix
Due: nur-packages makefu

ma pkgs.hydra-check: move to custom
  makefu/5pkgs/custom/hydra-check/default.nix
Due: nur-packages makefu

ma pkgs: add cc-tool,liveproxy
  makefu/5pkgs/cc-tool/default.nix
  makefu/5pkgs/custom/liveproxy/default.nix
  makefu/5pkgs/default.nix
Due: nur-packages makefu

ma bureautomation: use discovery, cleanup
  makefu/2configs/bureautomation/automation/daily-news.nix
  makefu/2configs/bureautomation/automation/quotes.nix
  makefu/2configs/bureautomation/automation/schlechteluft.nix
  makefu/2configs/bureautomation/camera/stuttgart.nix
  makefu/2configs/bureautomation/default.nix
  makefu/2configs/bureautomation/deps/aresponses.nix
  makefu/2configs/bureautomation/multi/10h_timers.nix
  makefu/2configs/bureautomation/multi/daily-standup.nix
  makefu/2configs/bureautomation/multi/frosch.nix
  makefu/2configs/bureautomation/multi/mittagessen.nix
  makefu/2configs/bureautomation/person/team.nix
  makefu/2configs/bureautomation/puppy-proxy.nix
  makefu/2configs/bureautomation/script/multi_blink.nix
  makefu/2configs/bureautomation/stream/puppies.nix
Due: nur-packages makefu

ma ham: update home-assistant config
  makefu/2configs/ham/automation/firetv_restart.nix
  makefu/2configs/ham/default.nix
Due: nur-packages makefu

ma home-manager: update mail with mbsync
  makefu/2configs/home-manager/mail.nix
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

ma deployment: add board.euer, rss.euer
  makefu/2configs/deployment/board.euer.krebsco.de.nix
  makefu/2configs/deployment/docker/archiveteam-warrior.nix
  makefu/2configs/deployment/gecloudpad/default.nix
  makefu/2configs/deployment/gecloudpad/gecloudpad.nix
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma tools: update tool deployment
  makefu/2configs/tools/extra-gui.nix
  makefu/2configs/tools/mobility.nix
  makefu/2configs/tools/studio.nix
Due: nur-packages makefu

ma hw/bluetooth: do not override blueman
  makefu/2configs/hw/bluetooth.nix
Due: nur-packages makefu

ma 2configs: cleanup
  makefu/2configs/hw/cc2531.nix
  makefu/2configs/main-laptop.nix
  makefu/2configs/minimal.nix
  makefu/2configs/mqtt.nix
  makefu/2configs/nginx/rompr.nix
  makefu/2configs/nur.nix
  makefu/2configs/sickbeard/cheetah3.nix
  makefu/2configs/sickbeard/debug.patch
  makefu/2configs/sickbeard/sickgear.nix
Due: nur-packages makefu

ma omo.r: deploy ham service
  makefu/1systems/omo/config.nix
  makefu/1systems/omo/hw/omo.nix
  makefu/1systems/omo/source.nix
Due: nur-packages makefu

ma gum.r: disable unused services
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma x.r: disable gum-client
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma krops: also deploy unstable if required
  makefu/krops.nix
Due: nur-packages makefu

shack: update node-light, update glados
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/switch/power.nix
  krebs/2configs/shack/node-light.nix
Due: wolf deployment, puyak deployment

ma gum.r: add board.euer, rss.euer
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

krebs test-secrets: add darksky.apikey
  krebs/0tests/data/secrets/hass/darksky.apikey
Due: wolf deployment, puyak deployment

ma sickgear: bump to latest revision, not use hotfix branch
  makefu/2configs/sickbeard/sickgear.nix
Due: nur-packages makefu

ma gum.r: fix cgit.euer.krebsco.de
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
