Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

nixpkgs-unstable: 3140fa8 -> e0470e1
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma homeautomation: remove python3 pinning
  makefu/2configs/homeautomation/default.nix
Due: nur-packages makefu

l gg23: remove deprecated hass override
  lass/2configs/gg23.nix
Due: none

krebs exim-smarthost: RIP slash16
  krebs/2configs/exim-smarthost.nix
Due: wolf deployment, puyak deployment

ci: redownload all repos
  krebs/3modules/ci.nix
Due: wolf deployment, puyak deployment

bepasty-server use python3
  krebs/3modules/bepasty-server.nix
Due: wolf deployment, puyak deployment

tv im: configs -> modules
  tv/1systems/nomic/config.nix
  tv/2configs/im.nix
  tv/3modules/default.nix
  tv/3modules/im.nix
Due: none

tv im: add weechat relay support
  tv/3modules/im.nix
Due: none

tv im: add mosh support
  tv/3modules/im.nix
Due: none

l blue.r: dont populate nixpkgs-unstable
  lass/1systems/blue/source.nix
Due: none

update-nixpkgs-unstable: fix commit msg
  krebs/update-nixpkgs-unstable.sh
Due: wolf deployment, puyak deployment

iana-etc module: allow adding new services
  krebs/3modules/iana-etc.nix
Due: wolf deployment, puyak deployment

l: remove archprism
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l icarus.r: add media center
  lass/1systems/icarus/config.nix
Due: none

l hilum.r: mount nfs-dl
  lass/1systems/hilum/config.nix
Due: none

l prism.r: merge palos keys
  lass/1systems/prism/config.nix
Due: none

l shodan.r: add gg23 config
  lass/1systems/shodan/config.nix
  lass/1systems/shodan/physical.nix
  lass/2configs/gg23.nix
Due: none

l prism.r: add transmission session id header
  lass/1systems/prism/config.nix
Due: none

l prism.r: add flix endpoint
  lass/1systems/prism/config.nix
Due: none

l prism.r: don't rebuild hotdog onchange
  lass/1systems/prism/config.nix
Due: none

l prism.r: open udp for murmur
  lass/1systems/prism/config.nix
Due: none

l br: set new ip
  lass/2configs/br.nix
Due: none

nixpkgs: 45ea609 -> 2d94547
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

move mic92's hosts to external files
  krebs/3modules/default.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

external: add xq
  krebs/3modules/external/default.nix
  krebs/3modules/external/ssh/xq.pub
Due: wolf deployment, puyak deployment

nixpkgs: 4ad6f14 -> 45ea609
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e89b215 -> 3140fa8
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

realwallpaper: use working cloudmap
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

shack: update muellshack
  krebs/2configs/shack/muellshack.nix
Due: wolf deployment, puyak deployment

shack: init shackDNS
  krebs/1systems/wolf/config.nix
  krebs/2configs/shack/shackDNS.nix
Due: wolf deployment, puyak deployment

shack/glados: init hass config
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/lib/default.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  krebs/2configs/shack/glados/multi/wasser.nix
  krebs/2configs/shack/glados/sensors/hass.nix
Due: wolf deployment, puyak deployment

shack/glados: enable schlechte_luft
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/lib/default.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  krebs/2configs/shack/glados/multi/wasser.nix
  krebs/2configs/shack/glados/sensors/hass.nix
Due: wolf deployment, puyak deployment

filebitch.r: init;shack/glados: fix schlechte_luft automation, add hass-restart
  krebs/1systems/filebitch/config.nix
  krebs/1systems/filebitch/hardware-configuration.nix
  krebs/2configs/shack/glados/automation/hass-restart.nix
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
Due: wolf deployment, puyak deployment

shack/ssh-keys: add xq
  krebs/2configs/shack/ssh-keys.nix
Due: wolf deployment, puyak deployment

shack/glados/schlechte_luft: add fallbacks, fix sensor naming
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
Due: wolf deployment, puyak deployment

ma hw/network-manager: use iwd
  makefu/2configs/hw/network-manager.nix
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
