Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

kartei/xkey: new and re-added hosts, restructured
  kartei/xkey/default.nix
Due: none

nixpkgs: e2c9779 -> 884e3b6
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 19cf008 -> e3652e0
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l aergia.r: remove legacy hidpi
  lass/1systems/aergia/physical.nix
Due: none

kartei/rtunreal: init rtgraphene
  kartei/rtunreal/default.nix
Due: none

kartei/rtunreal: add ip4 to rtgraphene
  kartei/rtunreal/default.nix
Due: none

hotdog.r: repo-sync stockholm, define krops
  krebs/1systems/hotdog/config.nix
  krebs/2configs/repo-sync.nix
Due: wolf deployment, puyak deployment

k shack/glados: now a docker deployment
  krebs/2configs/shack/glados/automation/ampel.nix
  krebs/2configs/shack/glados/automation/announcement.j2
  krebs/2configs/shack/glados/automation/hass-restart.nix
  krebs/2configs/shack/glados/automation/party-time.nix
  krebs/2configs/shack/glados/automation/shack-startup.nix
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/deps/gtts-token.nix
  krebs/2configs/shack/glados/deps/pyhaversion.nix
  krebs/2configs/shack/glados/lib/default.nix
  krebs/2configs/shack/glados/multi/rollos.nix
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  krebs/2configs/shack/glados/multi/shackopen.nix
  krebs/2configs/shack/glados/multi/wasser.nix
  krebs/2configs/shack/glados/sensors/darksky.nix
  krebs/2configs/shack/glados/sensors/mate.nix
  krebs/2configs/shack/glados/sensors/power.nix
  krebs/2configs/shack/glados/sensors/sensemap.nix
  krebs/2configs/shack/glados/sensors/spaceapi.nix
  krebs/2configs/shack/glados/sensors/unifi.nix
  krebs/2configs/shack/glados/switch/power.nix
Due: wolf deployment, puyak deployment

kartei: add trust-gpg script
  kartei/trust-gpg.sh
Due: none

konsens: define isSystemUser & group
  krebs/3modules/konsens.nix
Due: wolf deployment, puyak deployment

k shack/alerting: prepare irc-alerts for binaergewitter
  krebs/2configs/shack/prometheus/alert-rules.nix
  krebs/2configs/shack/prometheus/irc-alerts.py
  krebs/2configs/shack/prometheus/irc-hooks.nix
  krebs/2configs/shack/prometheus/server.nix
Due: wolf deployment, puyak deployment

add bing-gpt gateway
  kartei/mic92/default.nix
Due: none

reaktor2: add !bing command
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 bing: more timeout, footnotes
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 bing: start counting at 1
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: use bing plugin on all bots
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 bing: add error reporting
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

ircd: more lines & hostnames
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

kartei/mic92: add donna
  kartei/mic92/default.nix
Due: none

kartei/feliks: init ahuatangata
  kartei/feliks/default.nix
Due: none

kartei: init mokemoke
  kartei/ynnel/default.nix
Due: none

kartei/feliks: add ip4 to ahuatangata
  kartei/feliks/default.nix
Due: none

kartei/feliks: fix wiregrill pubkey
  kartei/feliks/default.nix
Due: none

ahuatangata.r: fix ipv4 range
  kartei/feliks/default.nix
Due: none

kartei tv ni: update internet addresses
  kartei/tv/hosts/ni.nix
Due: none

l binary-cache: split into server & proxy, add neoprism
  lass/1systems/prism/config.nix
  lass/2configs/binary-cache/client.nix
  lass/2configs/binary-cache/server.nix
Due: none

l mumble-reminder: move to wednesday
  lass/2configs/mumble-reminder.nix
Due: none

nixpkgs: 884e3b6 -> cd749f5
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e3652e0 -> 555daa9
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

kartei/mic92: replace llama.r with vicuna.r
  kartei/mic92/default.nix
Due: none

l neoprism.r: add gsm-wiki
  lass/1systems/neoprism/config.nix
  lass/2configs/gsm-wiki.nix
Due: none

nixpkgs: cd749f5 -> fd901ef
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 555daa9 -> 645bc49
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l binary-cache: add missing proxy.nix
  lass/2configs/binary-cache/proxy.nix
Due: none

kartei feliks: define owner for all hosts
  kartei/feliks/default.nix
Due: none

tv imagescan-plugin-networkscan: add old comments
  tv/5pkgs/simple/imagescan-plugin-networkscan.nix
Due: none

tv imagescan-plugin-networkscan: RIP
  tv/5pkgs/simple/imagescan-plugin-networkscan.nix
Due: none

tv xp-332: RIP
  tv/1systems/querel/config.nix
  tv/1systems/xu/config.nix
  tv/2configs/xp-332.nix
Due: none

kartei tv pi: init
  kartei/tv/hosts/pi.nix
  kartei/tv/wiregrill/pi.pub
Due: none

ma wbob: add brother ql-800
  makefu/1systems/wbob/config.nix
  makefu/2configs/bureautomation/printer.nix
Due: nur-packages makefu
