Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma pkgs.beef: rip
  makefu/5pkgs/beef/Gemfile
  makefu/5pkgs/beef/Gemfile.lock
  makefu/5pkgs/beef/db-in-homedir.patch
  makefu/5pkgs/beef/default.nix
  makefu/5pkgs/beef/gemset.nix
  makefu/5pkgs/beef/shell.nix
  makefu/5pkgs/beef/update.sh
Due: nur-packages makefu

ma gui: pulseaudio -> pipewire
  makefu/2configs/gui/base.nix
  makefu/2configs/hw/bluetooth.nix
Due: nur-packages makefu

ma gui/pipewire: init
  makefu/2configs/gui/pipewire.nix
Due: nur-packages makefu

nixpkgs: bf014ca -> 72783a2
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: c97e777 -> 79d3ca0
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l network-manager: gnome3 -> gnome
  lass/2configs/network-manager.nix
Due: none

external: add porree
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l: iproute -> iproute2
  lass/5pkgs/q/default.nix
Due: none

k: inotifyTools -> inotify-tools
  krebs/2configs/news.nix
  krebs/3modules/permown.nix
  krebs/5pkgs/simple/cac-api/default.nix
Due: wolf deployment, puyak deployment

k: utillinux -> util-linux
  krebs/2configs/reaktor2.nix
  krebs/3modules/backup.nix
  krebs/5pkgs/simple/Reaktor/scripts/tell-on_join.sh
  krebs/5pkgs/simple/dic/default.nix
  krebs/5pkgs/simple/htgen-cyberlocker/default.nix
  krebs/5pkgs/simple/htgen-imgur/default.nix
  krebs/5pkgs/simple/withGetopt.nix
Due: wolf deployment, puyak deployment

k: iproute -> iproute2
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

k: pkgconfig -> pkg-config
  krebs/5pkgs/simple/K_belwagen.nix
Due: wolf deployment, puyak deployment

k: rxvt_unicode -> rxvt-unicode
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

external: add kfbox
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

krebs: move github modules to subdir
  krebs/3modules/default.nix
  krebs/3modules/github/default.nix
  krebs/3modules/github/hosts-sync.nix
  krebs/3modules/github/known-hosts.nix
Due: wolf deployment, puyak deployment

github: move known-hosts into separate file
  krebs/3modules/github/known-hosts.json
  krebs/3modules/github/known-hosts.nix
Due: wolf deployment, puyak deployment

github-known-hosts: update list
  krebs/3modules/github-known-hosts.nix
Due: wolf deployment, puyak deployment

reaktor2: add krebsfood hook
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

dev1: add public ips
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop hal9000, add dev1
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

reaktor2: add cache to krebsfood hook
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: increase krebsfood radio
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: add opening hours to krebsfood
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

external: add petrosilia
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

tv ejabberd: change YAML formatting style
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: add structural settings
  tv/3modules/ejabberd/config.nix
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: sync service with upstream template
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: use dynamic user
  tv/3modules/ejabberd/config.nix
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: make stateDir configurable
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: admit multiple certfiles
  tv/3modules/ejabberd/config.nix
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: drop PermissionsStartOnly directive
  tv/3modules/ejabberd/default.nix
Due: none

tv ejabberd: JSON > YAML
  tv/3modules/ejabberd/default.nix
Due: none

reaktor2: do not suggest closed restaurants
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

external: add sicily, remove karakalpakstan
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

reaktor2: update to fix caching, center on 18@p-corner
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

nixpkgs: 72783a2 -> 78a37aa
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 79d3ca0 -> 4428e23
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

reaktor2: give bedger its real name and logo
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 locations: init
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment
