Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tv WiringPi: stdenv.lib -> lib
  tv/5pkgs/rpi/WiringPi/default.nix
Due: none

tv fzmenu: stdenv.lib -> lib
  tv/5pkgs/simple/fzmenu/default.nix
Due: none

tv overrides input-fonts: use fetchzip
  tv/5pkgs/override/default.nix
Due: none

infest-cac-centos7: stdenv.lib -> lib
  krebs/5pkgs/test/infest-cac-centos7/default.nix
Due: wolf deployment, puyak deployment

tinc_graphs: stdenv.lib -> lib
  krebs/5pkgs/simple/tinc_graphs/default.nix
Due: wolf deployment, puyak deployment

whatsupnix: stdenv.lib -> lib
  krebs/5pkgs/simple/whatsupnix/default.nix
Due: wolf deployment, puyak deployment

passwdqc-utils: stdenv.lib -> lib
  krebs/5pkgs/simple/passwdqc-utils/default.nix
Due: wolf deployment, puyak deployment

translate-shell: stdenv.lib -> lib
  krebs/5pkgs/simple/translate-shell/default.nix
Due: wolf deployment, puyak deployment

populate: stdenv.lib -> lib
  krebs/5pkgs/simple/populate/default.nix
Due: wolf deployment, puyak deployment

ssh-audit: stdenv.lib -> lib
  krebs/5pkgs/simple/ssh-audit.nix
Due: wolf deployment, puyak deployment

ftb: stdenv.lib -> lib
  krebs/5pkgs/simple/ftb/default.nix
Due: wolf deployment, puyak deployment

drivedroid-gen-repo: stdenv.lib -> lib
  krebs/5pkgs/simple/drivedroid-gen-repo/default.nix
Due: wolf deployment, puyak deployment

get: stdenv.lib -> lib
  krebs/5pkgs/simple/get/default.nix
Due: wolf deployment, puyak deployment

flameshot: add imgur patch for 0.9.0
  krebs/5pkgs/override/default.nix
  krebs/5pkgs/override/flameshot/flameshot_imgur_0.6.0.patch
  krebs/5pkgs/override/flameshot/flameshot_imgur_0.9.0.patch
Due: wolf deployment, puyak deployment

slog: stdenv.lib -> lib
  krebs/5pkgs/simple/slog/default.nix
Due: wolf deployment, puyak deployment

internetarchive: stdenv.lib -> lib
  krebs/5pkgs/simple/internetarchive/default.nix
Due: wolf deployment, puyak deployment

github-hosts-sync: stdenv.lib -> lib
  krebs/5pkgs/simple/github-hosts-sync/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 33824cd -> eaba787
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs: 20.09 -> 21.05
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

l security: remove deprecated hideProcessInformation
  lass/2configs/htop.nix
Due: none

l xjail: set isNormalUser
  lass/3modules/xjail.nix
Due: none

fetchWallpaper: set isSystemUser
  krebs/3modules/fetchWallpaper.nix
Due: wolf deployment, puyak deployment

l: set isNormalUser
  lass/2configs/default.nix
Due: none

l power-action: set isNormalUser
  lass/2configs/power-action.nix
Due: none

tv imagescan-plugin-networkscan: init at 1.1.3
  tv/5pkgs/simple/imagescan-plugin-networkscan.nix
Due: none

tv utsushi-customized: use upstream package
  tv/2configs/xp-332.nix
  tv/5pkgs/simple/utsushi.nix
Due: none

tv xp-332: update hostname
  tv/2configs/xp-332.nix
Due: none

l coaxmetal: update config
  lass/1systems/coaxmetal/config.nix
Due: none

l: set tmpOnTmpfs
  lass/2configs/default.nix
Due: none

l green.r: update android weechat key
  lass/1systems/green/config.nix
Due: none

l bitcoin: set isNormalUser, cleanup
  lass/2configs/bitcoin.nix
Due: none

l games: isNormalUser
  lass/2configs/games.nix
Due: none

l wine: isNormalUser, winestable
  lass/2configs/wine.nix
Due: none

l coaxmetal.r: remove old bluetooth settings
  lass/1systems/coaxmetal/config.nix
Due: none

l mpv: disable autosub for now
  lass/2configs/mpv.nix
Due: none

ma pkgs.chitubox: use archive.org link
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/pflanzen_giessen_erinnerung.nix
  makefu/5pkgs/chitubox/default.nix
Due: nur-packages makefu

nixpkgs: eaba787 -> aa57635
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l coaxmetal.r: enable zfs unstable
  lass/1systems/coaxmetal/physical.nix
Due: none

l gg23: set domain
  lass/2configs/gg23.nix
Due: none

hw x220: disable deprecated rngd
  krebs/2configs/hw/x220.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
