Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

external: kmein takes over graph.r
  krebs/3modules/external/default.nix
  krebs/3modules/makefu/default.nix
  makefu/2configs/deployment/graphs.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

nixpkgs: 21.05 -> 21.11
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

nixpkgs: 2452847 -> 96b4157
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l bitlbee: disable dynamicUser
  lass/2configs/bitlbee.nix
Due: none

l hass: use new mosquitto config
  lass/2configs/hass/default.nix
Due: none

htgen: generate group for every user
  krebs/3modules/htgen.nix
Due: wolf deployment, puyak deployment

realwallpaper: add group
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

tinc_graphs: add groups
  krebs/3modules/tinc_graphs.nix
Due: wolf deployment, puyak deployment

brockman: add group
  krebs/3modules/brockman.nix
Due: wolf deployment, puyak deployment

buildbot: add groups to users
  krebs/3modules/buildbot/master.nix
  krebs/3modules/buildbot/slave.nix
Due: wolf deployment, puyak deployment

github-host-sync: add group
  krebs/3modules/github-hosts-sync.nix
Due: wolf deployment, puyak deployment

l usershadow: remove legacy pamEnvironment
  lass/3modules/usershadow.nix
Due: none

l usershadow: add groups to security.wrappers
  lass/3modules/usershadow.nix
Due: none

nixpkgs: 96b4157 -> a640d83
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 715f634 -> 6daa4a5
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l coaxmetal.r: remove obsolete trackpoint patch (is now upstream)
  lass/1systems/coaxmetal/physical.nix
Due: none

shack glados: init ampel
  krebs/2configs/shack/glados/automation/ampel.nix
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

ma x.r: disable elasticsearch
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma ham: update light automation
  makefu/2configs/home/ham/automation/light_buttons.nix
  makefu/2configs/home/ham/light/arbeitszimmer.nix
Due: nur-packages makefu

ma ham: add tile
  makefu/0tests/data/secrets/hass/tile.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/device_tracker/tile.nix
Due: nur-packages makefu

ma minimal: same type for use_tempaddr as network-interfaces
  makefu/2configs/minimal.nix
Due: nur-packages makefu

ma default: disable sendmail security wrapper
  makefu/2configs/default.nix
Due: nur-packages makefu

mqtt: migrate to new configuration format
  krebs/2configs/shack/mqtt.nix
  makefu/2configs/mqtt.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

filebitch.r puyak.r: disable stats collection via collectd
  krebs/1systems/filebitch/config.nix
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

shack: set groups for created users
  krebs/2configs/shack/muell_mail.nix
  krebs/2configs/shack/muellshack.nix
  krebs/2configs/shack/node-light.nix
  krebs/2configs/shack/powerraw.nix
  krebs/2configs/shack/s3-power.nix
  krebs/2configs/shack/shackDNS.nix
Due: wolf deployment, puyak deployment

ma ham/mqtt: convert to new mosquitto configuration
  makefu/2configs/home/ham/mqtt.nix
Due: nur-packages makefu

ma dcpp: migrate to 21.11 config
  makefu/2configs/dcpp/hub.nix
Due: nur-packages makefu

ma pkgs.xmm7360: use lib instead of stdenv.lib
  makefu/5pkgs/xmm7360/default.nix
Due: nur-packages makefu

filebitch.r puyak.r: disable more collectd
  krebs/1systems/filebitch/config.nix
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

arcadeomat.r wolf.r: remove use_tempaddr
  krebs/1systems/arcadeomat/config.nix
  krebs/1systems/wolf/config.nix
Due: wolf deployment, puyak deployment

ma tools/dev: use python37 for default python package
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma iso: fix ipv6 config
  makefu/1systems/iso/target-config.nix
Due: nur-packages makefu

ma: add groups to users
  makefu/2configs/share/temp-share-samba.nix
  makefu/2configs/share/wbob.nix
  makefu/2configs/stats/arafetch.nix
  makefu/3modules/ps3netsrv.nix
Due: nur-packages makefu

ma filepimp.r: replace wakeonlan
  makefu/1systems/filepimp/config.nix
Due: nur-packages makefu

ma: add more groups to users
  krebs/2configs/shack/share.nix
  lass/2configs/prism-share.nix
  makefu/2configs/filepimp-share.nix
  makefu/2configs/lanparty/samba.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

ma neovim: disable python-language-server for now
  makefu/2configs/editor/neovim/default.nix
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma filepimp.r: wakeOnLan -> wakeOnLan.enable
  makefu/1systems/filepimp/config.nix
Due: nur-packages makefu

ma pkgs: stdenv.lib -> lib
  makefu/5pkgs/beef/default.nix
  makefu/5pkgs/bintray-upload/default.nix
  makefu/5pkgs/cmpforopenssl/default.nix
  makefu/5pkgs/custom/alsa-tools/default.nix
  makefu/5pkgs/custom/qcma/default.nix
  makefu/5pkgs/debmirror/default.nix
  makefu/5pkgs/default.nix
  makefu/5pkgs/devpi/default.nix
  makefu/5pkgs/gen-oath-safe/default.nix
  makefu/5pkgs/kalauerbot/default.nix
  makefu/5pkgs/logstash-input-rss/default.nix
  makefu/5pkgs/logstash-output-exec/default.nix
  makefu/5pkgs/novnc/default.nix
  makefu/5pkgs/ns-atmosphere-programmer/default.nix
  makefu/5pkgs/nx_game_info/default.nix
  makefu/5pkgs/pavumeter/default.nix
  makefu/5pkgs/studio-link/default.nix
  makefu/5pkgs/uhub/default.nix
  makefu/5pkgs/v4l2loopback-dc/default.nix
  makefu/5pkgs/xdcc-dl/default.nix
Due: nur-packages makefu

ma tools/dev: remove remaining parts which pull in python-language-server
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma ham/mqtt: remove obsolete checkPasswords
  makefu/2configs/home/ham/mqtt.nix
Due: nur-packages makefu
