Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l ubik.r: enable nextcloud
  lass/1systems/ubik/config.nix
Due: none

l themes: ignore gsettings errors
  lass/2configs/themes.nix
Due: none

nixpkgs-unstable: 04af42f -> 645ff62
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: 33223d4 -> 0de8605
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

permown: fix flakify fuckups
  krebs/3modules/permown.nix
Due: wolf deployment, puyak deployment

Revert "tv alacritty: automatically select hidpi variant"
  tv/2configs/default.nix
Due: none

tv wu: RIP
  kartei/tv/hosts/wu.nix
  kartei/tv/wiregrill/wu.pub
  tv/1systems/wu/config.nix
  tv/1systems/wu/lib
  tv/2configs/backup.nix
  tv/2configs/exim-smarthost.nix
  tv/2configs/hw/w110er.nix
  tv/2configs/nets/hkw.nix
Due: none

treewide: replaceChars -> replaceStrings
  krebs/2configs/shack/prometheus/unifi.nix
  krebs/3modules/acl.nix
  krebs/5pkgs/simple/netcup/default.nix
  lib/pure.nix
  makefu/3modules/snapraid.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

tv xserver: drop synaptics config
  tv/2configs/xserver/default.nix
Due: none

puyak: fix flakify fuckups
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

wolf: fix flakify fuckups
  krebs/1systems/wolf/config.nix
Due: wolf deployment, puyak deployment

email-header: 0.4.1-tv2 -> 0.4.2-tv1
  krebs/5pkgs/haskell/email-header.nix
Due: wolf deployment, puyak deployment

iana-etc: fix flakify fuckups
  krebs/3modules/iana-etc.nix
Due: wolf deployment, puyak deployment

hotdog.r: define old privkey
  krebs/1systems/hotdog/config.nix
Due: wolf deployment, puyak deployment

kartei samulartiy: init murks
  kartei/samularity/default.nix
Due: none

kartei janik: init hertz
  kartei/janik/default.nix
Due: none

lass: change default mail to green.r
  kartei/lass/default.nix
Due: none

exim-smarthost: add xkey
  krebs/2configs/exim-smarthost.nix
Due: wolf deployment, puyak deployment

flakes: expose krebs.pkgs overlay
  flake.nix
Due: none

modules: expose kartei as module
  krebs/3modules/kartei.nix
Due: wolf deployment, puyak deployment

modules/default: sort entries
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

l aergia.r: import jovian nixos
  lass/1systems/aergia/config.nix
Due: none

l aergia.r: configure autorandr for docking
  lass/1systems/aergia/config.nix
Due: none

l aergia.r: add more tools
  lass/1systems/aergia/config.nix
Due: none

kartei mors: disable consul
  kartei/lass/mors.nix
Due: none

kartei neoprims: add cache.neoprism.r
  kartei/lass/neoprism.nix
Due: none

kartei prism: get ip from same file
  kartei/lass/prism.nix
Due: none

ircd: remove broken max-line-length
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

reaktor2: add vicuna plugin
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: join #fin on irc.r
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

exim-smarthost: allow defining extraRouters in multiple locations
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

fzfmenu: use upstream writers
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

htgen-paste: use _override for content_type forcing
  krebs/5pkgs/simple/htgen-paste/src/htgen-paste
Due: wolf deployment, puyak deployment

irc-announce: use upstream writers
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: don't pin imagemagick
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l aergia.r: update disko config
  lass/1systems/aergia/disk.nix
Due: none

l aergia.r: remove cruft from physical.nix
  lass/1systems/aergia/physical.nix
Due: none

l aergia.r: reinit usb after docking
  lass/1systems/aergia/physical.nix
Due: none

l daedalus.r: update stuff
  lass/1systems/daedalus/config.nix
Due: none

l dishfire.r: add monitoring & consul
  lass/1systems/dishfire/config.nix
Due: none
