Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

kartei: update aendernix.r
  kartei/mic92/default.nix
Due: none

kartei/mic92: drop old hosts
  kartei/mic92/default.nix
Due: none

l radio: move to 2/services
  lass/1systems/neoprism/config.nix
  lass/1systems/radio/config.nix
  lass/2configs/services/radio/container-host.nix
  lass/2configs/services/radio/controls.html
  lass/2configs/services/radio/default.nix
  lass/2configs/services/radio/news.nix
  lass/2configs/services/radio/radio.liq
  lass/2configs/services/radio/shell.nix
  lass/2configs/services/radio/weather.nix
  lass/2configs/services/radio/weather_for_ips.py
Due: none

l neoprism.r: serve radio.lassul.us
  lass/1systems/neoprism/config.nix
  lass/2configs/services/radio/proxy.nix
Due: none

l yellow.r: move flix to services
  lass/1systems/neoprism/config.nix
  lass/1systems/yellow/config.nix
  lass/2configs/services/flix/container-host.nix
  lass/2configs/services/flix/default.nix
  lass/2configs/services/flix/proxy.nix
  lass/2configs/yellow-host.nix
Due: none

l orange.r: add coms service, proxy via neoprism.r
  lass/1systems/neoprism/config.nix
  lass/1systems/prism/config.nix
  lass/2configs/murmur.nix
  lass/2configs/services/coms/default.nix
  lass/2configs/services/coms/jitsi.nix
  lass/2configs/services/coms/murmur.nix
  lass/2configs/services/coms/proxy.nix
Due: none

sync-containers3 syncer: use double space for faster (and still safe) sync
  krebs/3modules/sync-containers3.nix
Due: wolf deployment, puyak deployment

ma wbob.r: use new zigbee stick
  makefu/1systems/wbob/config.nix
  makefu/2configs/bureautomation/zigbee2mqtt/default.nix
  makefu/2configs/hw/slaesh.nix
Due: nur-packages makefu

kartei/mic92: add hosts
  kartei/mic92/default.nix
Due: none

kartei/mic92: drop martha
  kartei/mic92/default.nix
Due: none

exim: add extraRouters option
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim: add empty default for internet-aliases & system-aliases
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

kartei/mic92: expose public tinc endpoint addresses
  kartei/mic92/default.nix
Due: none

kartei: init dave
  kartei/dave/default.nix
Due: none

kartei: update 0x4A6F
  kartei/0x4A6F/default.nix
  kartei/0x4A6F/ssh/0x4A6F.pub
  kartei/others/default.nix
Due: none

l orange.r: add git/cgit
  lass/1systems/orange/config.nix
  lass/2configs/services/git/default.nix
  lass/2configs/services/git/proxy.nix
Due: none

l git: announce from orange.r
  lass/2configs/git.nix
Due: none

orange.r: add cgit.orange.r alias
  kartei/lass/orange.nix
Due: none

buildbot-ci: prism.r -> orange.r
  krebs/2configs/buildbot-stockholm.nix
Due: wolf deployment, puyak deployment

hotdog.r: disable github-hosts-sync
  krebs/1systems/hotdog/config.nix
Due: wolf deployment, puyak deployment

l coms: proxy also ipv6
  lass/2configs/services/coms/proxy.nix
Due: none

tv ru: replace zfs by btrfs
  tv/1systems/ru/config.nix
Due: none

nixpkgs: 0218941 -> e2c9779
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

tv fzmenu: admit symlinks
  tv/5pkgs/simple/fzmenu/bin/otpmenu
  tv/5pkgs/simple/fzmenu/bin/passmenu
  tv/5pkgs/simple/fzmenu/default.nix
Due: none

ma wiregrill: also masquerade ipv6
  makefu/2configs/wireguard/wiregrill.nix
Due: nur-packages makefu

ma gum.r: enable ipv6 again
  makefu/1systems/gum/config.nix
  makefu/1systems/gum/hetznercloud/network.nix
Due: nur-packages makefu

ma wiregrill: allow masquerading between wiregrill/retiolum
  makefu/2configs/wireguard/wiregrill.nix
Due: nur-packages makefu

nixpkgs-unstable: 2caf4ef -> 19cf008
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l coaxmetal.r: disable xonsh
  lass/1systems/coaxmetal/config.nix
Due: none

github: update rsa key
  krebs/3modules/github/known-hosts.nix
Due: wolf deployment, puyak deployment

kartei/srounce: init
  kartei/srounce/default.nix
Due: none

kartei/mic92: add llama.r
  kartei/mic92/default.nix
Due: none

brockman: 4.0.4 -> 5.1.1
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

kartei/feliks: add papawhakaaro, iti, ...
  kartei/feliks/default.nix
  kartei/others/default.nix
Due: none

kartei/feliks: add ipv6 addresses
  kartei/feliks/default.nix
Due: none

kartei/felix: fix eval
  kartei/feliks/default.nix
Due: none

ma zsh: speedup, fix autocompletion for brain
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu
