Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l: add consul config
  lass/2configs/consul.nix
Due: none

l: init pkgs.weechat-matrix
  lass/5pkgs/weechat-matrix/default.nix
Due: none

l sync-containers3: don't kill container on lock loss
  lass/3modules/sync-containers3.nix
Due: none

reaktor2 krebsfood: support poi and radius
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

l green.r: add weechat auto mode
  lass/1systems/green/config.nix
  lass/2configs/et-server.nix
  lass/2configs/weechat.nix
Due: none

l yellow.r: rotate endpoint, restart after timeout
  lass/1systems/yellow/config.nix
Due: none

l yellow.r: use magnetico
  lass/1systems/yellow/config.nix
Due: none

l yellow.r: inotifyTools -> inotify-tools
  lass/1systems/yellow/config.nix
Due: none

airsensor-py: fix py39 issues
  makefu/5pkgs/airsensor-py/default.nix
Due: nur-packages makefu

nixpkgs: 1b47226 -> 6474d93
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: d40fea9 -> b457130
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

pkgs.ergo: use upstream
  krebs/5pkgs/simple/ergo/default.nix
Due: wolf deployment, puyak deployment

l zsh: use atuin for shell history
  lass/2configs/zsh.nix
Due: none

l zsh: add direnv
  lass/2configs/zsh.nix
Due: none

mic92: add host ruby
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

init pkgs.stable-generate
  krebs/5pkgs/simple/stable-generate/default.nix
Due: wolf deployment, puyak deployment

ergo: use ergochat package
  krebs/3modules/ergo.nix
Due: wolf deployment, puyak deployment

stable-generate: set PATH
  krebs/5pkgs/simple/stable-generate/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add !confuse
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 18@p: fix PATH
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

matterbridge: simplify
  krebs/2configs/matterbridge.nix
Due: wolf deployment, puyak deployment

l: rotate yubikey pubkey
  krebs/3modules/lass/pgp/yubikey.pgp
Due: wolf deployment, puyak deployment

l green.r: setup as atuin-server
  lass/1systems/green/config.nix
  lass/2configs/atuin-server.nix
Due: none

l green.r: use DHCP
  lass/1systems/green/physical.nix
Due: none

l green.r: use unstable
  lass/1systems/green/source.nix
Due: none

l green.r: sync notmuch with /var/state
  lass/1systems/green/config.nix
Due: none

l sync-containers3: increase kill timeout
  lass/3modules/sync-containers3.nix
Due: none

shack doorstatus: get doorstatus on extra line
  krebs/2configs/shack/doorstatus.sh
Due: wolf deployment, puyak deployment

news-host: use DHCP, remove puyak
  krebs/2configs/news-host.nix
Due: wolf deployment, puyak deployment

hashPassword: use nixpkgs writers
  krebs/5pkgs/simple/hashPassword/default.nix
Due: wolf deployment, puyak deployment

weechat-declarative: use correct _file
  krebs/5pkgs/simple/weechat-declarative/default.nix
Due: wolf deployment, puyak deployment

weechat-declarative: copy writable file into $CONFDIR
  krebs/5pkgs/simple/weechat-declarative/default.nix
Due: wolf deployment, puyak deployment

remove broken nix-prefetch-github
  krebs/5pkgs/simple/nix-prefetch-github.nix
Due: wolf deployment, puyak deployment

l: use nsxiv
  lass/2configs/baseX.nix
Due: none

l: use iosevka font from kookie
  lass/2configs/alacritty.nix
  lass/2configs/baseX.nix
Due: none

l alacritty: open alacritty same session if possible
  lass/2configs/alacritty.nix
Due: none

l: use clipmenu instead of copyq
  lass/2configs/baseX.nix
Due: none

l shodan.r: remove broken cryptoModules config
  lass/1systems/shodan/physical.nix
Due: none

l shodan.r: remove tmpfs on /tmp
  lass/1systems/shodan/physical.nix
Due: none

l shodan.r: use samba instead of nfs for prism
  lass/1systems/shodan/config.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
