Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma bitlbee: add mastodon plugin
  makefu/2configs/bitlbee.nix
Due: nur-packages makefu

ma default: add flakes and nix-command flags
  makefu/2configs/default.nix
Due: nur-packages makefu

ma rss: update feeds
  makefu/2configs/deployment/feed.euer.krebsco.de/filter.yml
  makefu/2configs/deployment/rss/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma nextcloud: try harder to start nextcloud after cloud mount
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma rss: add more urils
  makefu/2configs/deployment/rss/urls
Due: nur-packages makefu

ma editor: re-add vim-addon-nix
  makefu/2configs/editor/vim.nix
  makefu/2configs/editor/vimrc
Due: nur-packages makefu

ma hw: add pseyecam,cd rip setup
  makefu/2configs/hw/cdrip.nix
  makefu/2configs/hw/pseyecam.nix
Due: nur-packages makefu

ma kdeconnect: reformat
  makefu/2configs/kdeconnect.nix
Due: nur-packages makefu

ma main-laptop: remove look-up
  makefu/2configs/main-laptop.nix
Due: nur-packages makefu

ma share: try harder to start everything after cloud mount
  makefu/2configs/nginx/euer.wiki.nix
  makefu/2configs/share/gum-client.nix
  makefu/2configs/share/hetzner-client.nix
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma shiori: use new service
  makefu/2configs/shiori.nix
Due: nur-packages makefu

ma systemdultras: use mastodon instead of twitter for lennart
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma tools: add pwqgen-ger,thunderbird
  makefu/2configs/tools/core-gui.nix
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma wireguard: ensure correct routing on server
  makefu/2configs/wireguard/server.nix
  makefu/2configs/wireguard/wiregrill.nix
Due: nur-packages makefu

ma respeaker: init
  makefu/2configs/audio/respeaker.nix
Due: nur-packages makefu

ma ntfy: init
  makefu/2configs/deployment/ntfysh.nix
Due: nur-packages makefu

ma deployment: prepare nixos.wiki
  makefu/2configs/deployment/nixos.wiki/default.nix
  makefu/2configs/deployment/nixos.wiki/mediawiki.module.nix
  makefu/2configs/deployment/nixos.wiki/mediawiki.nix
  makefu/2configs/deployment/nixos.wiki/mediawiki.password.txt
  makefu/2configs/deployment/nixos.wiki/network.nix
Due: nur-packages makefu

ma gum.r: apply all deployment changes
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma latte: remove mediawiki-matrix-bot
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

ma omo.r: apply deployment changes
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma minicake.r: init
  makefu/1systems/minicake/config.nix
Due: nur-packages makefu

ma pkgs.hermesledcontrol: add usage
  makefu/5pkgs/HermesLedControl/default.nix
Due: nur-packages makefu

ma overlays: init prefer-remote-fetch
  makefu/2configs/overlays/prefer-remote-fetch.nix
Due: nur-packages makefu

ma pkgs.seed-voicecard: init
  makefu/5pkgs/seeed-voicecard/default.nix
Due: nur-packages makefu

ma pkgs.stockholm-new-host: init fork of lassulus script to add new host
  makefu/5pkgs/stockholm-new-host/default.nix
Due: nur-packages makefu

krebs filebitch.r: use dhcp for interface
  krebs/1systems/filebitch/config.nix
Due: wolf deployment, puyak deployment

krebs puyak.r: fetch u300 power
  krebs/1systems/puyak/config.nix
  krebs/2configs/shack/grafana.nix
  krebs/2configs/shack/influx.nix
  krebs/2configs/shack/power/u300-power.nix
Due: wolf deployment, puyak deployment

krebs puyak.r: enable wifi
  krebs/1systems/puyak/net.nix
Due: wolf deployment, puyak deployment

kartei ma: add snake,omow
  kartei/makefu/default.nix
  kartei/makefu/retiolum/snake_ed25519.pub
  kartei/makefu/wiregrill/omo.pub
Due: none

krebs kruemel.r: init for reference
  krebs/1systems/kruemel/config.nix
Due: wolf deployment, puyak deployment

krebs kruemel.r: rip
  krebs/1systems/kruemel/config.nix
Due: wolf deployment, puyak deployment

ma gui/gnome: use night light from gnome instead
  makefu/2configs/gui/gnome.nix
Due: nur-packages makefu

ma main-laptop: use gtk power management instead of power-action
  makefu/2configs/main-laptop.nix
Due: nur-packages makefu

ma gnome: deploy shortcuts and config with dconf
  makefu/2configs/gui/gnome.nix
Due: nur-packages makefu

l: move wallpaper to wallpaper.r
  kartei/lass/prism.nix
  lass/2configs/fetchWallpaper.nix
  lass/2configs/realwallpaper.nix
Due: none

vicuna-chat: init
  krebs/5pkgs/simple/vicuna-chat/default.nix
Due: wolf deployment, puyak deployment

cal: use radicale with git sync
  krebs/2configs/cal.nix
Due: wolf deployment, puyak deployment

tv winmax2: remove hidpi option
  tv/2configs/hw/winmax2.nix
Due: none

tv sshd: admit hosts without IPv4 addresses
  tv/2configs/sshd.nix
Due: none

nixpkgs-unstable: 7084250 -> 7409480
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
