Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

exim-smarthost: eloop2019 -> eloop2022
  krebs/2configs/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: remove unused eloop addresses
  krebs/2configs/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: add spam@eloop.org
  krebs/2configs/exim-smarthost.nix
Due: wolf deployment, puyak deployment

bier balance: make : in nick optional
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

mic92: drop jarvis
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l domsen nextcloud: 23 -> 24
  lass/2configs/websites/domsen.nix
Due: none

ma x.r: disable xmm7360 for now (build fails)
  makefu/1systems/x/x13/default.nix
  makefu/2configs/hw/network-manager.nix
  makefu/2configs/tools/core-gui.nix
Due: nur-packages makefu

ma: fix 22.05 evaluation errors
  makefu/2configs/gui/automatic-diskmount.nix
  makefu/2configs/gui/base.nix
  makefu/2configs/gui/wbob-kiosk.nix
  makefu/2configs/home/ham/automation/check-in.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/hw/bluetooth.nix
  makefu/2configs/tools/core-gui.nix
  makefu/2configs/tools/pcmanfm-extra.nix
  makefu/2configs/tools/studio.nix
  makefu/5pkgs/chitubox/default.nix
  makefu/5pkgs/ns-atmosphere-programmer/default.nix
Due: nur-packages makefu

ma x.r: disable dictd
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma: disable nixpkgs-unstable
  makefu/1systems/omo/source.nix
  makefu/1systems/x/source.nix
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

nixpkgs: d108690 -> 8b538fc
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l radio: amplify newsspeaker by 1.4
  lass/2configs/radio/default.nix
Due: none

l radio weather_report: less precision for floats
  lass/2configs/radio/weather_for_ips.py
Due: none

flameshot: pin 0.10.2
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

flameshot: make imgur great again
  krebs/5pkgs/override/default.nix
  krebs/5pkgs/override/flameshot/flameshot_imgur_0.10.2.patch
  krebs/5pkgs/override/flameshot/flameshot_imgur_0.6.0.patch
Due: wolf deployment, puyak deployment

l krops: use nom for build
  lass/krops.nix
Due: none

nixpkgs: d108690 -> cd90e77
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 5ce6597 -> f2537a5
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

fysiirc: escape, post raw json link
  lass/2configs/fysiirc.nix
Due: none

github-known-hosts: update list
  krebs/3modules/github-known-hosts.nix
Due: wolf deployment, puyak deployment

cidr2glob: python -> python3
  krebs/5pkgs/simple/cidr2glob.nix
Due: wolf deployment, puyak deployment

veroroute: init at 2.28
  krebs/5pkgs/simple/veroroute.nix
Due: wolf deployment, puyak deployment

external: Add v60.dbalan.in to hosts.
  krebs/3modules/default.nix
  krebs/3modules/external/dbalan.nix
Due: wolf deployment, puyak deployment

tv: iana_etc -> iana-etc
  tv/2configs/default.nix
Due: none

tv: pass-otp -> pass.withExtensions
  tv/1systems/xu/config.nix
  tv/5pkgs/simple/fzmenu/default.nix
Due: none

tv: manpages -> man-pages
  tv/1systems/mu/config.nix
  tv/2configs/man.nix
  tv/2configs/xserver/default.nix
Due: none

tv: firefoxWrapper -> firefox
  tv/1systems/alnus/config.nix
  tv/1systems/mu/config.nix
  tv/1systems/querel/config.nix
  tv/5pkgs/simple/ff.nix
Due: none

krebs: iana_etc -> iana-etc
  krebs/3modules/iana-etc.nix
Due: wolf deployment, puyak deployment

tv: pulseaudioLight -> pulseaudio
  tv/2configs/pulse.nix
  tv/2configs/xserver/default.nix
Due: none

tv xmonad: add 22.05 compatibility
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv dhcpcd: RIP
  tv/5pkgs/override/dhcpcd.nix
Due: none

tv networkd: disable systemd-networkd-wait-online
  tv/2configs/default.nix
  tv/2configs/networkd.nix
Due: none

tv pkgs pushBack: fix typo
  tv/5pkgs/default.nix
Due: none

ma ham/project-tracker: init
  makefu/2configs/home/ham/automation/project_tracker.nix
Due: nur-packages makefu

nixpkgs: cd90e77 -> e732e1f
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma awesomecfg: disable telegram
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

reaktor2: bier ledger nicer nicknames
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: f2537a5 -> e4d49de
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

reaktor2: 0.4.0a -> 0.4.2
  krebs/5pkgs/haskell/reaktor2/default.nix
Due: wolf deployment, puyak deployment
