Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

hotdog: enable gollum as wiki.r service
  krebs/1systems/hotdog/config.nix
  krebs/2configs/wiki.nix
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

buildot-stockholm: listen on build.r
  krebs/2configs/buildbot-stockholm.nix
Due: wolf deployment, puyak deployment

Changed Gießzeit to 10 seconds
  krebs/2configs/shack/glados/multi/wasser.nix
Due: wolf deployment, puyak deployment

krebs.secret: shell.escape file.service
  krebs/3modules/secret.nix
Due: wolf deployment, puyak deployment

ma bureautomation: fetch latest xkcd comic
  makefu/2configs/bureautomation/camera/comic.nix
  makefu/2configs/bureautomation/comic-updater.nix
  makefu/2configs/bureautomation/default.nix
Due: nur-packages makefu

wiki: announce changes in #xxx, serve with cgit
  krebs/0tests/data/secrets/gollum.id_ed25519
  krebs/2configs/wiki.nix
  krebs/3modules/default.nix
  krebs/3modules/gollum.nix
Due: wolf deployment, puyak deployment

gitlab-ci: debug gpg issue
  .gitlab-ci.yml
Due: wolf deployment, puyak deployment

wiki: rename repo to wiki
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

l: add deploy to all systems
  lass/1systems/blue/config.nix
  lass/2configs/default.nix
  lass/5pkgs/deploy/default.nix
Due: none

wiki: allow push to git
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

gitlab-ci: run only on tags
  .gitlab-ci.yml
  krebs/2configs/shack/gitlab-runner.nix
Due: wolf deployment, puyak deployment

mic92: allocate retiolum subnet for tinc
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: use subnet that does not include my server
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

krebs.dns: allow disabling search-domain
  krebs/3modules/default.nix
  krebs/3modules/dns.nix
  krebs/3modules/hosts.nix
Due: wolf deployment, puyak deployment

ma pkgs.hactool: init at 1.4.0
  makefu/0tests/data/secrets/bureautomation/citadel.nix
  makefu/2configs/git/cgit-retiolum.nix
  makefu/5pkgs/hactool/default.nix
Due: nur-packages makefu

ma pkgs.nx_game_info: init at 0.7.1
  makefu/5pkgs/nx_game_info/default.nix
Due: nur-packages makefu

ma pkgs.hactool: fix metadata
  makefu/5pkgs/hactool/default.nix
Due: nur-packages makefu

ma tools: add newly packaged tools
  makefu/2configs/tools/consoles.nix
  makefu/2configs/tools/media.nix
Due: nur-packages makefu

pkgs.hactool: fix sha256sum
  makefu/5pkgs/hactool/default.nix
Due: nur-packages makefu

ma pkgs.nsrenamer: init
  makefu/5pkgs/nsrenamer/default.nix
  makefu/5pkgs/nsrenamer/nsrenamer.sh
Due: nur-packages makefu

ma pkgs.nsrenamer: new naming scheme
  makefu/5pkgs/nsrenamer/default.nix
  makefu/5pkgs/nsrenamer/nsrenamer.sh
Due: nur-packages makefu

tv: privatize gg23
  krebs/3modules/default.nix
  krebs/3modules/tv/default.nix
  tv/2configs/default.nix
  tv/2configs/nets/gg23.nix
Due: wolf deployment, puyak deployment

tv nets: gg23 -> hkw
  tv/2configs/binary-cache/default.nix
  tv/2configs/default.nix
  tv/2configs/nets/hkw.nix
  tv/2configs/nginx/public_html.nix
Due: none

mic92: update eva public key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

eva: add public ip addresses
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: lower-case user
  krebs/1systems/puyak/config.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/mic92.nix
  lass/1systems/prism/config.nix
Due: wolf deployment, puyak deployment

Mic92 -> mic92
  krebs/3modules/external/ssh/mic92.pub
Due: wolf deployment, puyak deployment

tv alnus: btrfs -> ext4
  tv/1systems/alnus/config.nix
Due: none

tv alnus: remove chromium
  tv/1systems/alnus/config.nix
Due: none

tv alnus: enable earlyoom; prefer firefox tabs
  tv/1systems/alnus/config.nix
Due: none

tv alnus: don't allow unfree
  tv/1systems/alnus/config.nix
Due: none

glados/wasser: giesszeit 10 -> 20
  krebs/2configs/shack/glados/multi/wasser.nix
Due: wolf deployment, puyak deployment

ma pkgs.chapter-marker: bump to latest master
  makefu/5pkgs/chapter-marker/default.nix
Due: nur-packages makefu

ma pkgs.awesomecfg: start chapter-marks with ctrl-u, create new entry with ctrl-j
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

ma wbob.r: disable logging server
  makefu/1systems/wbob/config.nix
  makefu/2configs/deployment/docker/template.md
Due: nur-packages makefu

krebs.tinc: add support for ED25519 keys
  krebs/3modules/tinc.nix
  lib/types.nix
Due: wolf deployment, puyak deployment

tv au: init
  krebs/3modules/tv/default.nix
  tv/1systems/au/config.nix
  tv/1systems/au/disks.nix
  tv/2configs/nets/hkw.nix
Due: wolf deployment, puyak deployment

nixpkgs: e23e054 -> 4267405
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 8e2b14a -> c59ea8b
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

krebs.permown: add keepGoing option
  krebs/3modules/permown.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
