Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma x.r: remove obsolete import
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma pkgs.soldat: rip
  makefu/5pkgs/soldat/default.nix
Due: nur-packages makefu

ma x.r: use upstream kernel for working zfs build
  makefu/1systems/x/x13/default.nix
Due: nur-packages makefu

tv gitrepos: add ircaids
  tv/2configs/gitrepos.nix
Due: none

ircaids: init at 1.0.0
  krebs/5pkgs/simple/ircaids.nix
Due: wolf deployment, puyak deployment

irc-announce: use ircaids
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 6120ac5 -> ce7a119
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 09cd65b -> 70088dc
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

external: add bvg.kmein.r alias
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l codimd: set domain and serve via ssl
  lass/2configs/codimd.nix
Due: none

ircaids: move to dir
  krebs/5pkgs/simple/ircaids/default.nix
Due: wolf deployment, puyak deployment

pkgs: use relative stockholm.lib
  krebs/5pkgs/default.nix
  krebs/5pkgs/haskell/blessings.nix
  krebs/5pkgs/haskell/default.nix
  krebs/5pkgs/haskell/email-header.nix
  krebs/5pkgs/override/default.nix
  krebs/5pkgs/simple/bling/default.nix
  krebs/5pkgs/simple/cgit-clear-cache.nix
  krebs/5pkgs/simple/default.nix
  krebs/5pkgs/simple/eximlog.nix
  krebs/5pkgs/simple/flameshot-once/default.nix
  krebs/5pkgs/simple/flameshot-once/profile.nix
  krebs/5pkgs/simple/fzfmenu/default.nix
  krebs/5pkgs/simple/git-hooks/default.nix
  krebs/5pkgs/simple/htgen-cyberlocker/default.nix
  krebs/5pkgs/simple/htgen-imgur/default.nix
  krebs/5pkgs/simple/logf/default.nix
  krebs/5pkgs/simple/netcup/default.nix
  krebs/5pkgs/simple/reaktor2-plugins.nix
  krebs/5pkgs/simple/urix.nix
  krebs/5pkgs/simple/withGetopt.nix
  krebs/5pkgs/test/default.nix
Due: wolf deployment, puyak deployment

pkgs: import relative stockholm lib only once
  krebs/5pkgs/default.nix
  krebs/5pkgs/simple/default.nix
  krebs/default.nix
Due: wolf deployment, puyak deployment

external: add names.kmein.r alias
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

krebs: stdenv.lib -> lib
  krebs/5pkgs/haskell/X11-aeson.nix
  krebs/5pkgs/haskell/blessings.nix
  krebs/5pkgs/haskell/brockman/default.nix
  krebs/5pkgs/haskell/email-header.nix
  krebs/5pkgs/haskell/hack.nix
  krebs/5pkgs/haskell/kirk.nix
  krebs/5pkgs/haskell/much.nix
  krebs/5pkgs/haskell/news.nix
  krebs/5pkgs/haskell/reaktor2/default.nix
  krebs/5pkgs/haskell/recht.nix
  krebs/5pkgs/haskell/scanner.nix
  krebs/5pkgs/haskell/xmonad-aeson.nix
  krebs/5pkgs/haskell/xmonad-stockholm.nix
  krebs/5pkgs/simple/buildbot-classic/sqlparse.nix
Due: wolf deployment, puyak deployment

tv: stdenv.lib -> lib
  tv/5pkgs/haskell/mailaids.nix
  tv/5pkgs/haskell/th-env/default.nix
Due: none

ma tools: add freecad
  makefu/1systems/wbob/config.nix
  makefu/2configs/tools/extra-gui.nix
Due: nur-packages makefu

tinc module: add group for user
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

fetchWallpaper module: add group
  krebs/3modules/fetchWallpaper.nix
Due: wolf deployment, puyak deployment

l coaxmetal.r: use nixos-unstable
  lass/1systems/coaxmetal/source.nix
Due: none

mic92: add ed25519 for maurice
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add aenderpad
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

rip Reaktor
  krebs/5pkgs/simple/Reaktor/scripts/random-emoji.sh
  krebs/5pkgs/simple/Reaktor/scripts/random-issue.sh
  krebs/5pkgs/simple/Reaktor/scripts/sed-plugin.py
  krebs/5pkgs/simple/Reaktor/scripts/shack-correct.sh
Due: wolf deployment, puyak deployment

mic92: non-colliding ip address for graham
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add maurice
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix ips of maurice
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add ryan & graham
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

Revert "rip Reaktor"
  krebs/5pkgs/simple/Reaktor/scripts/random-emoji.sh
  krebs/5pkgs/simple/Reaktor/scripts/random-issue.sh
  krebs/5pkgs/simple/Reaktor/scripts/sed-plugin.py
  krebs/5pkgs/simple/Reaktor/scripts/shack-correct.sh
Due: wolf deployment, puyak deployment

ircaids: 1.0.0 -> 1.0.1
  krebs/5pkgs/simple/ircaids/default.nix
Due: wolf deployment, puyak deployment

l: disable tmpfs on /tmp
  lass/2configs/default.nix
Due: none

l coaxmetal.r: build with unstable
  lass/1systems/coaxmetal/source.nix
  lass/krops.nix
Due: none

l green.r: make source.nix ci compatible
  lass/1systems/green/source.nix
Due: none

l blue.r: don't delete nixpkgs-unstable in ci
  lass/1systems/blue/source.nix
Due: none

l: fix test sources
  lass/1systems/blue/source.nix
  lass/1systems/green/source.nix
Due: none

l vim: make more minimal
  lass/2configs/vim.nix
Due: none

nixpkgs: ce7a119 -> 95eed9b
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 70088dc -> 34ad3ff
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l: remove red.r morpheus.r uriel.r
  krebs/3modules/lass/default.nix
  lass/1systems/morpheus/config.nix
  lass/1systems/morpheus/physical.nix
  lass/1systems/red/config.nix
  lass/1systems/red/physical.nix
  lass/1systems/uriel/config.nix
  lass/1systems/uriel/physical.nix
Due: wolf deployment, puyak deployment

l green-host: use echelon.r instead of morpheus.r
  lass/2configs/green-host.nix
Due: none

l green-host: prune backups
  lass/2configs/green-host.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
