Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

tv querel: enable autoLogin
  tv/1systems/querel/config.nix
Due: none

tv nomic: enable ~/bin
  tv/1systems/nomic/config.nix
Due: none

tv alnus: modernize luks config
  tv/1systems/alnus/config.nix
Due: none

pkgs.kpaste: paste either stdin or file from parameter
  krebs/5pkgs/simple/kpaste/default.nix
Due: wolf deployment, puyak deployment

pkgs.kpaste: replace internal host with https external host
  krebs/5pkgs/simple/kpaste/default.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: b61999e -> 467ce5a
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

tv wu: modernize luks config
  tv/1systems/wu/config.nix
Due: none

l vim: new colorscheme
  lass/2configs/vim.nix
Due: none

l hass: allow from wiregrill
  lass/2configs/hass/default.nix
Due: none

l hass: lower dark sensitivity
  lass/2configs/hass/lib.nix
Due: none

l pass: krebs.per-user -> users.users.*.packages
  lass/2configs/pass.nix
Due: none

l: readd morpheus.r
  krebs/3modules/lass/default.nix
  lass/1systems/morpheus/config.nix
  lass/1systems/morpheus/physical.nix
Due: wolf deployment, puyak deployment

nixpkgs: 48723f4 -> e2bb73c
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

dic: 1.1.0 -> 1.1.1
  krebs/5pkgs/simple/dic/default.nix
Due: wolf deployment, puyak deployment

red: init at 0bfb499
  krebs/5pkgs/simple/red.nix
Due: wolf deployment, puyak deployment

external: add hase
  krebs/3modules/external/default.nix
  krebs/3modules/external/ssh/hase.pub
  krebs/3modules/external/tinc/hasegateway.pub
Due: wolf deployment, puyak deployment

shack/ssh-keys: add raute
  krebs/2configs/shack/ssh-keys.nix
Due: wolf deployment, puyak deployment

ma telegraf: add zigbee nodes
  makefu/2configs/stats/telegraf/default.nix
  makefu/2configs/stats/telegraf/hamstats.nix
Due: nur-packages makefu

external/hase: fix hasegateway tinc pubkey
  krebs/3modules/external/tinc/hasegateway.pub
Due: wolf deployment, puyak deployment

ma pkgs.soldat: init
  makefu/5pkgs/soldat/default.nix
Due: nur-packages makefu

ma pkgs.youtube-dl2kodi: init
  makefu/5pkgs/youtube-dl2kodi/default.nix
Due: nur-packages makefu

puyak.r: fix deprecation
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

ma pkgs.debmirror: fix deprecation notice
  makefu/5pkgs/debmirror/default.nix
Due: nur-packages makefu

ma pkgs.dex2jar: use upstream
  makefu/5pkgs/dex2jar/default.nix
Due: nur-packages makefu

ma pkgs.git-xlsx-textconv: mark as broken
  makefu/5pkgs/git-xlsx-textconv/default.nix
Due: nur-packages makefu

ma pkgs.soldat: remove debug code
  makefu/5pkgs/soldat/default.nix
Due: nur-packages makefu

ma pkgs.git-xlsx-textconv: unmark broken
  makefu/5pkgs/git-xlsx-textconv/default.nix
Due: nur-packages makefu

ma pkgs.shiori: bump go to 1.14
  makefu/5pkgs/shiori/default.nix
Due: nur-packages makefu

fzfmenu: move to krebs
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: make -name and -title configurable
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: DRY and don't create temporary file
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: make default prompt configurable
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: support $FZFMENU_FZF_DEFAULT_OPTS
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: make --print-query configurable
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: make --reverse configurable
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

fzfmenu: selectively override FZF_DEFAULT_OPTS
  krebs/5pkgs/simple/fzfmenu/default.nix
Due: wolf deployment, puyak deployment

tv mu: enable autoLogin
  tv/1systems/mu/config.nix
Due: none

tv alnus: enable autoLogin
  tv/1systems/alnus/config.nix
Due: none
