Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

nixpkgs: a165aec -> 91903ce
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 53079ed -> dd14e5d
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

hotdog.r: add agenda.r alias
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

htgen: 1.3.0 -> 1.3.1
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add agenda.r webinterface
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: disable freenode reaktor
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: fix dynamicUser not being able to write agenda
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

l daedalus: disable tor-browser for now
  lass/1systems/daedalus/config.nix
Due: none

reaktor2: fix agenda.r webinterface custom styling
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

mic92: update bills ip address
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add matchbox ed25519 key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add paulheidekrueger
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add redha ed25519 keys
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add ed25519 for grandalf
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: remove paulheidekrueger; add yasmin
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: connect to tinc via internet for bill/nardole
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

execute repo sync only for Mic92
  .github/workflows/repo-sync.yml
Due: none

ma pkgs.beef: bump
  makefu/5pkgs/beef/Gemfile
  makefu/5pkgs/beef/Gemfile.lock
  makefu/5pkgs/beef/gemset.nix
  makefu/5pkgs/beef/update.sh
Due: nur-packages makefu

nixpkgs: 91903ce -> b09c989
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: dd14e5d -> 6ef4f52
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

flameshot: add imgur patch 0.10.1
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

l yellow.r: rotate ovpn
  lass/1systems/yellow/config.nix
Due: none

l: add flix.r alias
  krebs/3modules/lass/default.nix
  lass/1systems/prism/config.nix
Due: wolf deployment, puyak deployment

mic92: add samba to prism
  lass/1systems/prism/config.nix
Due: none

htgen-cyberlocker: init at 1.0.0
  krebs/5pkgs/simple/htgen-cyberlocker/default.nix
  krebs/5pkgs/simple/htgen-cyberlocker/src/htgen-cyberlocker
Due: wolf deployment, puyak deployment

l prism.r: add c.r cyberlocker
  krebs/3modules/lass/default.nix
  lass/2configs/paste.nix
Due: wolf deployment, puyak deployment

l paste: allow CORS
  lass/2configs/paste.nix
Due: none

l paste: add c.krebsco.de
  krebs/3modules/lass/default.nix
  lass/2configs/paste.nix
Due: wolf deployment, puyak deployment

mic92: allow ipv4 on prism/samba
  lass/1systems/prism/config.nix
Due: none

mic92: samba perf options
  lass/1systems/prism/config.nix
Due: none

mic92: remove breaking samba optoins
  lass/1systems/prism/config.nix
Due: none

ma ham: add keller button logic
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/keller_buttons.nix
  makefu/2configs/home/ham/automation/light_buttons.nix
Due: nur-packages makefu

cyberlocker-tools: init
  krebs/5pkgs/simple/cyberlocker-tools/default.nix
Due: wolf deployment, puyak deployment

cyberlocker-tools: make path optional for upload
  krebs/5pkgs/simple/cyberlocker-tools/default.nix
Due: wolf deployment, puyak deployment

ma ham: consolidate button management
  makefu/2configs/home/ham/automation/keller_buttons.nix
  makefu/2configs/home/ham/automation/ladestecker_timer.nix
  makefu/2configs/home/ham/automation/light_buttons.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/lib/default.nix
Due: nur-packages makefu

pkgs.gnokii: add patches according to archlinux build
  krebs/5pkgs/simple/gnokii/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: b09c989 -> 74d017e
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 6ef4f52 -> 8d8a28b
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

cyberlocker-tools: pass fail
  krebs/5pkgs/simple/cyberlocker-tools/default.nix
Due: wolf deployment, puyak deployment

tv elm-package-proxy: add search.json
  tv/2configs/elm-packages-proxy.nix
Due: none
