Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

irc-announce: fix more portable cat2
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

irc-announce cat2: use awk
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

l games: disable minecraft
  lass/2configs/games.nix
Due: none

add ssh.git.shackspace.de server keys via variable
  .gitlab-ci.yml
Due: wolf deployment, puyak deployment

ma pkgs.hydra-check: 1.0.0 -> 1.1.0
  makefu/5pkgs/custom/hydra-check/default.nix
Due: nur-packages makefu

ma pkgs.liveproxy: fix licensing
  makefu/5pkgs/custom/liveproxy/default.nix
Due: nur-packages makefu

ma pkgs.libcoap: rip
  makefu/5pkgs/libcoap/default.nix
Due: nur-packages makefu

nixpkgs: b7bbc6d -> bf7c0f0
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 55beed9 -> d96bd33
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

grib2json: init
  krebs/5pkgs/simple/grib2json/default.nix
Due: wolf deployment, puyak deployment

nomads-cloud: init
  krebs/5pkgs/simple/nomads-cloud/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: add nomad-clouds as cloud provider
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: add subsolar/lunar points
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: use new sun/moon icons
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

fetch clouds only every 3h
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

nomads-cloud: double sqrt for better clouds
  krebs/5pkgs/simple/nomads-cloud/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: use cloud_gamme instead of sqrt hack
  krebs/5pkgs/simple/nomads-cloud/default.nix
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: add chlora water layer
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: redesign with new image sources
  krebs/3modules/realwallpaper.nix
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: add HD version with planets and krebs
  krebs/3modules/realwallpaper.nix
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: fix fetch_older_days
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: show more earth
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: more clouds
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: show full horizontal size
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: darker snow
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: add missing saturn
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: even more clouds
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: bf7c0f0 -> 598a9cb
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

jeschli: pin emacs-overlay version
  jeschli/2configs/emacs.nix
Due: none

m: drop idontcare, add herbert
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

j emacs: org beautification
  jeschli/2configs/emacs.nix
Due: none

j emacs: disable exwm
  jeschli/2configs/emacs.nix
Due: none

j reagenzglas: reenable i3
  jeschli/1systems/reagenzglas/config.nix
Due: none

realwallpaper: render moon.png with xplanet
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: get sun image from sdo
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: archive old wallpapers
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l radio: kill skipped tracks
  lass/2configs/radio.nix
Due: none

l radio skip_track: set music_dir
  lass/2configs/radio.nix
Due: none

ma feed.euer.krebsco.de: init
  makefu/2configs/deployment/feed.euer.krebsco.de/default.nix
  makefu/2configs/deployment/feed.euer.krebsco.de/filter.yml
Due: nur-packages makefu
