Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

jeschli: use new unstable remote
  jeschli/krops.nix
Due: none

external: init rtjure.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

add doctor
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

reaktor: use tls on freenode
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: port must be string
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

nixpkgs: ff6fda6 -> 7c2a362
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 24c9b05 -> 007126e
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma deployment/owncloud: fix deprecated .extraConfig and .listen.
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma ham: use upstream androidtv
  makefu/2configs/ham/androidtv/adbshell.nix
  makefu/2configs/ham/androidtv/default.nix
  makefu/2configs/ham/androidtv/purepythonadb.nix
  makefu/2configs/ham/default.nix
Due: nur-packages makefu

ma pkgs.studio-link: 17.03.1 -> 20.05.5
  makefu/5pkgs/studio-link/default.nix
Due: nur-packages makefu

ma pkgs.pwqgen-ger: init
  makefu/5pkgs/default.nix
Due: nur-packages makefu

ma deployment/etherpad: set proxy configuration according to recommendations
  makefu/2configs/deployment/docker/etherpad.euer.krebsco.de.nix
Due: nur-packages makefu

ma deployment/etherpad: update template
  makefu/2configs/deployment/docker/template.md
Due: nur-packages makefu

ma editor/vim: use upstream vim-better-whitespace
  makefu/2configs/editor/vim.nix
Due: nur-packages makefu

ma rss.euer: use update_daemon2 as updater
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma ham/zigbee2mqtt: do not hide entities
  makefu/2configs/ham/multi/zigbee2mqtt.nix
Due: nur-packages makefu

ma share/gum: use new interface firewall
  makefu/2configs/share/gum.nix
Due: nur-packages makefu

ma urlwatch: filter more from releases
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

switch to 20.09
  krebs/nixpkgs.json
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

l morpheus.r: use new luks devices config
  lass/1systems/morpheus/physical.nix
Due: none

remove deprecated dcso vpn
  lass/2configs/dcso-vpn.nix
  lass/2configs/tests/dummy-secrets/dcsovpn/ca.pem
  lass/2configs/tests/dummy-secrets/dcsovpn/cert.key
  lass/2configs/tests/dummy-secrets/dcsovpn/cert.pem
  lass/2configs/tests/dummy-secrets/dcsovpn/login.txt
Due: none

nixpkgs: 95d26c9 -> 13d0c31
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l uriel.r: use new luks devices config
  lass/1systems/uriel/physical.nix
Due: none

l copyq: remove (broken) path extensions
  lass/2configs/copyq.nix
Due: none

l icarus.r shodan.r: remove borken ssh-cryptsetup
  lass/1systems/icarus/config.nix
  lass/1systems/shodan/config.nix
Due: none

l domsen: remove obsolete nextcloud nginx
  lass/2configs/websites/domsen.nix
Due: none

l websites: fix acme issues
  lass/2configs/websites/lassulus.nix
Due: none

l domsen: upgrade to nextcloud 19
  lass/2configs/websites/domsen.nix
Due: none

l minecraft: use minecraft-server
  lass/2configs/minecraft.nix
Due: none

l domsen: add XANF_TEAM user
  lass/2configs/websites/domsen.nix
Due: none

external: add nxbg.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

reaktor2: move .nix to dir
  krebs/5pkgs/haskell/reaktor2/default.nix
Due: wolf deployment, puyak deployment

external: change kmein email, scardanelli -> zaatar
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external: add makanek.r (kmein)
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l prism.r: kmein RIP
  lass/1systems/prism/config.nix
Due: none

reaktor2: 0.3.0 -> 0.4.0
  krebs/5pkgs/haskell/reaktor2/default.nix
Due: wolf deployment, puyak deployment

krebs: activate nscd again
  krebs/2configs/default.nix
Due: wolf deployment, puyak deployment

github-hosts-sync: fix deprecated user definition
  krebs/3modules/github-hosts-sync.nix
Due: wolf deployment, puyak deployment

reaktor2: disable stockholm issue cause lentil is broken
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

puyak.r,wolf.r: move all services from wolf to puyak
  krebs/1systems/puyak/config.nix
  krebs/1systems/wolf/config.nix
  makefu/2configs/urlwatch/default.nix
Due: wolf deployment, puyak deployment, nur-packages makefu
