Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

krebs module: add shack network to filebitch
  krebs/3modules/krebs/default.nix
  makefu/2configs/hw/bluetooth.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

shack/glados: use host consistently
  krebs/2configs/shack/glados/automation/hass-restart.nix
  krebs/2configs/shack/glados/lib/default.nix
  krebs/2configs/shack/glados/multi/wasser.nix
  krebs/2configs/shack/glados/sensors/hass.nix
Due: wolf deployment, puyak deployment

shack/glados: enable logbook,recorder,history
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: -> caad1a7
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e0470e1 -> e1eedf2
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

buildbot: check github krops
  krebs/2configs/buildbot-stockholm.nix
Due: wolf deployment, puyak deployment

hidden-ssh: make channel & server configurable
  krebs/3modules/hidden-ssh.nix
Due: wolf deployment, puyak deployment

realwallpaper: move script to pkgs
  krebs/3modules/realwallpaper.nix
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

tinc_graphs: add default config value
  krebs/3modules/tinc_graphs.nix
Due: wolf deployment, puyak deployment

irc-announce: make cat2 more portable:
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

l hilum.r: get autoiso.cfg easier via git
  lass/1systems/hilum/config.nix
Due: none

l hilum.r: don't suspend on lid close
  lass/1systems/hilum/config.nix
Due: none

l icarus.r: reinstall after 36c3
  lass/1systems/icarus/config.nix
  lass/1systems/icarus/physical.nix
Due: none

l iso: rework for wizard magic
  lass/1systems/iso.nix
  lass/1systems/iso/default.nix
  lass/1systems/iso/generate-iso.sh
Due: none

l xerxes.r: reinstall with xfs
  lass/1systems/xerxes/physical.nix
Due: none

l xerxes.r: remove debug output
  lass/1systems/xerxes/physical.nix
Due: none

l yellow.r: remove broken fancyindex theme
  lass/1systems/yellow/config.nix
Due: none

l ciko: remove slash16.net mail
  lass/2configs/ciko.nix
Due: none

l: add/remove some pkgs
  lass/2configs/default.nix
Due: none

l exim-smarthost: simplify mailboxes
  lass/2configs/exim-smarthost.nix
Due: none

l mail: add new c-base tls fingerprint
  lass/2configs/mail.nix
Due: none

l mail: pass arguments correctly to neomutt
  lass/2configs/mail.nix
Due: none

l mc: open rmvb as video
  lass/2configs/mc.nix
Due: none

l paste: add ssl support for p.krebsco.de
  lass/2configs/paste.nix
Due: none

l steam: add libva as dependency
  lass/2configs/steam.nix
Due: none

l urxvt: refactor
  lass/2configs/urxvt.nix
Due: none

l websites domsen: make aldonasiech.com static
  lass/2configs/websites/domsen.nix
Due: none

l websites lassulus: fix /tinc locaton
  lass/2configs/websites/lassulus.nix
Due: none

l websites lassulus: rename pubkeys
  lass/2configs/websites/lassulus.nix
Due: none

l websites lassulus: add blog user to nginx group
  lass/2configs/websites/lassulus.nix
Due: none

l iso: remove debug output
  lass/1systems/iso/default.nix
Due: none

l xdg-open: allow firefox
  lass/2configs/xdg-open.nix
Due: none

l yubikey: make more robust, add some hacks
  lass/2configs/yubikey.nix
Due: none

l fzfmenu: fix no match behaviour
  lass/5pkgs/fzfmenu/default.nix
Due: none

l shodan.r: add scanner support
  lass/1systems/shodan/config.nix
Due: none

l init: rework with xfs and luksPassword
  lass/5pkgs/init/default.nix
Due: none

l krops: add nixpkgs-unstable
  lass/krops.nix
Due: none

l krops: use new pwstore location
  lass/krops.nix
Due: none

charybdis: types.{string => str}
  krebs/3modules/charybdis.nix
Due: wolf deployment, puyak deployment

Reaktor: types.{string => str}
  krebs/3modules/Reaktor.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
