Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tv: bump HISTSIZE
  tv/2configs/bash/default.nix
Due: none

openssh known hosts: ignore hosts without aliases
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

tv binary-cache: drop krebs.secert
  tv/2configs/binary-cache/default.nix
Due: none

nix-serve-ng: init at 1.0.0
  krebs/5pkgs/haskell/nix-serve-ng.nix
Due: wolf deployment, puyak deployment

tv binary-cache: use nix-serve-ng
  tv/2configs/binary-cache/default.nix
Due: none

tv binary-cache: add retiolum alias
  tv/2configs/binary-cache/default.nix
Due: none

l: use snapcast in gg23
  lass/1systems/icarus/config.nix
  lass/1systems/shodan/config.nix
  lass/1systems/styx/config.nix
  lass/2configs/snapclient.nix
  lass/2configs/snapserver.nix
Due: none

home-media: add snapmpv
  lass/2configs/home-media.nix
Due: none

l binary-cache-server: use nix-serve-ng
  lass/2configs/binary-cache/server.nix
Due: none

l binary-cache: use nix-serve-ng from haskellPackages
  lass/2configs/binary-cache/server.nix
Due: none

l games: reenable doom
  lass/2configs/games.nix
Due: none

ma bitlbee: disable purple
  makefu/2configs/bitlbee.nix
Due: nur-packages makefu

ma music.euer.krebsco.de: init
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma secrects: add lego-binaergewitter
  makefu/0tests/data/secrets/lego-binaergewitter
  makefu/2configs/default.nix
Due: nur-packages makefu

ma pkgs.mediawiki-matrix-bot: disable tests (for now)
  makefu/5pkgs/custom/mediawiki-matrix-bot/default.nix
Due: nur-packages makefu

ma pkgs.tools: update
  makefu/2configs/tools/all.nix
  makefu/2configs/tools/dev.nix
  makefu/2configs/tools/games.nix
  makefu/2configs/tools/maker.nix
Due: nur-packages makefu

ma share: proxy hetzner via gum
  makefu/2configs/share/gum-client.nix
  makefu/2configs/share/gum.nix
  makefu/2configs/share/hetzner-client.nix
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma x.r: disable directly mounting of hetzner box
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma pkgs.ns-atmosphere-programmer: fix build
  makefu/5pkgs/ns-atmosphere-programmer/default.nix
Due: nur-packages makefu

ma bgt/download.binaergewitter.de: addssl instead of enableSSL
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma ham: update
  makefu/2configs/home/ham/automation/buttonboard.nix
  makefu/2configs/home/ham/automation/check-in.nix
  makefu/2configs/home/ham/automation/daily_speedtext.nix
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/firetv_restart.nix
  makefu/2configs/home/ham/automation/flurlicht.nix
  makefu/2configs/home/ham/automation/shutdown_button.nix
  makefu/2configs/home/ham/automation/urlaub.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/lib/default.nix
  makefu/2configs/home/ham/light/tint_wohnzimmer.nix
  makefu/2configs/home/ham/media/arbeitszimmer_matrix.nix
  makefu/2configs/home/ham/media/schlafzimmer_music_remote.nix
  makefu/2configs/home/ham/sensor/dwd.nix
  makefu/2configs/home/ham/sensor/pollen.nix
  makefu/2configs/home/ham/signal-rest/service.nix
  makefu/2configs/home/ham/zigbee2mqtt.nix
Due: nur-packages makefu

ma home: add 3dprint, update jellyfin and music
  makefu/2configs/home/3dprint.nix
  makefu/2configs/home/jellyfin.nix
  makefu/2configs/home/music.nix
Due: nur-packages makefu

ma pkgs: use unstable jellyfin
  makefu/5pkgs/default.nix
Due: nur-packages makefu

ma wireguard: add thierry wg setup
  makefu/2configs/wireguard/thierry.nix
Due: nur-packages makefu

ma secrets: add wg-therry.key
  makefu/0tests/data/wg-thierry.key
Due: nur-packages makefu

ma cake.r: init for 3dprinting
  makefu/1systems/cake/config.nix
  makefu/1systems/cake/hardware-config.nix
  makefu/1systems/cake/source.nix
Due: nur-packages makefu

ma omo: enable unstable, disable hetzner-client
  makefu/1systems/omo/config.nix
  makefu/1systems/omo/source.nix
Due: nur-packages makefu

ma pkgs.ratt: bump checksum
  makefu/5pkgs/ratt/default.nix
Due: nur-packages makefu

ma owncloud: bump to 24
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma rss: init sofa
  makefu/2configs/deployment/rss/sofa-urls
  makefu/2configs/deployment/rss/sofa.nix
  makefu/2configs/deployment/rss/sofa.yml
Due: nur-packages makefu

ma rss: rip sofa
  makefu/2configs/deployment/rss/sofa-urls
  makefu/2configs/deployment/rss/sofa.nix
  makefu/2configs/deployment/rss/sofa.yml
Due: nur-packages makefu

ma ps3netsrv: use new ps3netsrv
  makefu/3modules/ps3netsrv.nix
Due: nur-packages makefu

ma arm-emulation: init
  makefu/2configs/remote-build/arm-emulation.nix
Due: nur-packages makefu

ma music.euer.krebsco.de: proxy via gum
  makefu/2configs/nginx/music.euer.nix
Due: nur-packages makefu

ma pkgs.mediawiki-matrix-bot: remove obsolete input
  makefu/5pkgs/custom/mediawiki-matrix-bot/default.nix
Due: nur-packages makefu

ma krops: bump
  makefu/krops.nix
Due: nur-packages makefu

ma latte.i: disable hetzner
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

ma pkgs.mediawiki-matrix-bot: disable tests completely
  makefu/5pkgs/custom/mediawiki-matrix-bot/default.nix
Due: nur-packages makefu

ma sane-extra: give output a name
  makefu/3modules/sane-extra.nix
Due: nur-packages makefu

mic92: add stable-confusion.r
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
