Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tinc: types.{string => str}
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

rtorrent: types.{string => str}
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

nixpkgs: caad1a7 -> eb65d1d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e1eedf2 -> 100012e
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

rtorrent: types.{str => lines}
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

shack/muellshack: bump to latest master
  krebs/2configs/shack/muellshack.nix
Due: wolf deployment, puyak deployment

m: move idontcare/rock to external/mic92.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

m: add tinc configuration for dimitri
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

m: rename dimitri to dimitrios
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

m: fix dimitrios's key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

m: fix owner value of dimitrios
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

shack/glados: schlechte_luft add rz
  krebs/2configs/shack/glados/multi/schlechte_luft.nix
  makefu/2configs/default.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

shack/glados: add shack-startup
  krebs/2configs/shack/glados/automation/hass-restart.nix
  krebs/2configs/shack/glados/automation/shack-startup.nix
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/lib/default.nix
Due: wolf deployment, puyak deployment

l: rename iso to wizard
  lass/1systems/wizard/config.nix
  lass/1systems/wizard/generate-iso.sh
  lass/1systems/wizard/test.nix
Due: none

ma: update omo pubkey
  krebs/3modules/makefu/sshd/omo.pub
Due: wolf deployment, puyak deployment

ma homeautomation: init with zigbee
  makefu/2configs/homeautomation/default.nix
  makefu/2configs/homeautomation/lib/default.nix
  makefu/2configs/homeautomation/multi/timer.nix
  makefu/2configs/homeautomation/multi/zigbee2mqtt.nix
  makefu/2configs/homeautomation/sensor/outside.nix
Due: nur-packages makefu

ma 2/homeautomation -> 2/ham
  makefu/1systems/omo/config.nix
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/google-muell.nix
  makefu/2configs/ham/lib/default.nix
  makefu/2configs/ham/mqtt.nix
  makefu/2configs/ham/multi/timer.nix
  makefu/2configs/ham/multi/zigbee2mqtt.nix
  makefu/2configs/ham/sensor/outside.nix
Due: nur-packages makefu

Revert "l hilum.r: get autoiso.cfg easier via git"
  lass/1systems/hilum/config.nix
Due: none

j reagenzglas: add direnv
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: add copyq
  jeschli/1systems/reagenzglas/config.nix
Due: none

j reagenzglas: i3 config bind rofi to meta+x
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j reagenzglas: reformat environment.systemPackages
  jeschli/1systems/reagenzglas/config.nix
Due: none

j emacs: Update refile file
  jeschli/2configs/emacs-org-agenda.nix
Due: none

j emacs: +spacemacs theme
  jeschli/2configs/emacs.nix
Due: none

j configs: add elisp for emacs config as submodule
  .gitmodules
Due: wolf deployment, puyak deployment

j reagenzglas: add audio
  jeschli/1systems/reagenzglas/config.nix
Due: none

j eamcs: Fix org-capture wrong-argument bug
  jeschli/2configs/emacs-org-agenda.nix
Due: none

j reagenzglas: add haskell
  jeschli/1systems/reagenzglas/config.nix
Due: none

j emacs: set racer paths for use with a shell-nix
  jeschli/2configs/emacs.nix
Due: none

j haskell: intial commit
  jeschli/2configs/haskell.nix
Due: none

j emacs as exwm; add chrome
  jeschli/1systems/reagenzglas/config.nix
  jeschli/2configs/emacs.nix
Due: none

j reagenzglas: i3 config: remove trailing whitespaces
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j reagenzglas: i3-config: i3-sensible-terminal -> alacritty
  jeschli/1systems/reagenzglas/i3-configuration.nix
Due: none

j reagenzglas: add go
  jeschli/1systems/reagenzglas/config.nix
Due: none

nixpkgs: eb65d1d -> c49da64
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma gum: add dns.euer.krebsco.de domain naim
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma gum: sort dnsnames
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

krebs krops: use upstream writers
  krebs/krops.nix
Due: wolf deployment, puyak deployment

j: root@baeckerei add success to reagenzglas
  jeschli/1systems/reagenzglas/config.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
