Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

buildbot-classic: fix build on 21.05
  krebs/5pkgs/simple/buildbot-classic/default.nix
  krebs/5pkgs/simple/buildbot-classic/sqlparse.nix
Due: wolf deployment, puyak deployment

wiki: fix old references to krebs.gollum
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

Revert "l mpv: disable autosub for now"
  lass/2configs/mpv.nix
Due: none

tv xserver: useXFS -> fontPath
  tv/2configs/xserver/xserver.conf.nix
Due: none

nixpkgs: 60cce7e -> 1f91fd1
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

brockman: 3.4.3 -> 3.4.5
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

tv charybdis: isSystemUser
  tv/3modules/charybdis/default.nix
Due: none

tv ejabberd: isSystemUser
  tv/3modules/ejabberd/default.nix
Due: none

repo-sync: isSystemUser
  krebs/3modules/repo-sync.nix
Due: wolf deployment, puyak deployment

krebs: init neos, add ssh key to shack infra managers
  krebs/2configs/shack/ssh-keys.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/ssh/neos.pub
Due: wolf deployment, puyak deployment

l: clean up packages
  lass/2configs/default.nix
Due: none

external: add ed25519 pubkey of makanek.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma pkgs.otpauth: init at 0.3.2
  makefu/5pkgs/otpauth/default.nix
Due: nur-packages makefu

nixpkgs: 1f91fd1 -> bad3ccd
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

tv: krebspaste? no thanks!
  tv/2configs/default.nix
Due: none

ma bgt: fix etherpad tempate and deployment
  makefu/2configs/bgt/etherpad.euer.krebsco.de.nix
  makefu/2configs/bgt/template.md
Due: nur-packages makefu

tv xtoggledpms: init
  tv/5pkgs/simple/xtoggledpms.nix
Due: none

nixpkgs: bad3ccd -> 8112fbe
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: fbfb794 -> 1905f5f
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: 8112fbe -> 71326cd
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 1905f5f -> 3a8d795
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l radio: fix listener counting
  lass/2configs/radio.nix
Due: none

l radio: allow world to skip/like tracks
  lass/2configs/radio.nix
Due: none

l IM: add tmux to packages, add weechat-matrix
  lass/2configs/IM.nix
Due: none

nixpkgs: 71326cd -> c06613c
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

mic92: add matchbox ed25519 key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add redha ed25519 keys
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: update bills ip address
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: connect to tinc via internet for bill/nardole
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add ed25519 for grandalf
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

l: use upstream xmonad config
  lass/2configs/baseX.nix
  lass/2configs/xmonad.nix
Due: none

nixpkgs: c06613c -> a165aec
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 3a8d795 -> 53079ed
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add paulheidekrueger
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

rss-bridge: 2021-01-10 -> 2021-04-20
  krebs/5pkgs/simple/rss-bridge/default.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
