Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

reaktor2 krebsfood: support poi and radius
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

ma rss: no need to look for sofa anymore
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma pipewire: ensure pulseaudio is disabled
  makefu/2configs/gui/pipewire.nix
Due: nur-packages makefu

news.r: use dhcp (new sync-containers are with dhcp)
  krebs/1systems/news/config.nix
Due: wolf deployment, puyak deployment

doorstatus: ignore ssl errors
  krebs/2configs/shack/doorstatus.sh
Due: wolf deployment, puyak deployment

ci: move to extra folder, report failed scripts
  krebs/3modules/ci/default.nix
  krebs/3modules/ci/modules/irc_notify.py
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

l lassul.us: set MX to subdomain
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l prims.r: add some subdomains
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l prism.r: add bota.r
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: fix neo urls, make more robust
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

shackie: add .open command
  krebs/2configs/shack/reaktor.nix
Due: wolf deployment, puyak deployment

shackie: extend .open pattern
  krebs/2configs/shack/reaktor.nix
Due: wolf deployment, puyak deployment

ma music.omo: add alias
  krebs/3modules/makefu/default.nix
  makefu/2configs/home/music.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

l *.r: use default port everywhere
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

setuid: fix warning: '.' should be ':'
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

git: fix "ln: failed to create symbolic link ... Read-only file system"
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

security-workarounds: let nginx run with libressl
  krebs/2configs/security-workarounds.nix
Due: wolf deployment, puyak deployment

security-workarounds: let exim run with gnutls
  krebs/2configs/security-workarounds.nix
Due: wolf deployment, puyak deployment

security-workarounds: add comments to openSSL 3 fixes
  krebs/2configs/security-workarounds.nix
Due: wolf deployment, puyak deployment

ma steam: rip pulseaudio
  makefu/2configs/tools/steam.nix
Due: nur-packages makefu

ma stats.server: enable flux
  makefu/2configs/stats/server.nix
Due: nur-packages makefu

ma hetzner-client: mount on startup
  makefu/2configs/share/hetzner-client.nix
Due: nur-packages makefu

ma owncloud: wait for cloud to be mounted
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma home/music: ensure navidrome starts after filesystems are mounted
  makefu/2configs/home/music.nix
Due: nur-packages makefu

ma wbob: start mjpeg-streamer
  makefu/1systems/wbob/config.nix
Due: nur-packages makefu

ma bgt/template: add ai der woche
  makefu/2configs/bgt/template.md
Due: nur-packages makefu

nixpkgs: 78a37aa -> 1b47226
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l rxvt_unicode -> rxvt-unicode
  lass/2configs/IM.nix
  lass/2configs/baseX.nix
  lass/2configs/blue-host.nix
  lass/2configs/default.nix
  lass/2configs/xmonad.nix
Due: none

nixpkgs-unstable: 4428e23 -> d40fea9
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l: alsaUtils -> alsa-utils
  lass/2configs/pipewire.nix
Due: none

security-workarounds exim: make nixos-unstable compatible
  krebs/2configs/security-workarounds.nix
Due: wolf deployment, puyak deployment

drop dev1 server
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

reaktor2: remove duplicate ledger-add
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

ma gui: restructure main-laptop
  makefu/2configs/gui/look-up.nix
  makefu/2configs/main-laptop.nix
Due: nur-packages makefu

external: add verex
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external: add rtunreal user and hosts
  krebs/3modules/default.nix
  krebs/3modules/external/rtunreal.nix
Due: wolf deployment, puyak deployment

l: init massulus.r
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l massulus.r: disable ci
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

lib.host: add consul option
  krebs/3modules/lass/default.nix
  lib/types.nix
Due: wolf deployment, puyak deployment

l: init sync-containers3
  lass/3modules/default.nix
  lass/3modules/sync-containers3.nix
Due: none
