Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tv alnus: fix typo
  tv/1systems/alnus/config.nix
Due: none

krebs: fix obsoletion option
  krebs/2configs/default.nix
  krebs/2configs/save-diskspace.nix
Due: wolf deployment, puyak deployment

shack/glados: announce message for keyholder
  krebs/2configs/shack/glados/automation/announcement.j2
  krebs/2configs/shack/glados/automation/shack-startup.nix
Due: wolf deployment, puyak deployment

shack/glados: tweak hass config
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/lib/default.nix
Due: wolf deployment, puyak deployment

ma tools:update toolset
  makefu/2configs/tools/android-pentest.nix
  makefu/2configs/tools/core-gui.nix
  makefu/2configs/tools/core.nix
  makefu/2configs/tools/dev.nix
  makefu/2configs/tools/extra-gui.nix
  makefu/2configs/tools/media.nix
Due: nur-packages makefu

ma pkgs.navi: init
  makefu/5pkgs/navi/default.nix
Due: nur-packages makefu

ma pkgs.awesomecfg: fix syntax error
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

ma legacy_v4: this is a sad day
  makefu/2configs/legacy_v4.nix
Due: nur-packages makefu

ma kdeconnect: init
  makefu/2configs/kdeconnect.nix
  makefu/2configs/legacy_v4.nix
Due: nur-packages makefu

reaktor2: make : optional in pattern
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

l mors.r: update physical hardware
  lass/1systems/mors/physical.nix
Due: none

l skynet.r: ignore lidswitch
  lass/1systems/skynet/config.nix
Due: none

l nfs-dl: add more mount options
  lass/2configs/nfs-dl.nix
Due: none

nixpkgs: e2bb73c -> 6460602
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 0f5ce2f -> 22a81aa
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma pkgs.tmm: bump to 3.1.6
  makefu/5pkgs/tinymediamanager/default.nix
Due: nur-packages makefu

ma pkgs.tinymediamanager: use archive.org, tmm drops the previous release faster than a hot potato
  makefu/5pkgs/tinymediamanager/default.nix
Due: nur-packages makefu

ma ham/flycounter: init
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/multi/fliegen-couter.nix
Due: nur-packages makefu

ma ham/androidtv: bump
  makefu/2configs/ham/androidtv/adbshell.nix
  makefu/2configs/ham/androidtv/default.nix
Due: nur-packages makefu

ma ham/calendar: init nextcloud
  makefu/2configs/ham/calendar/nextcloud.nix
Due: nur-packages makefu

ma 0tests: add nextcloud-calendar dummy secret
  makefu/0tests/data/secrets/ham/nextcloud-calendar
Due: nur-packages makefu

ma ham/google-muell: rip
  makefu/2configs/ham/google-muell.nix
Due: nur-packages makefu

ma dcpp: users.users.name instead of users.users = []
  makefu/2configs/dcpp/hub.nix
Due: nur-packages makefu

ma default: set stateVersion
  makefu/2configs/default.nix
Due: nur-packages makefu

ma etherpad: bump version
  makefu/2configs/deployment/docker/etherpad.euer.krebsco.de.nix
Due: nur-packages makefu

ma rss.euer.krebsco.de: pin postgresql package
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma exim-retiolum: enable rspamd
  makefu/2configs/exim-retiolum.nix
Due: nur-packages makefu

wolf.r: save diskspace
  krebs/1systems/wolf/config.nix
Due: wolf deployment, puyak deployment

rtorrent module: not use extraConfig
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

ma gum.r: re-enable urlwatch
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma gum.r: disable feed.euer
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma omo.r: enable ipv6, x11 forwarding
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma x.r: enable conveniece services
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma home-manager: use global packages instead of user-specific
  makefu/2configs/home-manager/default.nix
Due: nur-packages makefu

ma home-manager: use flameshot with paste.r for imgur
  makefu/2configs/home-manager/desktop.nix
Due: nur-packages makefu

ma home-manager: add mailsync, navi
  makefu/2configs/home-manager/mail.nix
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

ma share/omo: export youtube archive export
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma telegraf: count squashed flies
  makefu/2configs/stats/telegraf/hamstats.nix
Due: nur-packages makefu

ma urlwatch: update with new urls
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
