Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma music: cleanup, use navidrome
  makefu/1systems/omo/config.nix
  makefu/2configs/home/music.nix
Due: nur-packages makefu

ma home/mqtt: fix acl
  makefu/2configs/home/ham/mqtt.nix
Due: nur-packages makefu

pkgs.generate-krebs-intermediate-ca: set vailidy to 1y
  krebs/5pkgs/simple/generate-krebs-intermediate-ca/default.nix
Due: wolf deployment, puyak deployment

rotate krebsAcmeCA.crt
  krebs/6assets/krebsAcmeCA.crt
Due: wolf deployment, puyak deployment

wiki.r: listen on localhost, fix http redirect
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

wiki: listen gollum on localhost only
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

tv mu: use krebs.setuid
  tv/1systems/mu/config.nix
Due: none

tv xmonad-tv: stdenv.lib -> lib
  tv/5pkgs/haskell/xmonad-tv/default.nix
Due: none

tv AO753 nix.daemon*: admit NixOS 21.11
  tv/2configs/hw/AO753.nix
Due: none

tv w110er nix.daemon*: admit NixOS 21.11
  tv/2configs/hw/w110er.nix
Due: none

tv CAC: RIP
  tv/2configs/hw/CAC-Developer-1.nix
  tv/2configs/hw/CAC-Developer-2.nix
  tv/2configs/hw/CAC.nix
Due: none

tv AO753: drop boot.kernelPackages
  tv/2configs/hw/AO753.nix
Due: none

ci: add gcroots for successful builds
  krebs/3modules/ci.nix
Due: wolf deployment, puyak deployment

ma brockman: do not restart on a daily basis
  makefu/2configs/bgt/social-to-irc.nix
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma social-bridges: up timeouts
  makefu/2configs/bgt/social-to-irc.nix
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

nixpkgs: -> 5730959
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: bc5d683 -> b0bf5f8
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

flameshot-once profile: +copyAndCloseAfterUpload
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: don't check for updates
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: +showSidePanelButton
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: don't startup on launch
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: use toINI
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: +drawColor
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: +showStartupLaunchMessage
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

l krops: create gcroot for deployed systems
  lass/krops.nix
Due: none

ma binary-cache server: use key without secret.service
  makefu/2configs/binary-cache/server.nix
Due: nur-packages makefu

ma uhub: update plugin settings
  makefu/2configs/dcpp/hub.nix
Due: nur-packages makefu

ma owncloud: update to 22
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma bitwarden: finish migration
  makefu/2configs/bitwarden.nix
Due: nur-packages makefu

github-known-hosts: update list
  krebs/3modules/github-known-hosts.nix
Due: wolf deployment, puyak deployment

mic92: add mickey.r
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

rss-bridge: 2021-04-20 -> 2021-12-02
  krebs/5pkgs/simple/rss-bridge/default.nix
Due: wolf deployment, puyak deployment

tinc module: use tinc_pre as default package
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

iptables module: add compat layer to networking.firewall
  krebs/3modules/iptables.nix
Due: wolf deployment, puyak deployment

tv vim: admit nftables
  tv/2configs/vim.nix
  tv/5pkgs/vim/nix.nix
Due: none

secret service: don't be wanted by multi-user.target
  krebs/3modules/secret.nix
Due: wolf deployment, puyak deployment

tinc module: reload instead of restart
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

l tinc: remove enableLegacy
  lass/2configs/retiolum.nix
Due: none

l hass: fix mosquitto for real this time
  lass/2configs/hass/default.nix
Due: none

empty -> emptyDirectory
  krebs/3modules/git.nix
  krebs/5pkgs/simple/empty.nix
Due: wolf deployment, puyak deployment
