Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l xerxes.r: disable some bluetooth stuff
  lass/1systems/xerxes/config.nix
Due: none

brockman: isSystemUser
  krebs/3modules/brockman.nix
Due: wolf deployment, puyak deployment

l pass: set correct user
  lass/2configs/pass.nix
Due: none

l: add xonsh.nix
  lass/2configs/xonsh.nix
Due: none

reaktor2: isSystemUser
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

buildbot: isSystemUser
  krebs/3modules/buildbot/master.nix
  krebs/3modules/buildbot/slave.nix
Due: wolf deployment, puyak deployment

github-hosts-sync: isSystemUser
  krebs/3modules/github-hosts-sync.nix
Due: wolf deployment, puyak deployment

l icarus.r: disable thinkfan
  lass/1systems/icarus/physical.nix
Due: none

l elster: isNormalUser
  lass/2configs/elster.nix
Due: none

l uriel: isNormalUser
  lass/1systems/uriel/config.nix
Due: none

l daedalus.r: isNormaluser
  lass/1systems/daedalus/config.nix
Due: none

l tdlib-purple: inline old tdlib
  lass/5pkgs/tdlib-purple/default.nix
Due: none

l: add review.nix
  lass/2configs/review.nix
Due: none

solanum: use upstream
  krebs/5pkgs/simple/solanum/default.nix
  krebs/5pkgs/simple/solanum/dont-create-logdir.patch
Due: wolf deployment, puyak deployment

l websites: isNormalUser
  lass/2configs/websites/domsen.nix
Due: none

l coaxmetal.r: remove ergo again
  lass/1systems/coaxmetal/config.nix
Due: none

github-hosts-sync: set isSystemUser at correct location
  krebs/3modules/github-hosts-sync.nix
Due: wolf deployment, puyak deployment

l browsers: add more browser, add hidden flag
  lass/3modules/browsers.nix
Due: none

bepasty-server: isSystemUser
  krebs/3modules/bepasty-server.nix
Due: wolf deployment, puyak deployment

l blog: isSystemUser = true
  lass/2configs/websites/lassulus.nix
Due: none

l ciko: isNormalUser
  lass/2configs/ciko.nix
Due: none

l prism.r: download isSystemUser
  lass/1systems/prism/config.nix
Due: none

realwallpaper: isSystemUser
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

tinc_graphs: isSystemUser
  krebs/3modules/tinc_graphs.nix
Due: wolf deployment, puyak deployment

ma gum.r: open firewall
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma: pulseeffects{,-legacy} , add isNormalUser
  makefu/2configs/default.nix
  makefu/2configs/tools/media.nix
Due: nur-packages makefu

buildbot-classic: build with python 3
  krebs/5pkgs/simple/buildbot-classic/default.nix
Due: wolf deployment, puyak deployment

l: xonsh2 init
  lass/5pkgs/xonsh2/default.nix
Due: none

ma: isSystemUser everything
  krebs/3modules/airdcpp.nix
  makefu/2configs/bgt/download.binaergewitter.de.nix
  makefu/2configs/dcpp/hub.nix
  makefu/2configs/nsupdate-data.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

ma pkgs.tt-rss: rip
  makefu/5pkgs/tt-rss/default.nix
Due: nur-packages makefu

ma treewide: make 21.05 compatible (is*User, other fixes)
  makefu/1systems/omo/config.nix
  makefu/2configs/bgt/hidden_service.nix
  makefu/2configs/deployment/owncloud.nix
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
  makefu/2configs/home/metube.nix
  makefu/2configs/home/zigbee2mqtt/default.nix
  makefu/2configs/lanparty/samba.nix
  makefu/2configs/remote-build/slave.nix
  makefu/2configs/share-user-sftp.nix
  makefu/2configs/share/gum.nix
  makefu/2configs/temp/share-samba.nix
  makefu/3modules/ps3netsrv.nix
  makefu/5pkgs/shiori/default.nix
Due: nur-packages makefu

module urlwatch: add isSystemUser
  krebs/3modules/urlwatch.nix
Due: wolf deployment, puyak deployment

ma: update home-manager
  makefu/krops.nix
Due: nur-packages makefu

ma tools: disable binwalk
  makefu/2configs/tools/sec.nix
Due: nur-packages makefu

puyak.r/shack: isSystemUser everything
  krebs/2configs/shack/muell_mail.nix
  krebs/2configs/shack/muellshack.nix
  krebs/2configs/shack/node-light.nix
  krebs/2configs/shack/powerraw.nix
  krebs/2configs/shack/s3-power.nix
  krebs/2configs/shack/shackDNS.nix
  krebs/2configs/shack/share.nix
Due: wolf deployment, puyak deployment

ma arafetch: isSystemUser
  makefu/2configs/stats/arafetch.nix
Due: nur-packages makefu

ma smbguest: isNormalUser
  makefu/2configs/share/omo.nix
  makefu/2configs/share/temp-share-samba.nix
  makefu/2configs/share/wbob.nix
Due: nur-packages makefu

ma tools/extra-gui: add chitubox
  makefu/2configs/tools/extra-gui.nix
Due: nur-packages makefu

ma tools/sec: use py3 binwalk
  makefu/2configs/tools/sec.nix
Due: nur-packages makefu

ma samba: remove isNormalUser again
  krebs/2configs/shack/share.nix
  makefu/2configs/filepimp-share.nix
  makefu/2configs/lanparty/samba.nix
  makefu/2configs/share/omo.nix
  makefu/2configs/share/temp-share-samba.nix
  makefu/2configs/share/wbob.nix
  makefu/2configs/temp/share-samba.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
