Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

nixpkgs-unstable: 645bc49 -> d6b863f
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: fd901ef -> 15b7580
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l aergia.r: disable vbox
  lass/1systems/aergia/config.nix
Due: none

kartei/mic92/blob64: add ip addressses
  kartei/mic92/default.nix
Due: none

vendor htgen-paste
  krebs/5pkgs/simple/htgen-paste/default.nix
  krebs/5pkgs/simple/htgen-paste/src/htgen-paste
  lass/2configs/paste.nix
Due: wolf deployment, puyak deployment

htgen-paste: allow setting of Content-Type
  krebs/5pkgs/simple/htgen-paste/src/htgen-paste
Due: wolf deployment, puyak deployment

ma wbob.r: add Brother QL-800 + ui
  makefu/1systems/wbob/config.nix
  makefu/2configs/bureautomation/brother-ql-web.nix
  makefu/2configs/bureautomation/printer.nix
  makefu/2configs/gui/pipewire.nix
  makefu/2configs/gui/wbob-kiosk.nix
  makefu/5pkgs/default.nix
Due: nur-packages makefu

q-power_supply: print status
  krebs/5pkgs/simple/q-power_supply.nix
Due: wolf deployment, puyak deployment

konsens: all directories are safe
  krebs/3modules/konsens.nix
Due: wolf deployment, puyak deployment

konsens: add ssh to pkgs
  krebs/3modules/konsens.nix
Due: wolf deployment, puyak deployment

kpaste: allow override of Content-Type
  krebs/5pkgs/simple/kpaste/default.nix
Due: wolf deployment, puyak deployment

kpaste: fix public url
  krebs/5pkgs/simple/kpaste/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add bing-img
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

ma pkgs.shiori: rip
  makefu/5pkgs/shiori/default.nix
  makefu/5pkgs/shiori/deps.nix
Due: nur-packages makefu

nixpkgs: 15b7580 -> a08e061
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: d6b863f -> 897876e
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma tools/games: add steam-run
  makefu/2configs/tools/games.nix
Due: nur-packages makefu

reaktor2 bing: split lines after 426 chars
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

tv gitrepos: add nixpkgs
  tv/2configs/gitrepos.nix
Due: none

tinc: use DynamicUser
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

l mail: remove broken gpg config
  lass/2configs/mail.nix
Due: none

l mail: fix muchsync macro
  lass/2configs/mail.nix
Due: none

nixpkgs: a08e061 -> a17f99d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 897876e -> 7084250
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

syncthing: add workaround for infinite recursion on unstable
  krebs/2configs/syncthing.nix
Due: wolf deployment, puyak deployment

l radio: use larynx tts
  lass/2configs/services/radio/news.nix
Due: none

l radio.r: run nixos-unstable
  lass/1systems/radio/source.nix
Due: none

l radio: createHome of user
  lass/2configs/services/radio/default.nix
Due: none

l radio: fix tts for long texts
  lass/2configs/services/radio/news.nix
Due: none

cunicu: init at g3ed8109
  krebs/5pkgs/simple/cunicu.nix
Due: wolf deployment, puyak deployment

tv sshd: accept connections via wiregrill
  tv/2configs/sshd.nix
Due: none

l pipewire: skip configuring wireplumber, add bluetooth config
  lass/2configs/pipewire.nix
  lass/2configs/weron/client.nix
  lass/2configs/weron/signaler.nix
Due: none

kartei: Add grill.r and move jan to separate folder
  kartei/jan/default.nix
  kartei/others/default.nix
Due: none

kartei: Fix copy and paste error
  kartei/jan/default.nix
Due: none

kartei: IPv4 address for grill
  kartei/jan/default.nix
Due: none

ma snake.r: add sound hardware config
  makefu/1systems/snake/config.nix
  makefu/1systems/snake/hardware-config.nix
  makefu/1systems/snake/sound.nix
  makefu/1systems/snake/source.nix
  makefu/1systems/snake/wifi.nix
Due: nur-packages makefu

ma cake.r: init config
  makefu/1systems/cake/config.nix
  makefu/1systems/cake/hardware-config.nix
Due: nur-packages makefu

ma x.r: migrate to gnome
  makefu/1systems/x/config.nix
  makefu/1systems/x/x13/battery.nix
  makefu/1systems/x/x13/default.nix
  makefu/1systems/x/x13/disk.nix
  makefu/1systems/x/x13/input.nix
  makefu/2configs/gui/base.nix
  makefu/2configs/gui/gnome.nix
  makefu/2configs/gui/snake-kiosk.nix
Due: nur-packages makefu

ma home: deploy home-assistant via docker
  makefu/2configs/home/3dprint.nix
  makefu/2configs/home/ham/automation/light_buttons.nix
  makefu/2configs/home/ham/automation/urlaub.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/docker.nix
  makefu/2configs/home/ham/intents/default.nix
  makefu/2configs/home/ham/intents/music_chooser.txt.j2
  makefu/2configs/home/ham/intents/statusbericht.txt.j2
  makefu/2configs/home/ham/lib/default.nix
  makefu/2configs/home/ham/light/wohnzimmer.nix
  makefu/2configs/home/ham/media/firetv.nix
  makefu/2configs/home/ham/mqtt.nix
  makefu/2configs/home/ham/multi/kurzzeitwecker.nix
  makefu/2configs/home/ham/sensor/outside.nix
  makefu/2configs/home/jellyfin.nix
  makefu/2configs/home/music.nix
  makefu/2configs/home/photoprism.nix
  makefu/2configs/home/rhasspy/default.nix
  makefu/2configs/home/rhasspy/led-control.nix
  makefu/2configs/home/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma bgt: update template for pad
  makefu/2configs/audio/jack-on-pulse.nix
  makefu/2configs/bgt/template.md
Due: nur-packages makefu
