Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma kalauerbot: add support for oof
  makefu/2configs/bureautomation/kalauerbot.nix
  makefu/5pkgs/kalauerbot/default.nix
Due: nur-packages makefu

ma 3: add bw.euer.krebsco.de
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 36e15cd -> f8929dc
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 266dc8c -> f5e8bdd
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: f8929dc -> d395190
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: f5e8bdd -> d3f7e96
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

news: don't sync shortened links
  krebs/1systems/news/config.nix
Due: wolf deployment, puyak deployment

ircd: allow msg without join
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

news: add /api brockman
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

syncthing: configure key, cert & max_user_watches
  krebs/2configs/syncthing.nix
Due: wolf deployment, puyak deployment

puyak.r: add syncthing id
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

sync-containers: fix activationScript name
  krebs/3modules/sync-containers.nix
Due: wolf deployment, puyak deployment

news-host: sync also with puyak.r
  krebs/2configs/news-host.nix
Due: wolf deployment, puyak deployment

container-networking: configure nat for containers
  krebs/2configs/container-networking.nix
Due: wolf deployment, puyak deployment

puyak.r: add news.r as container
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

puyak.r: enable firewall
  krebs/1systems/puyak/net.nix
Due: wolf deployment, puyak deployment

l syncthing: remove duplicate definitions
  lass/2configs/syncthing.nix
Due: none

puyak.r: open 80 & 443
  krebs/1systems/puyak/net.nix
Due: wolf deployment, puyak deployment

l hass: remove redundant dwdfsapi
  lass/2configs/hass/default.nix
Due: none

recht: init
  krebs/5pkgs/haskell/recht.nix
Due: wolf deployment, puyak deployment

init syncthing dummy-secrets
  krebs/0tests/data/secrets/syncthing.cert
  krebs/0tests/data/secrets/syncthing.key
Due: wolf deployment, puyak deployment

nixpkgs: d395190 -> 42a03e4
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: d3f7e96 -> 04a2b26
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma workadventure: useACMEHost
  makefu/2configs/workadventure/workadventure.nix
Due: nur-packages makefu

ma bitwarden: init for gum.r
  makefu/1systems/gum/config.nix
  makefu/2configs/bitwarden.nix
Due: nur-packages makefu

ma backup: update backup files for bgt,gum,omo
  makefu/1systems/omo/config.nix
  makefu/2configs/backup/ssh/gum.pub
  makefu/2configs/bgt/backup.nix
Due: nur-packages makefu

ma ham: fix philosopische tuer
  makefu/2configs/bureautomation/automation/philosophische-tuer.nix
Due: nur-packages makefu

ma bgt template: update default text
  makefu/2configs/bgt/template.md
Due: nur-packages makefu

recht: 0.1.0 -> 0.3.0
  krebs/5pkgs/haskell/recht.nix
Due: wolf deployment, puyak deployment

ma bureatuomation: disable daily-standup
  makefu/2configs/bureautomation/default.nix
Due: nur-packages makefu

ma archiveteam-warrior: docker-containers -> virtualisation.oci-containers.containers
  makefu/2configs/deployment/docker/archiveteam-warrior.nix
Due: nur-packages makefu

ma owncloud: 20 -> 21, back up postgres
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma rss.euer: backup database
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma home/ham: fix path to z2m
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

ma shiori: fix state path
  makefu/2configs/shiori.nix
Due: nur-packages makefu

ma systemdultras/ircbot: do not notify errors
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma tools/dev: disable esphome as long as it is broken
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma: move home network from 192.168.1.0/24 to 192.168.111.0/24
  makefu/2configs/home/airsonic.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/device_tracker/openwrt.nix
  makefu/2configs/home/ham/nginx.nix
  makefu/2configs/home/metube.nix
  makefu/2configs/home/photoprism.nix
  makefu/2configs/home/zigbee2mqtt/default.nix
  makefu/2configs/printer.nix
  makefu/2configs/share/omo.nix
  makefu/2configs/storj/client.nix
Due: nur-packages makefu

l: switch tinc port to 0 for non supernodes
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
