Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

tv elm-package-proxy: add DELETE
  tv/2configs/elm-packages-proxy.nix
Due: none

htgen-cyberlocker: remove crud, exit after success POST
  krebs/5pkgs/simple/htgen-cyberlocker/src/htgen-cyberlocker
Due: wolf deployment, puyak deployment

ma pkgs.mediawiki-matrix-bot: init at 1.0.0
  makefu/5pkgs/mediawiki-matrix-bot/default.nix
Due: nur-packages makefu

cyberlocker-tools: normalize url
  krebs/5pkgs/simple/cyberlocker-tools/default.nix
Due: wolf deployment, puyak deployment

ma nix-community: add mediawiki-matrix-bot
  makefu/1systems/gum/config.nix
  makefu/2configs/nix-community/mediawiki-matrix-bot.nix
  makefu/5pkgs/custom/mediawiki-matrix-bot/default.nix
Due: nur-packages makefu

external: add aleph.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma pkgs/dev: add cyberlocker
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

brockman: 3.4.5 -> 4.0.1
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

ma pkgs: add mediawiki-matrix-bot
  makefu/5pkgs/default.nix
Due: nur-packages makefu

shack: move repos to github
  krebs/2configs/shack/light.shack.nix
  krebs/2configs/shack/muell_mail.nix
  krebs/2configs/shack/muellshack.nix
  krebs/2configs/shack/node-light.nix
  krebs/2configs/shack/powerraw.nix
  krebs/2configs/shack/s3-power.nix
  krebs/2configs/shack/shackDNS.nix
  krebs/2configs/shack/worlddomination.nix
Due: wolf deployment, puyak deployment

l prism.r: add telegraf.nix
  lass/1systems/prism/config.nix
  lass/2configs/telegraf.nix
Due: none

ma gum: add supervision
  makefu/1systems/gum/config.nix
  makefu/2configs/nix-community/supervision.nix
Due: nur-packages makefu

ma secrets: add mediawikibot-config.json dummy file
  makefu/0tests/data/secrets/mediawikibot-config.json
Due: nur-packages makefu

ma: add rss.makefu.r
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

puyak: add shackie reaktor irc bot
  krebs/1systems/puyak/config.nix
  krebs/2configs/shack/reaktor.nix
Due: wolf deployment, puyak deployment

puyak.r: remove legacy cryptoModules
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

puyak.r: announce doorstatus
  krebs/2configs/shack/doorstatus.sh
  krebs/2configs/shack/reaktor.nix
Due: wolf deployment, puyak deployment

puyak.r: disable nonfuc unifi
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

puyak.r glados: fix tts
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

hidden-ssh: fix to work with new nixos tor service
  krebs/3modules/hidden-ssh.nix
Due: wolf deployment, puyak deployment

l wizard: fix autologinUser
  lass/1systems/wizard/config.nix
Due: none

irc-announce: add tls flag
  krebs/3modules/announce-activation.nix
  krebs/3modules/hidden-ssh.nix
  krebs/5pkgs/simple/git-hooks/default.nix
  krebs/5pkgs/simple/irc-announce/default.nix
Due: wolf deployment, puyak deployment

mic92: restart realwallpaper on failure
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

move shackie from puyak.r to hotdog.r
  krebs/1systems/hotdog/config.nix
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

shack/powerraw: also open tcp port 11111
  krebs/2configs/shack/powerraw.nix
Due: wolf deployment, puyak deployment

l: add mumble.lassul.us for mumble-web
  krebs/3modules/lass/default.nix
  lass/1systems/prism/config.nix
  lass/2configs/murmur.nix
Due: wolf deployment, puyak deployment

l: add lasspi & domsen-pixel hosts
  krebs/3modules/lass/default.nix
  lass/1systems/lasspi/config.nix
  lass/1systems/lasspi/physical.nix
Due: wolf deployment, puyak deployment

l echelon.r: add syncthing id
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

git-hooks irc-announce: fix tls arg
  krebs/5pkgs/simple/git-hooks/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 74d017e -> 12eb1d1
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 8d8a28b -> 09cd65b
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma pkgs.chitubox: bump to 1.9.0
  makefu/5pkgs/chitubox/default.nix
Due: nur-packages makefu

nixpkgs: 12eb1d1 -> 8b0b81d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs: 8b0b81d -> b3083bc
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l coaxmetal.r: use default kernel
  lass/1systems/coaxmetal/physical.nix
Due: none

rip Reaktor
  krebs/1systems/test-all-krebs-modules/config.nix
  krebs/2configs/reaktor2.nix
  krebs/2configs/repo-sync.nix
  krebs/3modules/Reaktor.nix
  krebs/3modules/default.nix
  krebs/5pkgs/default.nix
  krebs/5pkgs/simple/Reaktor/default.nix
  krebs/5pkgs/simple/Reaktor/plugins.nix
  krebs/5pkgs/simple/Reaktor/scripts/tell-on_join.sh
  krebs/5pkgs/simple/Reaktor/scripts/tell-on_privmsg.sh
  krebs/5pkgs/simple/reaktor2-plugins.nix
Due: wolf deployment, puyak deployment

l prism.r: add docker workaround for mumble-web firewall
  lass/1systems/prism/config.nix
  lass/2configs/docker.nix
Due: none

l coaxmetal.r: add config for trackpoint/trackpad
  lass/1systems/coaxmetal/physical.nix
Due: none

external: refactor kmein hosts
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l domsen: add illustra.de
  lass/2configs/websites/domsen.nix
Due: none
