Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

22.05 -> 22.11
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

nixpkgs: 6474d93 -> 596a8e8
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

krebs: set defaultLocale
  krebs/2configs/default.nix
Due: wolf deployment, puyak deployment

mastodon: use nonsense mail
  krebs/2configs/mastodon.nix
Due: wolf deployment, puyak deployment

mastodon: add create-mastodon-user helper
  krebs/2configs/mastodon.nix
Due: wolf deployment, puyak deployment

l libvirt: enable polkit
  lass/2configs/libvirt.nix
Due: none

l websites: use default php
  lass/2configs/websites/util.nix
Due: none

ma ham: add heizung
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/shutdown_button.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/multi/heizung.nix
  makefu/2configs/home/ham/sensor/dwd.nix
  makefu/2configs/home/ham/sensor/outside.nix
Due: nur-packages makefu

tv nix: auto-optimise-store = true
  tv/2configs/default.nix
Due: none

k pkgs.ukrepl: init
  krebs/5pkgs/simple/ukrepl.nix
Due: wolf deployment, puyak deployment

tv: use nix.settings
  tv/2configs/default.nix
  tv/2configs/hw/x220.nix
Due: none

tv vim: rtp -> outPath
  tv/2configs/vim.nix
  tv/5pkgs/vim/default.nix
  tv/5pkgs/vim/hack.nix
  tv/5pkgs/vim/nix.nix
  tv/5pkgs/vim/showsyntax.nix
  tv/5pkgs/vim/tv.nix
  tv/5pkgs/vim/vim.nix
Due: none

tv: deprecated xmonad-stockholm
  tv/2configs/gitrepos.nix
  tv/5pkgs/haskell/xmonad-tv/default.nix
  tv/5pkgs/haskell/xmonad-tv/src/Shutdown.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
  tv/5pkgs/haskell/xmonad-tv/src/xmonad-tv.cabal
Due: none

tv fzf: bump complete-1
  tv/5pkgs/override/fzf/complete1.patch
  tv/5pkgs/override/fzf/default.nix
Due: none

tv xmonad: move my* to Build
  tv/5pkgs/haskell/xmonad-tv/src/Build.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

exim-smarthost: define domainlist sender_domains
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: check SPF
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

l prism: fix SPF record
  kartei/lass/default.nix
Due: none

tv ni: fix SPF record
  kartei/tv/default.nix
Due: none

nixpkgs-unstable: b457130 -> 14ddeae
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ssl: move rootCA to 6assets
  krebs/3modules/ssl.nix
  krebs/6assets/krebsRootCA.crt
Due: wolf deployment, puyak deployment

update ACME CA
  krebs/6assets/krebsAcmeCA.crt
Due: wolf deployment, puyak deployment

htgen: add scriptFile option
  krebs/3modules/htgen.nix
Due: wolf deployment, puyak deployment

tv imgur htgen: use scriptFile
  tv/2configs/imgur.nix
Due: none

htgen: 1.3.1 -> 1.4.0
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

Revert "exim-smarthost: check SPF"
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

Revert "Revert "exim-smarthost: check SPF""
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: don't check SPF when authenticated
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

exim-smarthost: make SPF check optional
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

tv x220: disable power-profiles-daemon
  tv/2configs/hw/x220.nix
Due: none

tv imagescan-plugin-networkscan: stdenv -> pkgs.pkgsi686Linux
  tv/5pkgs/simple/imagescan-plugin-networkscan.nix
Due: none

kartei: init ancha
  kartei/oxzi/default.nix
Due: none

kartei: init marohu
  kartei/oxzi/default.nix
Due: none

tv pinentry-urxvt: show tinted screenshots
  tv/5pkgs/simple/pinentry-urxvt/default.nix
Due: none

l prism.r: add mumble-reminder
  lass/1systems/prism/config.nix
  lass/2configs/mumble-reminder.nix
Due: none

lib: add lib reference
  lib/default.nix
Due: wolf deployment, puyak deployment

tv pkgs: use isNixDirEntry
  tv/5pkgs/default.nix
Due: none

lib: add isNixDirEntry
  lib/default.nix
Due: wolf deployment, puyak deployment
