Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l zsh: remove default aliases
  lass/2configs/zsh.nix
Due: none

l reaktor-coders: remove lambdabot stuff
  lass/2configs/reaktor-coders.nix
Due: none

l sshify: add usage
  lass/5pkgs/sshify/default.nix
Due: none

tv elm-package-proxy /all-packages/since/*: order!
  tv/2configs/elm-packages-proxy.nix
Due: none

l krops: use fancy deploy
  lass/krops.nix
Due: none

l: add some helper tools
  lass/2configs/programs.nix
Due: none

l sync: add coaxmetal.r
  lass/2configs/sync/sync.nix
Due: none

l steam: run as mainUser cause pipewire audio
  lass/2configs/steam.nix
Due: none

l nginx: reload instead of restart, remove old default
  lass/2configs/websites/default.nix
  lass/2configs/websites/lassulus.nix
Due: none

external: modify catalonia.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma fs/sda-crypto: add missing kernel modules, otherwise omo does not boot anymore
  makefu/2configs/fs/sda-crypto-root.nix
Due: nur-packages makefu

l codimd: move to pad.lassul.us
  krebs/3modules/lass/default.nix
  lass/2configs/codimd.nix
Due: wolf deployment, puyak deployment

ma urlwatch: remove supported adapters
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

nixpkgs: 95eed9b -> f0869b1
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 34ad3ff -> b165ce0
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

github-known-hosts: update list
  krebs/3modules/github-known-hosts.nix
Due: wolf deployment, puyak deployment

l mors.r: use unstable
  lass/1systems/mors/source.nix
Due: none

git: set fcgiwrap group as maingroup
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

krebs.build.profile: fix type
  krebs/3modules/build.nix
Due: wolf deployment, puyak deployment

airdcpp: fix default hubs.*.Nick
  krebs/3modules/airdcpp.nix
Due: wolf deployment, puyak deployment

bepasty-server: fix for manual
  krebs/3modules/bepasty-server.nix
Due: wolf deployment, puyak deployment

tinc_graphs: fix for manual
  krebs/3modules/tinc_graphs.nix
Due: wolf deployment, puyak deployment

github-hosts-sync: fix for manual
  krebs/3modules/github-hosts-sync.nix
Due: wolf deployment, puyak deployment

tinc: fix for manual
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

reaktor2: fix for manual
  krebs/3modules/reaktor2.nix
Due: wolf deployment, puyak deployment

exim-smart-host: fix for manual
  krebs/3modules/exim-smarthost.nix
Due: wolf deployment, puyak deployment

htgen: fix for manual
  krebs/3modules/htgen.nix
Due: wolf deployment, puyak deployment

shadow: fix for manual
  krebs/3modules/shadow.nix
Due: wolf deployment, puyak deployment

rtorrent: fix for manual
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

git: fix for manual
  krebs/3modules/git.nix
Due: wolf deployment, puyak deployment

types: fix for manual
  lib/types.nix
Due: wolf deployment, puyak deployment

exim: fix for manual
  krebs/3modules/backup.nix
Due: wolf deployment, puyak deployment

buildbot: fix for manual
  krebs/3modules/buildbot/master.nix
Due: wolf deployment, puyak deployment

l restic: RIP
  lass/3modules/default.nix
  lass/3modules/restic.nix
Due: none

l prism.r: add nets.internet.ip4.prefix
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

krebs: enable documentation for all modules
  krebs/2configs/default.nix
Due: wolf deployment, puyak deployment

l: enable documentation for all modules
  lass/2configs/default.nix
Due: none
