Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l sync weechat: don't share with blue
  lass/2configs/sync/weechat.nix
Due: none

nixpkgs: 0cfd08f -> a058d00
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: f211631 -> f217c0e
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l archprism.r: RIP
  lass/1systems/archprism/config.nix
  lass/1systems/archprism/physical.nix
Due: none

ma pkgs.kalauerbot: bump
  makefu/5pkgs/kalauerbot/default.nix
Due: nur-packages makefu

ma office-radio: init
  makefu/2configs/bureautomation/office-radio/default.nix
  makefu/2configs/bureautomation/office-radio/mpd.nix
  makefu/2configs/bureautomation/office-radio/mpdconfig.nix
  makefu/2configs/bureautomation/office-radio/webserver.nix
Due: nur-packages makefu

tv vim: remap fzf keys
  tv/2configs/vim.nix
Due: none

tv cr: use XDG_RUNTIME_DIR
  tv/5pkgs/default.nix
Due: none

tv ppp: allow networkd
  tv/2configs/ppp.nix
Due: none

tv hu: init
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

brockman.r: move alias to news.r
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

news.r: use bindfs correctly, allow nginx in brockman dir
  krebs/1systems/news/config.nix
Due: wolf deployment, puyak deployment

news: serve state also under news.r
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

news: add reaktor with helper commands
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

news: rename brockman-helper to candyman, fix reddit link
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

ma x.r: enable service
  makefu/1systems/x/config.nix
Due: nur-packages makefu

tv vim: prefer plugins to vim's own support files
  tv/2configs/vim.nix
Due: none

nixos/coma: init sleep as desktop manager
  krebs/3modules/upstream/desktop-managers/coma.nix
  krebs/3modules/upstream/desktop-managers/default.nix
Due: wolf deployment, puyak deployment

nixos/none: don't pull in feh unconditionally
  krebs/3modules/upstream/desktop-managers/default.nix
  krebs/3modules/upstream/desktop-managers/none.nix
Due: wolf deployment, puyak deployment

upstream modules: init
  krebs/3modules/default.nix
  krebs/3modules/upstream/default.nix
Due: wolf deployment, puyak deployment

nixos/xmonad: import and make reloadable
  krebs/3modules/upstream/window-managers/default.nix
  krebs/3modules/upstream/window-managers/xmonad.nix
Due: wolf deployment, puyak deployment

tv AO753: use linux <5.9 because broadcom-sta
  tv/2configs/hw/AO753.nix
Due: none

nixpkgs: a058d00 -> 85abeab aka the sudo thing
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma x.r: split hardware config
  makefu/1systems/x/config.nix
  makefu/1systems/x/x13/default.nix
  makefu/1systems/x/x13/input.nix
  makefu/1systems/x/x13/toggle_brightness
  makefu/1systems/x/x13/zfs.nix
  makefu/1systems/x/x230/default.nix
Due: nur-packages makefu

ma gumr.: enable workadventure
  makefu/1systems/gum/config.nix
  makefu/1systems/gum/hardware-config.nix
Due: nur-packages makefu

ma newsbot: obsolete
  makefu/2configs/deployment/newsbot.nix
Due: nur-packages makefu

ma wiki-irc-bot: obsolete
  makefu/2configs/deployment/wiki-irc-bot/default.nix
  makefu/2configs/deployment/wiki-irc-bot/wiki-output.patch
Due: nur-packages makefu

ma mycube.connector.one: cleanup
  makefu/2configs/deployment/mycube.connector.one.nix
Due: nur-packages makefu

ma ham: add more automations
  makefu/2configs/ham/automation/giesskanne.nix
  makefu/2configs/ham/automation/moodlight.nix
  makefu/2configs/ham/automation/wohnzimmer_rf_fernbedienung.nix
Due: nur-packages makefu

ma home-manager: use old nixify script again
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

ma hw/droidcam: add new required modules and packages
  makefu/2configs/hw/droidcam.nix
Due: nur-packages makefu

ma share/omo: share photos
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma tools/mobility: exfat comes with kernel
  makefu/2configs/tools/mobility.nix
Due: nur-packages makefu

ma krops: bump nixos-hardware
  makefu/krops.nix
Due: nur-packages makefu

nixpkgs: 85abeab -> 6e7f250
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

htgen module: add package option
  krebs/3modules/htgen.nix
Due: wolf deployment, puyak deployment

bitlbee-facebook: init
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

tv fzf: add --complete-1
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/fzf.complete1.patch
Due: none

mic92: add grandalf to tinc
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

Add redha to tinc
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment
