Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

brockman: 3.2.3 -> 3.2.4
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

nixpkgs: 6e7f250 -> 90cec09
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

brockman: move to folder
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

tv rxvt_unicode: use rawdiff instead of patch
  tv/5pkgs/override/rxvt_unicode.nix
Due: none

krebs.setuid: disambiguate `config`
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

krebs.setuid: make wrapperDir configurable
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

krebs.shadow: admit password changes
  krebs/3modules/shadow.nix
Due: wolf deployment, puyak deployment

tv xdpytools: init
  tv/5pkgs/simple/xdpytools/default.nix
  tv/5pkgs/simple/xdpytools/src/xdpychvt
  tv/5pkgs/simple/xdpytools/src/xdpysel
Due: none

tv xmonad: integrate xdpychvt
  tv/5pkgs/haskell/xmonad-tv/src/Paths.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

news: let candyman react to his name
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

brockman module: wait 5 sec when restarting
  krebs/3modules/brockman.nix
Due: wolf deployment, puyak deployment

brockman: 3.2.4 -> 3.4.0
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

rss-bridge: 2020-11-10 -> unstable-2021-01-10
  krebs/5pkgs/simple/rss-bridge/default.nix
Due: wolf deployment, puyak deployment

l tdlib-purple: 0.7.6 -> 0.7.8
  lass/5pkgs/tdlib-purple/default.nix
Due: none

l yellow.r: enable jellyfin
  lass/1systems/yellow/config.nix
Due: none

nixpkgs: 90cec09 -> d4c29df
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: f217c0e -> 8c87313
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

home-assistant: import from unstable
  krebs/5pkgs/simple/home-assistant.nix
Due: wolf deployment, puyak deployment

nixpkgs: d4c29df -> 2394284
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

mic92: add grandalf to tinc
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix tinc name
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

Add redha to tinc
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: init dimitrios-desktop
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix trailing whitespace for lassulus
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

remove broken hass override
  krebs/5pkgs/simple/home-assistant.nix
Due: wolf deployment, puyak deployment

l hass: use unstable hass package
  lass/2configs/hass/default.nix
Due: none

tv public_html: move to /srv
  tv/2configs/nginx/public_html.nix
Due: none

ma ham/moodlight: turn on cubes in blink mode
  makefu/2configs/ham/automation/moodlight.nix
Due: nur-packages makefu

tv wu: remove unnecessary services
  tv/1systems/wu/config.nix
Due: none

gitignore: init
  krebs/5pkgs/simple/gitignore.nix
Due: wolf deployment, puyak deployment

l xmonad: ignore minimized windows
  lass/5pkgs/custom/xmonad-lass/default.nix
Due: none

tv.hw.screens: init
  tv/3modules/default.nix
  tv/3modules/hw.nix
Due: none

tv config: define primary screens
  tv/1systems/au/config.nix
  tv/2configs/hw/AO753.nix
  tv/2configs/hw/w110er.nix
  tv/2configs/hw/x220.nix
Due: none

exim: init at 4.94+fixes cdb37db
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

l: default user is yubikey
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

glados: import unstable home-assistant
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

ma ham: add deps
  makefu/2configs/ham/deps/dwdwfsapi.nix
  makefu/2configs/ham/deps/pykodi.nix
Due: nur-packages makefu

ircd: raise all limits
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

l: remove deprecated cgit aliases
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l: init coaxmetal.r
  krebs/3modules/lass/default.nix
  lass/1systems/coaxmetal/config.nix
  lass/1systems/coaxmetal/physical.nix
Due: wolf deployment, puyak deployment
