Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

shack/glados: re-enable influxdb output
  krebs/2configs/shack/glados/default.nix
Due: wolf deployment, puyak deployment

ma tools: add esphome, remove esptool
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

wolf.r: more relevant nginx data
  krebs/1systems/wolf/config.nix
  krebs/2configs/shack/influx.nix
  krebs/2configs/shack/node-light.nix
Due: wolf deployment, puyak deployment

shack/prometheus: activate alerting to telegram
  krebs/2configs/shack/prometheus/alertmanager-telegram.nix
  krebs/2configs/shack/prometheus/server.nix
Due: wolf deployment, puyak deployment

shack/prometheus: alertmanager-bot on a different port now
  krebs/2configs/shack/prometheus/alert-rules.nix
  krebs/2configs/shack/prometheus/server.nix
Due: wolf deployment, puyak deployment

shack/prometheus: strip down number of alerts to 3
  krebs/2configs/shack/prometheus/alert-rules.nix
  krebs/2configs/shack/prometheus/server.nix
Due: wolf deployment, puyak deployment

puyak.r: enable alertmanager-bot
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

shack/prometheus: use correct alias for rules
  krebs/2configs/shack/prometheus/alert-rules.nix
Due: wolf deployment, puyak deployment

shack/prometheus: add urls to alerts
  krebs/2configs/shack/prometheus/alert-rules.nix
Due: wolf deployment, puyak deployment

shack/prometheus: add custom shack template
  krebs/2configs/shack/prometheus/alertmanager-telegram.nix
  krebs/2configs/shack/prometheus/templates/shack.tmpl
Due: wolf deployment, puyak deployment

go: return go.r for shortened urls
  krebs/2configs/go.nix
Due: wolf deployment, puyak deployment

l games: disable most games
  lass/2configs/games.nix
Due: none

shack: add telegram_bot secret
  krebs/0tests/data/secrets/shack/telegram_bot.env
Due: wolf deployment, puyak deployment

htgen: 1.2.3 -> 1.2.4
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

htgen-imgur: 1.0.0 -> 1.1.0
  krebs/5pkgs/simple/htgen-imgur/default.nix
  krebs/5pkgs/simple/htgen-imgur/src/htgen-imgur
Due: wolf deployment, puyak deployment

htgen: 1.2.4 -> 1.2.5
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

htgen: 1.2.5 -> 1.2.6
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

htgen: 1.2.6 -> 1.2.7
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

l yellow.r: add flix-index service
  lass/1systems/yellow/config.nix
Due: none

reaktor2: nicks can have special characters
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

htgen: 1.2.7 -> 1.2.8
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

mic92: add v4/v6 aliases to etc hosts
  krebs/3modules/hosts.nix
Due: wolf deployment, puyak deployment

mic92: add rock publickey
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

add prometheus.r
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

shack/glados: implement rollo triggers
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/multi/rollos.nix
  krebs/2configs/shack/glados/multi/wasser.nix
Due: wolf deployment, puyak deployment

ma bam/kalauerbot: init
  makefu/2configs/bureautomation/kalauerbot.nix
Due: nur-packages makefu

ma ham: add influxdb
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/device_tracker/openwrt.nix
Due: nur-packages makefu

ma awesomecfg: add chapter-marker
  makefu/5pkgs/awesomecfg/default.nix
Due: nur-packages makefu

ma pkgs.kalauerbot: init
  makefu/5pkgs/kalauerbot/default.nix
  makefu/5pkgs/kalauerbot/matrixbot.patch
  makefu/5pkgs/kalauerbot/python-matrixbot.nix
  makefu/5pkgs/kalauerbot/translate.patch
Due: nur-packages makefu

ma home-manager/direnv: remove custom use_nix
  makefu/2configs/home-manager/cli.nix
Due: nur-packages makefu

ma hw/switch: add more options for connecting to switch
  makefu/2configs/hw/switch.nix
Due: nur-packages makefu

ma tools/consoles: add nsrenamer
  makefu/2configs/tools/consoles.nix
Due: nur-packages makefu

pkgs.alertmanager-bot-telegram: init
  krebs/5pkgs/simple/alertmanager-bot-telegram/default.nix
Due: wolf deployment, puyak deployment

shack/muell_mail: bump revision
  krebs/2configs/shack/muell_mail.nix
Due: wolf deployment, puyak deployment

shack/prometheus: set loglevel to info
  krebs/2configs/shack/prometheus/alertmanager-telegram.nix
Due: wolf deployment, puyak deployment

wolf.r: manage light.shack web-interface in shackspace
  krebs/1systems/wolf/config.nix
  krebs/2configs/shack/light.shack.nix
Due: wolf deployment, puyak deployment

ma pkgs.tt-rss: bump to 2020-09-23
  makefu/5pkgs/tt-rss/default.nix
Due: nur-packages makefu

ma stats/server: disable kapacitor
  makefu/2configs/stats/server.nix
Due: nur-packages makefu

l: use ipv4 addresses for wiregrill
  krebs/3modules/lass/default.nix
  lass/1systems/prism/config.nix
Due: wolf deployment, puyak deployment

newsbot-js: use go.r as default shortener
  krebs/3modules/newsbot-js.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
