Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

ma x13: boot.zfs.enableUnstable = true;
  makefu/1systems/x/x13/zfs.nix
Due: nur-packages makefu

ma x.r: disable xm7370 kmod
  makefu/1systems/x/x13/default.nix
Due: nur-packages makefu

jeschli enklave.r: disable ci
  krebs/3modules/jeschli/default.nix
Due: wolf deployment, puyak deployment

ma omo.r: disable metube
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma ham: fix notifications
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/pflanzen_giessen_erinnerung.nix
Due: nur-packages makefu

ma ham: listen to 0.0.0.0
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

ma tools: add element-desktop
  makefu/2configs/tools/extra-gui.nix
Due: nur-packages makefu

ma awesomecfg: autostart element-desktop
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

ma pkgs.droidcam: rip
  makefu/5pkgs/droidcam/default.nix
Due: nur-packages makefu

ma bureautomation: disable puppy-proxy for now
  makefu/2configs/bureautomation/default.nix
Due: nur-packages makefu

realwallpaper: use imagemagick6 (future lassulus has to understand 7)
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l radio: fix starting with 21.05
  lass/2configs/radio.nix
Due: none

l radio: set irc topic
  lass/2configs/radio.nix
Due: none

l radio: add mp3 output
  lass/2configs/radio.nix
Due: none

l radio: stop sharing with xerxes
  lass/2configs/radio.nix
Due: none

l radio: fix counting of listeners
  lass/2configs/radio.nix
Due: none

nixpkgs: aa57635 -> 5de44c1
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 7a1fbc3 -> fbfb794
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

flameshot-once: 1.3.0 -> 1.4.0
  krebs/5pkgs/haskell/flameshot-once.nix
Due: wolf deployment, puyak deployment

module ergo: init
  krebs/2configs/ergo.nix
  krebs/3modules/default.nix
  krebs/3modules/ergo.nix
Due: wolf deployment, puyak deployment

flameshot-once: 1.3.0 -> 1.4.0
  krebs/5pkgs/haskell/flameshot-once.nix
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

flameshot-once profile: add CIRCLECOUNT
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

mic92: add more ed25519 retiolum keys
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: remove anindya
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: change ip address of eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: start adding ed25519 as well
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: nardole: update key + add ip addresses
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix nardole's public ips
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: new ed25519 key for rose
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add ed25519 keys for hydrogen
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

bill: add ip addresses + new key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add ed25519 keys for eve/eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: move loki.r to eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add aendernix
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix key for hydrogen
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

gollum: follow upstream
  krebs/2configs/wiki.nix
  krebs/3modules/default.nix
  krebs/3modules/gollum.nix
Due: wolf deployment, puyak deployment

wiki: fix ascii error
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

ma pkgs.hdl-dump: rip
  makefu/5pkgs/hdl-dump/default.nix
Due: nur-packages makefu

Revert "buildbot-classic: build with python 3"
  krebs/5pkgs/simple/buildbot-classic/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 5de44c1 -> 60cce7e
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
