Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l xmonad: use different float tactics, remove old junk
  lass/5pkgs/custom/xmonad-lass/default.nix
Due: none

l emot-menu: clearmodifiers when typing
  lass/5pkgs/emot-menu/default.nix
Due: none

l hass: add love option
  lass/3modules/hass.nix
Due: none

shack/glados: deactivate automation for watering
  krebs/2configs/shack/glados/multi/wasser.nix
Due: wolf deployment, puyak deployment

tv th-env: init at 1.0.0
  tv/5pkgs/haskell/th-env/default.nix
  tv/5pkgs/haskell/th-env/src/THEnv.hs
  tv/5pkgs/haskell/th-env/th-env.cabal
Due: none

tv xmonad: read screen/font width from build env
  tv/2configs/xserver/default.nix
  tv/5pkgs/haskell/xmonad-tv/default.nix
  tv/5pkgs/haskell/xmonad-tv/src/THEnv/JSON.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
  tv/5pkgs/haskell/xmonad-tv/src/xmonad-tv.cabal
Due: none

tv xserver: reconfigure xmonad for au
  tv/2configs/xserver/default.nix
Due: none

tv viljetic-pages: add favicon.ico
  tv/5pkgs/simple/viljetic-pages/default.nix
Due: none

tv vim nix: fix trigger for js
  tv/5pkgs/vim/nix.nix
Due: none

tv vim nix: recognize markdown by extension
  tv/5pkgs/vim/nix.nix
Due: none

tv: make default kernel easily overridable
  tv/2configs/default.nix
Due: none

tv: cleanup stale shell aliases
  tv/2configs/default.nix
Due: none

tv ppp: remove default config
  tv/2configs/ppp.nix
Due: none

tv ppp: add o2 config
  tv/2configs/ppp.nix
  tv/dummy_secrets/o2.pin
Due: none

tv ppp: add modem-send script
  tv/2configs/ppp.nix
Due: none

tv ppp: add connect script
  tv/2configs/ppp.nix
Due: none

tv au: add ppp
  tv/1systems/au/config.nix
Due: none

tv ppp: reconfigure resolv.conf
  tv/2configs/ppp.nix
Due: none

tv override: customize input-fonts
  tv/5pkgs/override/default.nix
Due: none

nixpkgs: 4267405 -> b4db68f
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: c59ea8b -> 84d74ae
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

krebs.secret: add directory and file options
  krebs/3modules/secret.nix
Due: wolf deployment, puyak deployment

tv * ssh.privkey.path: use krebs.secret.file
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv rxvt-unicode-256color-terminfo: init
  tv/5pkgs/simple/rxvt-unicode-256color-terminfo/default.nix
  tv/5pkgs/simple/rxvt-unicode-256color-terminfo/rxvt-unicode-256color.terminfo
Due: none

tv rpiPackages: init
  tv/5pkgs/rpi/default.nix
Due: none

tv nix-prefetch-github: init at 3.0
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/nix-prefetch-github.nix
Due: none

tv rpiPacakges.WiringPi: init at 2020-09-14
  tv/5pkgs/rpi/WiringPi/default.nix
  tv/5pkgs/rpi/WiringPi/src.json
Due: none

lib.mapNixDir1: prefix names starting with a digit
  lib/default.nix
Due: wolf deployment, puyak deployment

tv rpiPackages.433Utils: init at 2018-06-07
  tv/5pkgs/rpi/433Utils/RPi_utils.codesend.codestring.patch
  tv/5pkgs/rpi/433Utils/default.nix
  tv/5pkgs/rpi/433Utils/rc-switch.protocols.patch
  tv/5pkgs/rpi/433Utils/src.json
Due: none

l green-host: use cryfs & nixos-containers
  lass/2configs/green-host.nix
Due: none

l: rotate yubikey pubkey
  krebs/3modules/lass/pgp/yubikey.pgp
Due: wolf deployment, puyak deployment

types.net: add mac option
  lib/types.nix
Due: wolf deployment, puyak deployment

tv iptables: move sshd stuff to sshd config
  tv/2configs/sshd.nix
  tv/3modules/iptables.nix
Due: none

external: namespace kmein hosts under kmein, catullus -> toum
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: b4db68f -> ff6fda6
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

update-nixpkgs: use nixpkgs remote
  krebs/update-nixpkgs-unstable.sh
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

nixpkgs: ff6fda6 -> ff6fda6
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 84d74ae -> 24c9b05
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l krops: shallow clone new remote
  lass/krops.nix
Due: none

makefu: use new unstable remote
  makefu/krops.nix
Due: nur-packages makefu
