Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l domsen: set nextcloud pw via krebs.secret
  lass/2configs/websites/domsen.nix
Due: none

l domsen: pin php to 7.3
  lass/2configs/websites/domsen.nix
Due: none

l domsen nextcloud: 20 -> 21
  lass/2configs/websites/domsen.nix
Due: none

l domsen: dont createHome on shared user
  lass/2configs/websites/domsen.nix
Due: none

l domsen: fix permissions
  lass/2configs/websites/domsen.nix
Due: none

l domsen: add more users
  lass/2configs/websites/domsen.nix
Due: none

nixpkgs: b3083bc -> 6120ac5
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l pkgs.proxychain-ng: init at 4.15
  lass/5pkgs/proxychains-ng/default.nix
Due: none

l sshify: init
  lass/2configs/default.nix
  lass/5pkgs/sshify/default.nix
Due: none

l: switch from pulse to pipewire
  lass/2configs/baseX.nix
  lass/2configs/pipewire.nix
Due: none

rip Reaktor
  krebs/5pkgs/simple/Reaktor/scripts/random-emoji.sh
  krebs/5pkgs/simple/Reaktor/scripts/random-issue.sh
  krebs/5pkgs/simple/Reaktor/scripts/sed-plugin.py
  krebs/5pkgs/simple/Reaktor/scripts/shack-correct.sh
Due: wolf deployment, puyak deployment

reaktor2: add link to wiki.r for each agenda item
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: add comment about unicode krepel magic
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

ma gum.r: disable wa for now
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

pkgs.tinc_graphs: 0.3.11 -> 0.4.0
  krebs/5pkgs/simple/tinc_graphs/default.nix
Due: wolf deployment, puyak deployment

ma wbob.r: increase influx file limit
  makefu/1systems/wbob/config.nix
Due: nur-packages makefu

ma x.r: disable mongodb
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma pkgs.xmm7360: bump to latest HEAD
  makefu/1systems/x/x13/default.nix
  makefu/5pkgs/xmm7360/default.nix
Due: nur-packages makefu

ma bgt/etherpad: use vanilla etherpad
  makefu/2configs/bgt/etherpad.euer.krebsco.de.nix
Due: nur-packages makefu

ma bgt: also supervise bgt on twitter
  makefu/2configs/bgt/social-to-irc.nix
Due: nur-packages makefu

bgt/template: add SENDUNGSNUMMER as placeholder
  makefu/2configs/bgt/template.md
Due: nur-packages makefu

ma bureatuomation: update philosophische tuer sprueche
  makefu/2configs/bureautomation/automation/philosophische-tuer.nix
Due: nur-packages makefu

ma bureautomation: cleanup
  makefu/2configs/bureautomation/light/buzzer.nix
  makefu/2configs/bureautomation/person/team.nix
Due: nur-packages makefu

ma rss.euer: remove workaround for tt-rss
  makefu/2configs/deployment/rss.euer.krebsco.de.nix
Due: nur-packages makefu

ma neovim: new plugin configuration
  makefu/2configs/editor/neovim/default.nix
Due: nur-packages makefu

ma extra-fonts: use fontDir.enable
  makefu/2configs/extra-fonts.nix
  makefu/2configs/gui/base.nix
Due: nur-packages makefu

ma home-manager: enable beets
  makefu/2configs/home-manager/desktop.nix
Due: nur-packages makefu

ma ham: add flurlicht
  makefu/2configs/home/ham/automation/flurlicht.nix
  makefu/2configs/home/ham/automation/wohnzimmer_rf_fernbedienung.nix
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

ma hw: cleanup
  makefu/2configs/hw/bluetooth.nix
  makefu/2configs/hw/lte.sh
  makefu/2configs/hw/network-manager.nix
  makefu/2configs/hw/xmm7360.nix
Due: nur-packages makefu

ma misa-felix.ml: disable acme for now
  makefu/2configs/nginx/misa-felix-hochzeit.ml.nix
Due: nur-packages makefu

ma stats/server: up NOFILE Limit
  makefu/2configs/stats/server.nix
Due: nur-packages makefu

ma systemdultras/ircbot: for hackint, use tls
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma tools/consoles: add opl-pc-tools
  makefu/2configs/tools/consoles.nix
  makefu/5pkgs/opl-pc-tools/default.nix
Due: nur-packages makefu

ma tools/core: add iotop,lm_sensors
  makefu/2configs/tools/core.nix
Due: nur-packages makefu

ma tools/mobility: cleanup
  makefu/2configs/tools/mobility.nix
Due: nur-packages makefu

ma urlwatch: disable newellrubbermaid.secure.force.com as it is down
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

ma awesomecfg: set correct tag config
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

ma tools/dev: add platformio
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

ma pkgs.prison-break: 1.3.0 -> 1.5.0
  makefu/5pkgs/prison-break/default.nix
Due: nur-packages makefu

ma pkgs.studio-link: remove libjack2 dep
  makefu/5pkgs/studio-link/default.nix
Due: nur-packages makefu
