Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

wolf.r: re-add shack ssh keys
  krebs/1systems/wolf/config.nix
Due: wolf deployment, puyak deployment

puyak.r: cleanup imports
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

ma minimal: keep nscd enabled
  makefu/2configs/minimal.nix
Due: nur-packages makefu

nscd-fix: RIP
  krebs/1systems/hotdog/config.nix
  krebs/2configs/nscd-fix.nix
  lass/2configs/default.nix
Due: wolf deployment, puyak deployment

alertmanager-bot-telegram: modSha -> vendorSha
  krebs/5pkgs/simple/alertmanager-bot-telegram/default.nix
Due: wolf deployment, puyak deployment

ma minimal: activate nscd again
  makefu/2configs/minimal.nix
Due: nur-packages makefu

jeschli: disable most hosts in ci
  krebs/3modules/jeschli/default.nix
Due: wolf deployment, puyak deployment

filebitch.r: fix luks devices syntax
  krebs/1systems/filebitch/hardware-configuration.nix
Due: wolf deployment, puyak deployment

external: fix zaatar
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external: add manakish.r (kmein)
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

puyak.r: initrd bootstrapping via tor
  krebs/1systems/puyak/config.nix
  krebs/2configs/tor/initrd.nix
Due: wolf deployment, puyak deployment

krebs dummy-secrets: add initrd
  krebs/0tests/data/secrets/initrd/host_ecdsa.pub
  krebs/0tests/data/secrets/initrd/host_ecdsa_key
  krebs/0tests/data/secrets/initrd/hostname
  krebs/0tests/data/secrets/initrd/hs_ed25519_public_key
  krebs/0tests/data/secrets/initrd/hs_ed25519_secret_key
Due: wolf deployment, puyak deployment

l: delete legacy green-host
  lass/2configs/green-host.nix
Due: none

external: change zaatar.r (kmein) ip and key
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l: remove legacy green-host imports
  lass/1systems/littleT/config.nix
  lass/1systems/shodan/config.nix
  lass/1systems/skynet/config.nix
Due: none

nixpkgs-unstable: 007126e -> 34ad166
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

external: add nxrm.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

external zaatar: update retiolum key
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

l: delete legacy secrets
  lass/2configs/tests/dummy-secrets/dcsovpn/ca.pem
  lass/2configs/tests/dummy-secrets/dcsovpn/cert.key
  lass/2configs/tests/dummy-secrets/dcsovpn/cert.pem
  lass/2configs/tests/dummy-secrets/dcsovpn/login.txt
Due: none

nixpkgs: 13d0c31 -> 896270d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

Revert "htgen-imgur: 1.0.0 -> 1.1.0"
  krebs/5pkgs/simple/htgen-imgur/default.nix
  krebs/5pkgs/simple/htgen-imgur/src/htgen-imgur
Due: wolf deployment, puyak deployment

tv configs: add elm-package-proxy
  tv/2configs/elm-packages-proxy.nix
Due: none

puyak,wolf: add documentation for imports
  krebs/1systems/puyak/config.nix
  krebs/1systems/wolf/config.nix
  krebs/2configs/shack/share.nix
Due: wolf deployment, puyak deployment

ma omo.r: enable direct connect to gum share
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma bureautomation/kalauerbot: enterprise restart after 12h
  makefu/2configs/bureautomation/kalauerbot.nix
Due: nur-packages makefu

ma printer: use extraconfig for magicolor, new netconfig for lan devices
  makefu/2configs/printer.nix
Due: nur-packages makefu

ma remote-build: enable gum for arm6l cross-build
  makefu/2configs/remote-build/gum.nix
Due: nur-packages makefu

ma share/omo: set workgroup and netbios name
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma urlwatch: watch zigbee2mqtt supported adapters
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

ma wireguard/server: add workaround for failing tunnel behind nat
  makefu/2configs/wireguard/server.nix
Due: nur-packages makefu

ma pkgs.droidcam: init software + kernel module
  makefu/2configs/hw/droidcam.nix
  makefu/5pkgs/droidcam/default.nix
  makefu/5pkgs/v4l2loopback-dc/default.nix
Due: nur-packages makefu

ma pkgs.kalauerbot: use patched matrix-client
  makefu/5pkgs/kalauerbot/badsync.patch
  makefu/5pkgs/kalauerbot/default.nix
Due: nur-packages makefu

nixpkgs: 896270d -> f41c0fc
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma sdev.r: disable torbrowser
  makefu/1systems/sdev/config.nix
Due: nur-packages makefu

ma secrets/initrd: add new openssh_host_ecdsa_key
  krebs/0tests/data/secrets/initrd/openssh_host_ecdsa_key
Due: wolf deployment, puyak deployment

tor/initrd: use hostKeys instead of hostECDSAKey
  krebs/2configs/tor/initrd.nix
Due: wolf deployment, puyak deployment

shack/gitlab-runner: use upstream gitlab module
  krebs/2configs/shack/gitlab-runner.nix
Due: wolf deployment, puyak deployment

ma pkgs.navi: rip
  makefu/5pkgs/navi/default.nix
Due: nur-packages makefu

gitlab-runner-shackspace: replaced by shack/gitlab-runner
  krebs/2configs/gitlab-runner-shackspace.nix
Due: wolf deployment, puyak deployment

ma krops: bump home-manager
  makefu/krops.nix
Due: nur-packages makefu
