Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

news: fix add_twitter command
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

external: add redaktion.r
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

k 3 ma: torrent.latte.r
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma backup: add latte
  makefu/2configs/backup/ssh/latte.pub
Due: nur-packages makefu

nixpkgs: 521e4d7 -> 4275a32
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 60c52a7 -> 7f9b6e2
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l bch: RIP
  lass/2configs/bitcoin.nix
Due: none

ma omo.r: enable more services
  makefu/1systems/latte/config.nix
  makefu/1systems/omo/config.nix
  makefu/2configs/torrent/rtorrent.nix
Due: nur-packages makefu

ma x.r: enable hetzner share
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma rss.euer: gum -> latte
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

k 3 rtorrent: rip
  krebs/3modules/default.nix
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

tinc tinc-up: don't rely on store path interpreter
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

ma latte.r: continue migration from gum
  makefu/1systems/gum/config.nix
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

ma torrent: migrate to upstream rtorrent + flood
  makefu/2configs/torrent/rtorrent.nix
Due: nur-packages makefu

ma share: set file-mode to 0770 for hetzner
  makefu/2configs/share/default.nix
  makefu/2configs/share/hetzner-client.nix
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma latte.r: un-fail nextcloud-setup
  makefu/1systems/gum/config.nix
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

ma secrets: add hetzner.smb
  makefu/0tests/data/secrets/hetzner.smb
Due: nur-packages makefu

ma home: init ps4srv
  makefu/2configs/home/ps4srv.nix
Due: nur-packages makefu

tinc: add logLevel with default of 3
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tv nix-prefetch-github: rip
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/nix-prefetch-github.nix
Due: none

tv overrides: mapNixDir
  tv/5pkgs/override/default.nix
Due: none

tv pkgs: move fzf to override
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/fzf/complete1.patch
  tv/5pkgs/override/fzf/default.nix
Due: none

tv pkgs: move cr to simple
  tv/5pkgs/default.nix
  tv/5pkgs/simple/cr.nix
Due: none

tv pkgs: import files and dirs as overlays harder
  tv/5pkgs/default.nix
Due: none

tv pkgs: import override last
  tv/5pkgs/default.nix
Due: none

tv pkgs: move dhcpcd to override
  tv/5pkgs/default.nix
  tv/5pkgs/override/dhcpcd.nix
Due: none

tv pkgs: move ff to simple
  tv/5pkgs/default.nix
  tv/5pkgs/simple/ff.nix
Due: none

tv pkgs: move gitAndTools to override
  tv/5pkgs/default.nix
  tv/5pkgs/override/gitAndTools.nix
Due: none

tv pkgs: move input-font to override
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/input-fonts.nix
Due: none

tv pkgs: don't override gnupg
  tv/5pkgs/default.nix
Due: none

tv anbox: init at unstable-2021-05-26
  tv/5pkgs/override/anbox.nix
Due: none

Revert "tinc tinc-up: don't rely on store path interpreter"
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

Revert "tinc: use ip from path"
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tinc: stopIfChanged = false instead of reload
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tinc: drop unused path definition
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tv retiolum: use eve instead of gum
  tv/2configs/retiolum.nix
Due: none

tinc: start tincd using -n
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tinc: allow initialization to fail fast
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tinc: use default key locations
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment

tinc: rsync using checksum
  krebs/3modules/tinc.nix
Due: wolf deployment, puyak deployment
