Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l: add themes.nix
  lass/2configs/baseX.nix
  lass/2configs/themes.nix
Due: none

l: configure alacritty
  lass/2configs/alacritty.nix
  lass/2configs/baseX.nix
Due: none

pager: init at 1.0.0
  krebs/5pkgs/haskell/pager.nix
  krebs/5pkgs/simple/pager.nix
Due: wolf deployment, puyak deployment

pager: add default fg and bg colors
  krebs/5pkgs/simple/pager.nix
Due: wolf deployment, puyak deployment

nixpkgs: 31aa631 -> ccb90fb
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 9bc841f -> bc4b9ee
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

hack: 1.0.0 -> 1.0.1
  krebs/5pkgs/haskell/hack.nix
Due: wolf deployment, puyak deployment

xmonad-stockholm: 1.3.0 -> 1.3.1
  krebs/5pkgs/haskell/xmonad-stockholm.nix
Due: wolf deployment, puyak deployment

ma pkgs.ns-usbloader: use wrapGappsHook
  makefu/1systems/x/config.nix
  makefu/5pkgs/ns-usbloader/default.nix
Due: nur-packages makefu

nixpkgs: ccb90fb -> 2f06b87
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: bc4b9ee -> ff9efb0
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l xmonad: rip xmonad-stockholm
  lass/2configs/xmonad.nix
Due: none

l network-manager: disable wait-online
  lass/2configs/network-manager.nix
Due: none

l themes: fix startup
  lass/2configs/themes.nix
Due: none

LICENSE: init
  LICENSE
Due: none

nixpkgs: 2f06b87 -> fd3e33d
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: ff9efb0 -> e10da1c
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add rauter to retiolum
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

external: add rojava, remove alsace
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma rss: deploy ratt job
  makefu/2configs/deployment/rss/ebk.yml
  makefu/2configs/deployment/rss/ratt-hourly.sh
  makefu/2configs/deployment/rss/ratt.nix
  makefu/2configs/deployment/rss/rss.euer.krebsco.de.nix
  makefu/2configs/deployment/rss/urls
Due: nur-packages makefu

generate-secrets: add retiolum ed25519 keys
  krebs/5pkgs/simple/generate-secrets/default.nix
Due: wolf deployment, puyak deployment

ponte.r: init
  krebs/1systems/ponte/config.nix
  krebs/1systems/ponte/hw.nix
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

ponte.r: put kernels/initrd on root platform
  krebs/1systems/ponte/hw.nix
Due: wolf deployment, puyak deployment

ponte.r: add public ipv4
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

l themes: fix startup, add xresources
  lass/2configs/themes.nix
Due: none

external: add kmein gpg key
  krebs/3modules/external/gpg/kmein.gpg
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e10da1c -> 2a3aac4
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l: remove legacy pgp keys
  krebs/3modules/lass/default.nix
  krebs/3modules/lass/pgp/blue.pgp
  krebs/3modules/lass/pgp/green.pgp
Due: wolf deployment, puyak deployment

mic92: add hostnames to rock and rauter
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add maurice-home
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: fix tinc name for maurice
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: also rename alias for maurice
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add too many new hosts
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

crustacea.r: fix ip6 address
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ponte.r: add matterbridge service
  krebs/1systems/ponte/config.nix
  krebs/2configs/matterbridge.nix
Due: wolf deployment, puyak deployment

pager: bump to fix hang during load
  krebs/5pkgs/haskell/pager.nix
Due: wolf deployment, puyak deployment

l: move radio to subfolder
  lass/1systems/prism/config.nix
  lass/2configs/radio/default.nix
  lass/2configs/radio/news.nix
Due: none

l radio: rate limit downvotes
  lass/2configs/radio/controls.html
  lass/2configs/radio/default.nix
Due: none

htgen-cyberlocker: add if_modified_since logic
  krebs/5pkgs/simple/htgen-cyberlocker/src/htgen-cyberlocker
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
