Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l sync: permown -> acl
  lass/2configs/sync/decsync.nix
  lass/2configs/sync/sync.nix
  lass/2configs/sync/weechat.nix
Due: none

l themes: make sure /var/theme/config exist
  lass/2configs/themes.nix
Due: none

l minecraft: remove erronous port
  lass/2configs/minecraft.nix
Due: none

l vim: use vim-dim colorscheme
  lass/2configs/vim.nix
Due: none

l vim: use fancy listchars
  lass/2configs/vim.nix
Due: none

l vim: use fzf tools
  lass/2configs/vim.nix
Due: none

l vim: remove legacy hack colorscheme
  lass/2configs/vim.nix
Due: none

l domsen: add more webistes/accounts
  lass/2configs/websites/domsen.nix
Due: none

l lassul.us: remove legacy tinc-graphs
  lass/2configs/websites/lassulus.nix
Due: none

l lassul.us: remove deprecated users
  lass/2configs/websites/lassulus.nix
Due: none

l lassul.us: simplify pubkey locations
  lass/2configs/websites/lassulus.nix
Due: none

l: add ref.ptkk.de
  lass/2configs/websites/lassulus.nix
  lass/2configs/websites/ref.ptkk.de/default.nix
Due: none

l owncloud: use php74
  lass/2configs/websites/util.nix
Due: none

l wiregrill: allow retiolum <-> wiregrill
  lass/2configs/wiregrill.nix
Due: none

l yubikey: simplify debug logging
  lass/2configs/yubikey.nix
Due: none

l dummy-secrets: add ssh-tor.priv
  lass/2configs/tests/dummy-secrets/ssh-tor.priv
Due: none

l sshvnc: init
  lass/5pkgs/sshvnc/default.nix
Due: none

update-nixpkgs: 21.11 -> 22.05
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

nixpkgs: 06db2e2 -> d108690
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l blue: remove pkgs.ag
  lass/2configs/blue.nix
Due: none

l daedalus.r: skype -> skypeforlinux
  lass/1systems/daedalus/config.nix
Due: none

l lasspi.r: remove extlinux-compat
  lass/1systems/lasspi/physical.nix
Due: none

l domsen: nextcloud 21 -> 23
  lass/2configs/websites/domsen.nix
Due: none

l news: vorbisTools -> vorbis-tools
  lass/2configs/radio/news.nix
Due: none

l xerxes.r: keep original xboxdrv patches
  lass/1systems/xerxes/config.nix
Due: none

l daedalus.r: remove krebs.per-user
  lass/1systems/daedalus/config.nix
Due: none

ma gum.r: bind nextcloud data
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma omo.r: enable vaapi
  makefu/1systems/omo/config.nix
  makefu/1systems/omo/hw/omo.nix
  makefu/1systems/omo/hw/vaapi.nix
Due: nur-packages makefu

ma iso.r: cleanup
  makefu/1systems/iso/config.nix
  makefu/1systems/iso/justdoit.nix
  makefu/1systems/iso/target-config.nix
Due: nur-packages makefu

ma latte: move owncloud to hetzner
  makefu/1systems/latte/config.nix
Due: nur-packages makefu

ma x.r: enable zfs crub
  makefu/1systems/x/config.nix
  makefu/1systems/x/source.nix
  makefu/1systems/x/x13/default.nix
  makefu/1systems/x/x13/zfs.nix
Due: nur-packages makefu

brockman: 4.0.3 -> 4.0.4
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

reaktor2: 0.4.0 -> 0.4.0a
  krebs/5pkgs/haskell/reaktor2/default.nix
Due: wolf deployment, puyak deployment

weechat-declarative: write commands to extra file
  krebs/5pkgs/simple/weechat-declarative/default.nix
Due: wolf deployment, puyak deployment

l radio: set opus bitrate to 96 kbps
  lass/2configs/radio/default.nix
Due: none

l radio: add probability of precipitation
  lass/2configs/radio/news.nix
  lass/2configs/radio/weather_for_ips.py
Due: none

l radio news: survive newline in input
  lass/2configs/radio/news.nix
Due: none

l radio: use radio-news.r for weather report
  lass/2configs/radio/default.nix
  lass/2configs/radio/news.nix
  lass/2configs/radio/weather.nix
Due: none

l radio: parse priority, fix timezone
  lass/2configs/radio/news.nix
Due: none

l radio weather_for_ips: use better english
  lass/2configs/radio/weather_for_ips.py
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
