Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

module urlwatch: create group for user
  krebs/3modules/urlwatch.nix
Due: wolf deployment, puyak deployment

module airdcpp: make group explicit
  krebs/3modules/airdcpp.nix
Due: wolf deployment, puyak deployment

ma share: more groups for more users
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma omo.r: disable collectd server
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma dcpp: fix typo
  makefu/2configs/dcpp/hub.nix
Due: nur-packages makefu

ma uhub: move to new configuration, add more groups to users
  makefu/2configs/dcpp/hub.nix
  makefu/2configs/nsupdate-data.nix
  makefu/5pkgs/uhub/default.nix
Due: nur-packages makefu

ma: fix warnings for wbob
  makefu/2configs/bureautomation/zigbee2mqtt/default.nix
  makefu/2configs/gui/wbob-kiosk.nix
Due: nur-packages makefu

ma gum.r: disable shiori
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

nixpkgs: a640d83 -> a640d83
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma krops: update home-manager
  makefu/krops.nix
Due: nur-packages makefu

ma binaergewitter: bump gecloudpad
  makefu/2configs/deployment/gecloudpad/gecloudpad.nix
Due: nur-packages makefu

ma pkgs.drozer: mark as broken
  makefu/2configs/tools/android-pentest.nix
  makefu/5pkgs/drozer/default.nix
Due: nur-packages makefu

l binary-cache server: use key without secret service
  lass/2configs/binary-cache/server.nix
Due: none

flameshot: admit NixOS 21.11
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

tv net.ipv6.conf.*.use_tempaddr: admit NixOS 21.11
  tv/2configs/default.nix
Due: none

tv x220 nix.daemon*: admit NixOS 21.11
  tv/2configs/hw/x220.nix
Due: none

tv gitrepos: add texnix
  tv/2configs/gitrepos.nix
Due: none

nixpkgs: a640d83 -> 1bd4bbd
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 6daa4a5 -> bc5d683
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

users: add xkey ssh key, use for logging into puyak
  krebs/2configs/shack/ssh-keys.nix
  krebs/3modules/external/default.nix
  krebs/3modules/external/ssh/xkey.pub
Due: wolf deployment, puyak deployment

l usershadow: setuid for verify commands
  lass/3modules/usershadow.nix
Due: none

makefu krops: don't rely on <nixpkgs>
  makefu/krops.nix
Due: nur-packages makefu

external: add moodle.kmein.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

disable includeAllModules again (builds take too long)
  krebs/2configs/default.nix
  lass/2configs/default.nix
Due: wolf deployment, puyak deployment

l domsen: use php74 for wordpress
  lass/2configs/websites/util.nix
Due: none

ci: buildbot-classic -> buildbot; cleanup
  krebs/2configs/buildbot-stockholm.nix
  krebs/3modules/buildbot/master.nix
  krebs/3modules/buildbot/slave.nix
  krebs/3modules/ci.nix
  krebs/3modules/default.nix
  krebs/5pkgs/simple/buildbot-classic/default.nix
  krebs/5pkgs/simple/buildbot-classic/sqlparse.nix
Due: wolf deployment, puyak deployment

mic92: drop redundant addrs blocks
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop eddie
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop eva's ipv4 address
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: remove ipv4 from turingmachine
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

tv x220 nix.daemon*: admit NixOS 21.11 harder
  tv/2configs/hw/x220.nix
Due: none

wiki: add host proxy_header
  krebs/2configs/wiki.nix
Due: wolf deployment, puyak deployment

add ACME ca via ca.r
  krebs/2configs/acme.nix
  krebs/2configs/default.nix
  krebs/3modules/default.nix
  krebs/3modules/krebs/default.nix
  krebs/3modules/ssl.nix
  krebs/5pkgs/simple/generate-krebs-intermediate-ca/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: use new graph.r endpoint
  krebs/3modules/realwallpaper.nix
Due: wolf deployment, puyak deployment

remove hardcoded ca-bundle
  krebs/2configs/default.nix
Due: wolf deployment, puyak deployment

wiki.r: add acme ssl config
  krebs/2configs/wiki.nix
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

ca.r: serve ca.crt via nginx
  krebs/1systems/hotdog/config.nix
  krebs/2configs/acme.nix
  krebs/3modules/ssl.nix
  krebs/6assets/krebsAcmeCA.crt
Due: wolf deployment, puyak deployment

brockman: 4.0.1 -> 4.0.2
  krebs/5pkgs/haskell/brockman/default.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
