Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l 5: get rid of <stockholm>
  lass/5pkgs/default.nix
Due: none

tv: <stockholm> -> ../..{,/..}/lib
  tv/5pkgs/default.nix
  tv/5pkgs/override/default.nix
  tv/5pkgs/simple/default.nix
Due: none

tv: pidgin-with-plugins -> pidgin
  tv/1systems/alnus/config.nix
  tv/1systems/mu/config.nix
  tv/1systems/querel/config.nix
Due: none

l 5: compareVersions is builtin
  lass/5pkgs/default.nix
Due: none

reaktor2 bier bal: extend regex for more fun
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: show ledger status of _from user on add
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

external: add aland
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma ham: add welcome and bye messages
  makefu/2configs/home/ham/automation/bye.txt.j2
  makefu/2configs/home/ham/automation/welcome.txt.j2
Due: nur-packages makefu

ma ham/media: update and add remote controls for media
  makefu/2configs/home/ham/media/arbeitszimmer_matrix.nix
  makefu/2configs/home/ham/media/firetv.nix
  makefu/2configs/home/ham/media/remote_sound_arbeitszimmer.nix
  makefu/2configs/home/ham/media/schlafzimmer_music_remote.nix
  makefu/2configs/home/ham/media/sonos.nix
Due: nur-packages makefu

l paste: add /form endpoint for form posts
  lass/2configs/paste.nix
Due: none

l paste: gc after 30 days
  lass/2configs/paste.nix
Due: none

tv ni: add NS record for tv.krebsco.de
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv ni internet: add ip6
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

zones: make zonefiles available as packages
  krebs/3modules/zones.nix
Due: wolf deployment, puyak deployment

zones: add zonefile packages for i, r, and w
  krebs/3modules/zones.nix
Due: wolf deployment, puyak deployment

nixpkgs: e732e1f -> 3d47bba
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e4d49de -> af9e000
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

refresh hosts
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

tv gitrepos: move regfish to museum
  tv/2configs/gitrepos.nix
Due: none

tv nginx: close requests with bad Host header
  tv/2configs/nginx/default.nix
Due: none

tv nginx: enable reload
  tv/2configs/nginx/default.nix
Due: none

tv jc: init at 1.21.0
  tv/5pkgs/override/jc.nix
Due: none

certaids: init
  krebs/5pkgs/simple/certaids.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: e4d49de -> f034b56
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: 3d47bba -> 294ef54
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

purebred-email: 0.4.3 -> 0.5.1
  krebs/5pkgs/haskell/purebred-email/default.nix
Due: wolf deployment, puyak deployment

mailaids: 1.0.0 -> 1.1.0
  krebs/5pkgs/haskell/mailaids.nix
Due: wolf deployment, puyak deployment

ma bgt: enable acme with cloudflare
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma pkgs.ps3netsrv: package webman-mod ps3netsrv
  makefu/5pkgs/ps3netsrv/default.nix
Due: nur-packages makefu

tv alnus displayManager: lightdm -> autoLogin
  tv/1systems/alnus/config.nix
Due: none

tv alnus stateVersion: init at "22.05"
  tv/1systems/alnus/config.nix
Due: none

tv alnus desktopManager: xfce -> plasma5
  tv/1systems/alnus/config.nix
Due: none

nixpkgs: 294ef54 -> bf014ca
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: af9e000 -> c97e777
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add blob64
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop some old hosts
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

haskell overrides: admit old overrides
  krebs/5pkgs/haskell/default.nix
  tv/5pkgs/haskell/default.nix
Due: wolf deployment, puyak deployment

tv weechat-tv: init
  tv/3modules/im.nix
  tv/5pkgs/simple/weechat-tv.nix
Due: none
