Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l xmonad: use upstream writers
  lass/5pkgs/custom/xmonad-lass/default.nix
Due: none

lib: add stripAttr
  lib/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add listen option
  krebs/3modules/reaktor2.nix
Due: wolf deployment, puyak deployment

l radio: post currently playing song to irc
  lass/2configs/radio.nix
Due: none

l radio: set /current method to GET
  lass/2configs/radio.nix
Due: none

l radio: be more http compliant
  lass/2configs/radio.nix
Due: none

l baseX: add some pkgs
  lass/2configs/baseX.nix
Due: none

l radio: return /current as json
  lass/2configs/radio.nix
Due: none

ma ham: add the_playlist
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/multi/the_playlist.nix
Due: nur-packages makefu

l radio: log /skip & /good in irc
  lass/2configs/radio.nix
Due: none

l: split hass config
  lass/1systems/shodan/config.nix
  lass/2configs/gg23.nix
  lass/2configs/hass/default.nix
  lass/2configs/hass/lib.nix
  lass/2configs/hass/rooms/bett.nix
  lass/2configs/hass/zigbee.nix
Due: none

l shodan.r: show realwallpaper
  lass/1systems/shodan/config.nix
Due: none

l emot-menu: add more
  lass/5pkgs/emot-menu/default.nix
Due: none

l: add hass module
  lass/3modules/default.nix
  lass/3modules/hass.nix
Due: none

update-nixpkgs: 19.09 -> 20.03
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

nixpkgs: b67bc34 -> 5272327
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l xmonad: follow rename of urxvt pkg
  lass/5pkgs/custom/xmonad-lass/default.nix
Due: none

l websites lass: remove deprecated acme plugins option
  lass/2configs/websites/lassulus.nix
Due: none

l uriel.r: disable libinput
  lass/1systems/uriel/config.nix
Due: none

l websites lass: add acme mail
  lass/2configs/websites/lassulus.nix
Due: none

l: accept acme terms
  lass/2configs/websites/lassulus.nix
Due: none

go-shortener: use nodejs 10
  krebs/5pkgs/simple/go-shortener/node-packages.nix
  krebs/5pkgs/simple/go-shortener/update.sh
Due: wolf deployment, puyak deployment

j reagenzglas: slim -> lightdm
  jeschli/1systems/reagenzglas/desktop.nix
Due: none

j emacs: add window-purpose
  jeschli/2configs/emacs.nix
Due: none

j emacs: stable for bbdb which-key
  jeschli/2configs/emacs.nix
Due: none

j emacs: use ./elisp/init.el
  jeschli/2configs/emacs.nix
Due: none

j haskell: remove stylish-haskell
  jeschli/2configs/haskell.nix
Due: none

remove nin
  krebs/3modules/default.nix
  krebs/3modules/nin/default.nix
  nin/0tests/dummysecrets/hashedPasswords.nix
  nin/0tests/dummysecrets/ssh.id_ed25519
  nin/1systems/axon/config.nix
  nin/1systems/hiawatha/config.nix
  nin/1systems/onondaga/config.nix
  nin/2configs/ableton.nix
  nin/2configs/copyq.nix
  nin/2configs/default.nix
  nin/2configs/games.nix
  nin/2configs/git.nix
  nin/2configs/im.nix
  nin/2configs/retiolum.nix
  nin/2configs/skype.nix
  nin/2configs/termite.nix
  nin/2configs/vim.nix
  nin/2configs/weechat.nix
  nin/default.nix
  nin/krops.nix
Due: wolf deployment, puyak deployment

ma gum.r: enable feed.euer
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

ma cgit: add ebk-notify
  makefu/2configs/git/cgit-retiolum.nix
Due: nur-packages makefu

ma gui/base: use lightdm, enable corefonts via fonts.fonts
  makefu/2configs/gui/base.nix
Due: nur-packages makefu

ma ham/androidtv: bump python libs to correct version
  makefu/2configs/ham/androidtv/adbshell.nix
  makefu/2configs/ham/androidtv/default.nix
  makefu/2configs/ham/androidtv/purepythonadb.nix
Due: nur-packages makefu

ma ham/the_playlist: init
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/multi/the_playlist.nix
Due: nur-packages makefu

ma zsh: use bat as cat but without indentation
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

ma nur: bump to latest tarball
  makefu/2configs/nur.nix
Due: nur-packages makefu

ma share/omo: enable anime and serien
  makefu/2configs/share/omo.nix
Due: nur-packages makefu

ma tools/dev: add hydra-check
  makefu/2configs/tools/dev.nix
Due: nur-packages makefu

remove nin
  krebs/3modules/default.nix
  krebs/3modules/nin/default.nix
  lass/1systems/prism/config.nix
  nin/0tests/dummysecrets/hashedPasswords.nix
  nin/0tests/dummysecrets/ssh.id_ed25519
  nin/1systems/axon/config.nix
  nin/1systems/hiawatha/config.nix
  nin/1systems/onondaga/config.nix
  nin/2configs/ableton.nix
  nin/2configs/copyq.nix
  nin/2configs/default.nix
  nin/2configs/games.nix
  nin/2configs/git.nix
  nin/2configs/im.nix
  nin/2configs/retiolum.nix
  nin/2configs/skype.nix
  nin/2configs/termite.nix
  nin/2configs/vim.nix
  nin/2configs/weechat.nix
  nin/default.nix
  nin/krops.nix
Due: wolf deployment, puyak deployment

ma tests: add dummy ebk-notify
  makefu/0tests/data/secrets/ebk-notify.yml
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
