Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

nixpkgs: a17f99d -> d4a9ff8
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l themes: make wayland compatible
  lass/2configs/themes.nix
Due: none

nixpkgs-unstable: 7409480 -> 4729ffa
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

nixpkgs: d4a9ff8 -> d83945c
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma hw/tp-x2x0: only use tlp when power-profiles is not enabled
  makefu/2configs/hw/tp-x2x0.nix
Due: nur-packages makefu

reaktor2: use new bing api
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

l: extract fonts, switch to compiled iosevka
  lass/2configs/baseX.nix
  lass/2configs/fonts.nix
  lass/2configs/xmonad.nix
Due: none

l: extract fonts, switch to compiled iosevka
  lass/2configs/baseX.nix
Due: none

retiolum: add centauri machine
  kartei/palo/default.nix
Due: none

nixpkgs: d83945c -> eef86b8
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 4729ffa -> 75a5ebf
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

kartei jan: IPv6 address for petrosilia
  kartei/jan/default.nix
Due: none

nixpkgs: eef86b8 -> c7ff1b9
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 75a5ebf -> 04af42f
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

update-nixpkgs: 22.11 -> 23.05
  krebs/update-nixpkgs.sh
Due: wolf deployment, puyak deployment

l: use unstable channel by default
  lass/krops.nix
Due: none

l: unvendor weechat-matrix
  lass/5pkgs/weechat-matrix/default.nix
Due: none

add radicale dummy-secret
  krebs/0tests/data/secrets/radicale.id_ed25519
Due: wolf deployment, puyak deployment

l weechat: use upstream weechat-matrix
  lass/2configs/weechat.nix
Due: none

l domsen: nextcloud24 -> nextcloud25
  lass/2configs/websites/domsen.nix
Due: none

l krops: use correct json location
  lass/krops.nix
Due: none

tv sshd: admit missing nets
  tv/2configs/sshd.nix
Due: none

modules: move krebs.enable option to separate module
  krebs/3modules/default.nix
  krebs/3modules/krebs.nix
Due: wolf deployment, puyak deployment

flake: export top level krebs modules via nixosModules
  flake.nix
Due: none

krebs module: pull out ssh logic from base module
  krebs/3modules/default.nix
  krebs/3modules/krebs.nix
  krebs/3modules/ssh.nix
Due: wolf deployment, puyak deployment

kartei makefu: add missing slib
  kartei/makefu/default.nix
Due: none

kartei jan: use correct lib for genip
  kartei/jan/default.nix
Due: none

nixpkgs: c7ff1b9 -> 33223d4
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 04af42f -> 3ae20aa
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

Revert "nixpkgs-unstable: 04af42f -> 3ae20aa"
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

tv alacritty: fix touchscreen scrolling
  tv/5pkgs/override/alacritty.nix
Due: none

tv unbound: init
  tv/3modules/unbound.nix
Due: none

l mpv autosub: switch to subdl
  lass/2configs/mpv.nix
Due: none

l mpv: add audio delay keybindings
  lass/2configs/mpv.nix
Due: none

l mpv: fix slow gpu output
  lass/2configs/mpv.nix
Due: none

l mpv: use stereo by default
  lass/2configs/mpv.nix
Due: none

l prism.r: add matrix service
  lass/1systems/prism/config.nix
  lass/2configs/matrix.nix
Due: none

l domsen: some website shuffling
  lass/2configs/websites/domsen.nix
Due: none

l domsen: disable unsafe nextcloud ciphers
  lass/2configs/websites/domsen.nix
Due: none
