Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tor/initrd: fix typo in secrets-path
  krebs/2configs/tor/initrd.nix
Due: wolf deployment, puyak deployment

tv: disable ci for all systems
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

ma bam: remove dwd_pollen
  makefu/2configs/bureautomation/default.nix
  makefu/2configs/bureautomation/deps/dwd_pollen.nix
Due: nur-packages makefu

shack/mqtt_sub: use python3 instead of 3.5
  krebs/2configs/shack/mqtt_sub.nix
Due: wolf deployment, puyak deployment

ma gum.r: disable gitlab-runner
  makefu/1systems/gum/config.nix
Due: nur-packages makefu

Revert "tv: disable ci for all systems"
  krebs/3modules/tv/default.nix
Due: wolf deployment, puyak deployment

tv configs: enable nscd for 20.09 and newer
  tv/2configs/default.nix
Due: none

ma hw/tp-x2x0: use utillinux instead of rfkill package
  makefu/2configs/hw/tp-x2x0.nix
Due: nur-packages makefu

much: 1.2.0 -> 1.3.0
  krebs/5pkgs/haskell/much.nix
Due: wolf deployment, puyak deployment

shack/glados: disable dwd_pollen
  krebs/2configs/shack/glados/default.nix
  krebs/2configs/shack/glados/deps/dwd_pollen.nix
Due: wolf deployment, puyak deployment

tv configs xmonad: remove fzmenu from PATH
  tv/2configs/xserver/default.nix
Due: none

ma owncloud: disable memcached
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

puyak.r: disable newsbot for now
  krebs/1systems/puyak/config.nix
Due: wolf deployment, puyak deployment

pkgs.alertmanager-bot-telegram: fix vendorSha256
  krebs/5pkgs/simple/alertmanager-bot-telegram/default.nix
Due: wolf deployment, puyak deployment

ma owncloud: use php.buildEnv
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

tv: pass -> pass-otp
  tv/1systems/xu/config.nix
  tv/5pkgs/compat/18.03/pass-otp/default.nix
  tv/5pkgs/compat/18.03/pass/default.nix
  tv/5pkgs/compat/18.03/pass/no-darwin-getopt.patch
  tv/5pkgs/compat/18.03/pass/rofi-pass.nix
  tv/5pkgs/compat/18.03/pass/set-correct-program-name-for-sleep.patch
  tv/5pkgs/default.nix
  tv/5pkgs/simple/fzmenu/default.nix
Due: none

email-header: 0.4.1-tv1 -> 0.4.1-tv2
  krebs/5pkgs/haskell/email-header.nix
Due: wolf deployment, puyak deployment

tv configs: enable nscd for 20.09+ properlier
  tv/2configs/default.nix
Due: none

email-header: keep supporting 20.03
  krebs/5pkgs/haskell/email-header.nix
Due: wolf deployment, puyak deployment

tv config: enable nscd also on 20.09pre etc.
  tv/2configs/default.nix
Due: none

tv x220: use services.tlp.settings
  tv/2configs/hw/x220.nix
Due: none

tv config: enable nscd by default
  tv/2configs/default.nix
Due: none

ma download.binaergewitter.de: fix for 20.09
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma bgt/download: remove obsolete netdata entry
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma bureautomation: move to 20.09 style imports
  makefu/2configs/bureautomation/automation/bureau-shutdown.nix
  makefu/2configs/bureautomation/automation/hass-restart.nix
  makefu/2configs/bureautomation/automation/nachtlicht.nix
  makefu/2configs/bureautomation/automation/schlechteluft.nix
  makefu/2configs/bureautomation/binary_sensor/buttons.nix
  makefu/2configs/bureautomation/binary_sensor/motion.nix
  makefu/2configs/bureautomation/camera/comic.nix
  makefu/2configs/bureautomation/camera/stuttgart.nix
  makefu/2configs/bureautomation/camera/verkehrskamera.nix
  makefu/2configs/bureautomation/default.nix
  makefu/2configs/bureautomation/device_tracker/openwrt.nix
  makefu/2configs/bureautomation/light/buzzer.nix
  makefu/2configs/bureautomation/light/statuslight.nix
  makefu/2configs/bureautomation/multi/10h_timers.nix
  makefu/2configs/bureautomation/multi/README.md
  makefu/2configs/bureautomation/multi/aramark.nix
  makefu/2configs/bureautomation/multi/daily-standup.nix
  makefu/2configs/bureautomation/multi/frosch.nix
  makefu/2configs/bureautomation/multi/matrix.nix
  makefu/2configs/bureautomation/multi/mittagessen.nix
  makefu/2configs/bureautomation/person/team.nix
  makefu/2configs/bureautomation/script/multi_blink.nix
  makefu/2configs/bureautomation/sensor/airquality.nix
  makefu/2configs/bureautomation/sensor/espeasy.nix
  makefu/2configs/bureautomation/sensor/influxdb.nix
  makefu/2configs/bureautomation/sensor/outside.nix
  makefu/2configs/bureautomation/sensor/tasmota_firmware.nix
  makefu/2configs/bureautomation/switch/rfbridge.nix
  makefu/2configs/bureautomation/switch/tasmota_switch.nix
Due: nur-packages makefu

ma bureautomation: update team
  makefu/2configs/bureautomation/person/team.nix
Due: nur-packages makefu

ma sickbeard: use python37
  makefu/2configs/sickbeard/sickgear.nix
Due: nur-packages makefu

ma wireguard/server: remove restart logic
  makefu/2configs/wireguard/server.nix
Due: nur-packages makefu

ma ham/zigbee2mqtt: use upstream module
  makefu/2configs/ham/multi/zigbee2mqtt.nix
  makefu/2configs/ham/zigbee2mqtt/default.nix
  makefu/2configs/ham/zigbee2mqtt/hass.nix
Due: nur-packages makefu

ma ham: use new home-assistant merge function
  makefu/2configs/ham/automation/firetv_restart.nix
  makefu/2configs/ham/calendar/nextcloud.nix
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/device_tracker/openwrt.nix
  makefu/2configs/ham/multi/fliegen-couter.nix
  makefu/2configs/ham/multi/kurzzeitwecker.nix
  makefu/2configs/ham/multi/the_playlist.nix
  makefu/2configs/ham/sensor/outside.nix
  makefu/2configs/ham/zigbee2mqtt/osram.nix
Due: nur-packages makefu

ma zigbee2mqtt: add comment about mkForce
  makefu/2configs/ham/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma ham/firetv_restart: fix typo
  makefu/2configs/ham/automation/firetv_restart.nix
Due: nur-packages makefu

ma snapraid module: fix warning about string
  makefu/3modules/snapraid.nix
Due: nur-packages makefu

ma pkgs.hactool: rip
  makefu/5pkgs/hactool/default.nix
Due: nur-packages makefu

ma gui/base: fix warnings
  makefu/2configs/gui/base.nix
Due: nur-packages makefu

ma default: remove double-defined tmp
  makefu/2configs/default.nix
Due: nur-packages makefu

ma omo.r: zigbee2mqtt is included via ham
  makefu/1systems/omo/config.nix
Due: nur-packages makefu

ma editor/vim: use py3k for youcompleteme support
  makefu/2configs/editor/vim.nix
Due: nur-packages makefu

ma ham/light/groups: init
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/light/groups.nix
Due: nur-packages makefu

ma hw: tlp.extraConfig -> tlp.settings
  makefu/2configs/hw/tp-x2x0.nix
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
