Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

l: add home-media.nix
  lass/1systems/icarus/config.nix
  lass/1systems/shodan/config.nix
  lass/2configs/home-media.nix
Due: none

htgen: 1.2.2 -> 1.2.3
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

xwaitforwindow: init
  krebs/5pkgs/simple/xwaitforwindow.nix
Due: wolf deployment, puyak deployment

flameshot-once: 1.2.0 -> 1.3.0
  krebs/5pkgs/haskell/flameshot-once.nix
  krebs/5pkgs/simple/flameshot-once/default.nix
Due: wolf deployment, puyak deployment

proot: move to override overlay
  krebs/5pkgs/default.nix
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

flameshot: make imgur URLs configurable
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

ma gum.r: enable etherpad via docker-container
  krebs/3modules/makefu/default.nix
  makefu/1systems/gum/config.nix
  makefu/2configs/deployment/docker/etherpad.euer.krebsco.de.nix
  makefu/2configs/deployment/docker/template.md
Due: wolf deployment, puyak deployment, nur-packages makefu

ma gecloudpad: use config parameters to set baseurl
  makefu/2configs/deployment/gecloudpad/default.nix
Due: nur-packages makefu

ma etherpad: update template
  makefu/2configs/deployment/docker/template.md
Due: nur-packages makefu

flameshot-once: add imgur support
  krebs/5pkgs/simple/flameshot-once/profile.nix
Due: wolf deployment, puyak deployment

tv xmonad: add flameshot-once
  tv/2configs/xserver/default.nix
  tv/5pkgs/haskell/xmonad-tv/src/Paths.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

htgen-imgur: init at 1.0.0
  krebs/5pkgs/simple/htgen-imgur/default.nix
  krebs/5pkgs/simple/htgen-imgur/src/htgen-imgur
Due: wolf deployment, puyak deployment

tv imgur config: init
  tv/2configs/imgur.nix
Due: none

nixpkgs: 1e90c46 -> 5adf2a6
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

l hass: add more rooms & automations
  lass/2configs/hass/default.nix
  lass/2configs/hass/lib.nix
  lass/2configs/hass/rooms/bett.nix
  lass/2configs/hass/rooms/essen.nix
  lass/2configs/hass/rooms/nass.nix
  lass/2configs/hass/zigbee.nix
Due: none

github-known-hosts: update list
  krebs/3modules/github-known-hosts.nix
Due: wolf deployment, puyak deployment

nixpkgs: 5adf2a6 -> f45ccd9
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma ham/androidtv: bump dependency from 0.0.37 to 0.0.38
  makefu/2configs/ham/androidtv/default.nix
Due: nur-packages makefu

ma home-assistant: requires empty config to start up ui
  makefu/2configs/bureautomation/default.nix
  makefu/2configs/ham/default.nix
Due: nur-packages makefu

ma zigbee2mqtt: start up after network is available
  makefu/2configs/ham/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma omo,x.r: disable ipv6 until studio-link issue is resolved
  makefu/1systems/omo/config.nix
  makefu/1systems/x/config.nix
  makefu/2configs/legacy_only.nix
Due: nur-packages makefu

urlwatch module: use users.users.{name} istead of a list
  krebs/3modules/urlwatch.nix
Due: wolf deployment, puyak deployment

ma urlwatch: generalize lidl
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

ma urlwatch: remove mauernutfräse
  makefu/2configs/urlwatch/default.nix
Due: nur-packages makefu

l: add MX entry for lassul.us
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: f45ccd9 -> 48723f4
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: b61999e -> 0f5ce2f
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma omo.r: enable home-manager zsh config
  makefu/1systems/omo/config.nix
  makefu/1systems/omo/hw/omo.nix
  makefu/1systems/omo/source.nix
Due: nur-packages makefu

python-dnsstamps: init at 1.3.0
  krebs/5pkgs/simple/python-dnsstamps.nix
Due: wolf deployment, puyak deployment

ma awesomecfg: start essentials on startup
  makefu/5pkgs/awesomecfg/full.cfg
Due: nur-packages makefu

urlwatch: modernize user config
  krebs/3modules/urlwatch.nix
Due: wolf deployment, puyak deployment

tv xu: modernize luks config
  tv/1systems/xu/config.nix
Due: none

tv urlwatch: add workaround for thp.io
  tv/2configs/urlwatch.nix
Due: none

tv dnsmasq: listen only on configured interfaces
  tv/3modules/dnsmasq.nix
Due: none

tv Xresources: enable service when using xserver
  tv/3modules/Xresources.nix
Due: none

tv xmonad: configure prompt font
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv zu: modernize luks config
  tv/1systems/zu/config.nix
Due: none

tv nomic: modernize luks config
  tv/1systems/nomic/config.nix
Due: none

tv querel displayManager: auto -> lightdm
  tv/1systems/querel/config.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
