Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma tests: add dummy ebk-notify
  makefu/0tests/data/secrets/ebk-notify.yml
Due: nur-packages makefu

l prism.r: remove onondaga
  lass/1systems/prism/config.nix
Due: none

ma urxvtd: rxvt_unicode_with-plugins -> rxvt_unicode-with-plugins
  makefu/2configs/gui/urxvtd.nix
Due: nur-packages makefu

ma zsh.nix: mirage -> sxiv
  makefu/2configs/home-manager/zsh.nix
  makefu/2configs/tools/extra-gui.nix
Due: nur-packages makefu

ma wbob-kiosk: set default session to xfce
  makefu/2configs/gui/wbob-kiosk.nix
Due: nur-packages makefu

ma tools/studio: whitelist openssl_1.0.2
  makefu/2configs/tools/studio.nix
Due: nur-packages makefu

j reagenzglas: remove haskell
  jeschli/1systems/reagenzglas/config.nix
Due: none

l: rip umts module
  lass/3modules/default.nix
  lass/3modules/umts.nix
Due: none

l network-manager: disable modem-manager
  lass/2configs/network-manager.nix
Due: none

l: add ppp.nix
  lass/1systems/mors/config.nix
  lass/2configs/ppp.nix
Due: none

remove brockman from submodules
  .gitmodules
Due: wolf deployment, puyak deployment

l mors.r: remove umts module stuff
  lass/1systems/mors/config.nix
Due: none

rtorrent module: remove 17.03 crutch
  krebs/3modules/rtorrent.nix
Due: wolf deployment, puyak deployment

j ublock-origin: licenses.gnu3 -> licenses.gpl3
  jeschli/2configs/own-pkgs/ublock-origin/default.nix
Due: none

ma default: accept acme terms
  makefu/2configs/default.nix
Due: nur-packages makefu

lib types: remove deprecated string usage
  lib/types.nix
Due: wolf deployment, puyak deployment

l xjail: remove deprecated string usage
  lass/3modules/xjail.nix
Due: none

l baseX: set windowManager.default -> defaultSession
  lass/2configs/baseX.nix
Due: none

types: remove last deprecated string type
  lib/types.nix
Due: wolf deployment, puyak deployment

ma virtualbox: disable extensionPack
  makefu/2configs/virtualisation/virtualbox.nix
Due: nur-packages makefu

ma owncloud: pkgs.nextcloud -> nextcloud
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma x.r: giving up on virtualbox again
  makefu/1systems/x/config.nix
Due: nur-packages makefu

nixpkgs: 5272327 -> 1e90c46
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

ma x.r: re-enable virtualbox, fix warning
  makefu/1systems/x/config.nix
Due: nur-packages makefu

ma 2 default: use stable kernel instead of latest
  makefu/2configs/default.nix
Due: nur-packages makefu

ma virtualbox: re-enable extensionpack
  makefu/2configs/virtualisation/virtualbox.nix
Due: nur-packages makefu

charybis: use not deprecated user/group syntax
  krebs/3modules/charybdis.nix
Due: wolf deployment, puyak deployment

ma gum.r: fix owncloud
  makefu/1systems/gum/config.nix
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma gui: update with refactored xserver options
  makefu/2configs/gui/base.nix
  makefu/2configs/gui/wbob-kiosk.nix
Due: nur-packages makefu

ma gui/base: awesome -> none+awesome
  makefu/2configs/gui/base.nix
Due: nur-packages makefu

wolf.r: disable graphite-api
  krebs/1systems/wolf/config.nix
Due: wolf deployment, puyak deployment

ma vim: disable utilsnips
  makefu/2configs/editor/vim.nix
Due: nur-packages makefu

ma zsh: disable home-manager gpg-agent and use programs.gpg-agent
  makefu/2configs/home-manager/cli.nix
  makefu/2configs/home-manager/zsh.nix
Due: nur-packages makefu

ma minimal: consoleKeyMap -> console.keyMap
  makefu/2configs/minimal.nix
Due: nur-packages makefu

ma home-manager: bump, fix deprecations
  makefu/2configs/home-manager/desktop.nix
  makefu/2configs/hw/bluetooth.nix
  makefu/krops.nix
Due: nur-packages makefu

j firefox: overlay from 2configs -> 5pkgs/firefox
  jeschli/2configs/firefox.nix
  jeschli/5pkgs/firefox/audio-fingerprint-defender/default.nix
  jeschli/5pkgs/firefox/canvas-fingerprint-defender/default.nix
  jeschli/5pkgs/firefox/dark-reader/default.nix
  jeschli/5pkgs/firefox/default.nix
  jeschli/5pkgs/firefox/firefox-with-config.nix
  jeschli/5pkgs/firefox/font-fingerprint-defender/default.nix
  jeschli/5pkgs/firefox/hopper/default.nix
  jeschli/5pkgs/firefox/https-everywhere/default.nix
  jeschli/5pkgs/firefox/pyocclient/default.nix
  jeschli/5pkgs/firefox/rmount/default.nix
  jeschli/5pkgs/firefox/ublock-origin/default.nix
  jeschli/5pkgs/firefox/user-agent-switcher/default.nix
  jeschli/5pkgs/firefox/webgl-fingerprint-defender/default.nix
  jeschli/5pkgs/firefox/wl-clipboard/default.nix
Due: none

j i3: hardware.brightnessctl.enable -> systemPackages
  jeschli/2configs/i3.nix
Due: none

ma pkgs.tinymediamanager: init at 3.1.5
  makefu/5pkgs/tinymediamanager/default.nix
Due: nur-packages makefu

external: add helsinki
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment
