Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

ma download.binaergewitter: logrotate new format
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma gui/look-up: fix refactoring
  makefu/2configs/gui/look-up.nix
Due: nur-packages makefu

ma pkgs.ratt: update vendor sha256
  makefu/5pkgs/ratt/default.nix
Due: nur-packages makefu

ma pkgs.pkgrename: allow-multiple-definitions
  makefu/5pkgs/pkgrename/default.nix
Due: nur-packages makefu

k puyak.r: rip alertmanager-telegram
  krebs/1systems/puyak/config.nix
  krebs/2configs/shack/prometheus/alertmanager-telegram.nix
Due: wolf deployment, puyak deployment

ma gui/look-up: fix configuration
  krebs/1systems/puyak/config.nix
  makefu/2configs/gui/look-up.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

passwdqc-utils: add missing libcrypt dependency
  krebs/5pkgs/simple/passwdqc-utils/default.nix
Due: wolf deployment, puyak deployment

k pkgs.passwdqc: 1.3.0 -> 2.0.2
  krebs/5pkgs/simple/passwdqc-utils/default.nix
Due: wolf deployment, puyak deployment

stable-generate: use new api
  krebs/5pkgs/simple/stable-generate/default.nix
Due: wolf deployment, puyak deployment

reaktor2 confuse: stable-generate now outputs file directly
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

pkgs.stable-interrogate: init
  krebs/5pkgs/simple/stable-interrogate/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add !interrogate
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2 krebsfood: try all the overpass api endpoints
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

krebs-pages: add /redirect
  krebs/3modules/krebs-pages.nix
Due: wolf deployment, puyak deployment

krebs-pages: add /ip
  krebs/3modules/krebs-pages.nix
Due: wolf deployment, puyak deployment

git-assembler: init at 1.3
  krebs/5pkgs/simple/git-assembler.nix
Due: wolf deployment, puyak deployment

ircd: set server name
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

nixpkgs: e8ec26f -> 9d692a7
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

kartei: add runner.rtunreal.r
  kartei/rtunreal/default.nix
  kartei/rtunreal/ssh/rtunreal.runner.pub
  kartei/rtunreal/ssh/rtunreal.spinner.pub
Due: none

tv alacritty: don't expect $HOME/ref to exists
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

lib: add on
  lib/default.nix
Due: wolf deployment, puyak deployment

lib: add uniq and uniqBy
  lib/default.nix
Due: wolf deployment, puyak deployment

lib.haskell.substitutePkg: sort and dedup deps
  lib/haskell.nix
Due: wolf deployment, puyak deployment

ma ham: enable find_phone, urlaub
  makefu/2configs/home/ham/automation/find_phone.nix
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

ma tools/all: disable android-pentest
  makefu/2configs/tools/all.nix
Due: nur-packages makefu

ma home: enable minidlna for testing, cleanup
  makefu/2configs/home/3dprint.nix
  makefu/2configs/home/ham/automation/urlaub.nix
  makefu/2configs/home/ham/media/arbeitszimmer_matrix.nix
  makefu/2configs/home/music.nix
Due: nur-packages makefu

ma pkgs.pkgrename: update checksum
  makefu/5pkgs/pkgrename/default.nix
Due: nur-packages makefu

l mors.r: add autotether
  lass/1systems/mors/config.nix
  lass/2configs/autotether.nix
Due: none

ma wbob/telegraf: re-enable mqtt output
  makefu/2configs/stats/telegraf/default.nix
Due: nur-packages makefu

kartei lass: split into hostFiles
  kartei/lass/blue.nix
  kartei/lass/coaxmetal.nix
  kartei/lass/daedalus.nix
  kartei/lass/default.nix
  kartei/lass/dishfire.nix
  kartei/lass/domsen-pixel.nix
  kartei/lass/echelon.nix
  kartei/lass/green.nix
  kartei/lass/hilum.nix
  kartei/lass/icarus.nix
  kartei/lass/lasspi.nix
  kartei/lass/littleT.nix
  kartei/lass/massulus.nix
  kartei/lass/mors.nix
  kartei/lass/phone.nix
  kartei/lass/prism.nix
  kartei/lass/shodan.nix
  kartei/lass/skynet.nix
  kartei/lass/ssh/red.ed25519
  kartei/lass/styx.nix
  kartei/lass/tablet.nix
  kartei/lass/xerxes.nix
  kartei/lass/yellow.nix
Due: none

types host: remove cores
  kartei/krebs/default.nix
  kartei/lass/blue.nix
  kartei/lass/coaxmetal.nix
  kartei/lass/daedalus.nix
  kartei/lass/dishfire.nix
  kartei/lass/echelon.nix
  kartei/lass/green.nix
  kartei/lass/hilum.nix
  kartei/lass/icarus.nix
  kartei/lass/lasspi.nix
  kartei/lass/littleT.nix
  kartei/lass/massulus.nix
  kartei/lass/mors.nix
  kartei/lass/prism.nix
  kartei/lass/shodan.nix
  kartei/lass/skynet.nix
  kartei/lass/styx.nix
  kartei/lass/xerxes.nix
  kartei/lass/yellow.nix
  kartei/makefu/default.nix
  kartei/others/default.nix
  kartei/tv/default.nix
  krebs/0tests/data/test-config.nix
  krebs/5pkgs/simple/generate-secrets/default.nix
  lass/2configs/default.nix
  lass/5pkgs/l-gen-secrets/default.nix
  lib/types.nix
  makefu/2configs/tools/init-host/default.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

kartei l: set ssh privkey path
  kartei/lass/default.nix
Due: none

add disko as submodule
  .gitmodules
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

reaktor2: add del alias for delete
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

l l-gen-secrets: refactor, add tinc ed25519 & tor
  lass/5pkgs/l-gen-secrets/default.nix
Due: none

kartei ma/telex.r: add v4 address
  kartei/makefu/default.nix
Due: none

l-gen-secrets: fix key indent
  lass/5pkgs/l-gen-secrets/default.nix
Due: none

l install-system: init helper script to install systems
  lass/5pkgs/install-system/default.nix
Due: none

l neoprism.r: init
  kartei/lass/neoprism.nix
  lass/1systems/neoprism/config.nix
  lass/1systems/neoprism/disk.nix
  lass/1systems/neoprism/physical.nix
Due: none

l yellow.r: move to new deno port
  lass/1systems/yellow/config.nix
  lass/5pkgs/bruellwuerfel/default.nix
Due: none
