Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

lib.mapNixDir: admit just files with .nix suffix
  lib/default.nix
Due: wolf deployment, puyak deployment

tv: XMONAD_SPAWN_WORKSPACE → _CURRENT_DESKTOP_NAME
  tv/2configs/bash/default.nix
  tv/2configs/default.nix
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv vim: set ttymouse=sgr
  tv/2configs/vim.nix
Due: none

ircd: use upstream ergochat service
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

modules ergo: RIP
  krebs/3modules/default.nix
  krebs/3modules/ergo.nix
Due: wolf deployment, puyak deployment

tv: init alacritty-tv
  tv/5pkgs/simple/alacritty-font-size.nix
  tv/5pkgs/simple/alacritty-tv.nix
Due: none

krebsco.de: point apex to ni
  kartei/tv/default.nix
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

tv nginx krebs-pages: RIP
  tv/2configs/nginx/krebs-pages.nix
Due: none

krebs.pages: init
  krebs/3modules/default.nix
  krebs/3modules/krebs-pages.nix
Due: wolf deployment, puyak deployment

krebs-pages: import current krebscode.github.com
  krebs/5pkgs/simple/krebs-pages/fixtures/index.html
  krebs/5pkgs/simple/krebs-pages/fixtures/thesauron.html
Due: wolf deployment, puyak deployment

hotdog: enable krebs.pages
  krebs/1systems/hotdog/config.nix
Due: wolf deployment, puyak deployment

ponte: fix internet prefix
  kartei/krebs/default.nix
Due: none

ponte: enable krebs.pages
  krebs/1systems/ponte/config.nix
Due: wolf deployment, puyak deployment

krebsco.de: point apex to ponte
  kartei/krebs/default.nix
  kartei/tv/default.nix
Due: none

ponte: open TCP 80 and 443
  krebs/1systems/ponte/config.nix
Due: wolf deployment, puyak deployment

ponte firewall: disable logging
  krebs/1systems/ponte/config.nix
Due: wolf deployment, puyak deployment

ponte: modify internet-facing SSH port
  krebs/1systems/ponte/config.nix
Due: wolf deployment, puyak deployment

ponte: add internet alias
  kartei/krebs/default.nix
Due: none

kartei tv: move krebs-pages mirror from xu to ni
  kartei/tv/default.nix
Due: none

tv pinentry-urxvt: kill only screenshot displayers
  tv/5pkgs/simple/pinentry-urxvt/default.nix
Due: none

l yellow.r: allow traffic only through vpn
  lass/1systems/yellow/config.nix
Due: none

nixpkgs: 596a8e8 -> e8ec26f
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 14ddeae -> 2dea0f4
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l yellow.r: allow internal traffic & dns
  lass/1systems/yellow/config.nix
Due: none

news: ergo -> ergochat
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

l radio: reimplement in liquidsoap
  lass/2configs/radio/default.nix
  lass/2configs/radio/news.nix
  lass/2configs/radio/radio.liq
  lass/2configs/radio/shell.nix
  lass/2configs/radio/weather.nix
  lass/2configs/radio/weather_for_ips.py
Due: none

l radio: better irc output, eat blanks, wishes
  lass/2configs/radio/default.nix
  lass/2configs/radio/radio.liq
Due: none

nixpkgs-unstable: 2dea0f4 -> 64e0bf0
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

htgen: scriptFile should be package or pathname
  krebs/3modules/htgen.nix
Due: wolf deployment, puyak deployment

l radio: use scriptFile for htgen
  lass/2configs/radio/default.nix
Due: none

l daedalus: disable tlp
  lass/1systems/daedalus/config.nix
Due: none

tv xu: don't import krebs-pages module
  tv/1systems/xu/config.nix
Due: none

ma gui/look-up: add pkgs
  makefu/2configs/gui/look-up.nix
Due: nur-packages makefu

ma download.binaergewitter: fix logrotate
  makefu/2configs/bgt/download.binaergewitter.de.nix
Due: nur-packages makefu

ma security/hotfix: rip
  makefu/2configs/default.nix
  makefu/2configs/security/hotfix.nix
Due: nur-packages makefu

k 3 wiregrill: add telex
  krebs/3modules/makefu/default.nix
  krebs/3modules/makefu/wiregrill/telex.pub
Due: wolf deployment, puyak deployment

ma krops: bump home-manager , nix-hardware
  makefu/krops.nix
Due: nur-packages makefu

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
