Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l styx.r: use fixed tinc port because of NAT
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 79c7b6a -> 604c441
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 5aaed40 -> 689b76b
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l: fix gnome-keyring alias
  lass/2configs/network-manager.nix
Due: none

l: use new dconf pkgname
  lass/2configs/baseX.nix
  lass/2configs/network-manager.nix
Due: none

external: one kmein per ssh key
  krebs/3modules/external/kmein.nix
  krebs/3modules/external/ssh/kmein.kabsa.pub
  krebs/3modules/external/ssh/kmein.manakish.pub
Due: wolf deployment, puyak deployment

mud: allow both kmeins
  krebs/2configs/mud.nix
Due: wolf deployment, puyak deployment

external qubasa pub: remove trailing newline
  krebs/3modules/external/ssh/qubasa.pub
Due: wolf deployment, puyak deployment

l retiolum: never connect via gum
  lass/2configs/retiolum.nix
Due: none

tv: add org.freedesktop.machine1.host-shell
  tv/3modules/default.nix
  tv/3modules/org.freedesktop.machine1.host-shell.nix
Due: none

external: give kmein phone an ipv4
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

teach reaktor2 how to dance
  krebs/2configs/reaktor2.nix
  krebs/5pkgs/simple/reaktor2-plugins.nix
Due: wolf deployment, puyak deployment

l: workaround for CVE-2021-4034
  lass/2configs/security-workarounds.nix
Due: none

krebs.setuid: add support for capabilities
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

move security-workarounds to krebs and cleanup
  krebs/2configs/default.nix
  krebs/2configs/security-workarounds.nix
  lass/2configs/default.nix
Due: wolf deployment, puyak deployment

l prism.r: add fysiirc github bridge
  lass/1systems/prism/config.nix
  lass/2configs/fysiirc.nix
Due: none

ma: apply CVE-2021-4034 hotfix
  makefu/2configs/default.nix
  makefu/2configs/security/hotfix.nix
Due: nur-packages makefu

security-workarounds: point to nixos compat exploit
  krebs/2configs/security-workarounds.nix
Due: wolf deployment, puyak deployment

mic92: add dan
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add astrid
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

krebs.setuid: mark activate string as sh
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

krebs.setuid: remove security.wrappers's cruft
  krebs/3modules/setuid.nix
Due: wolf deployment, puyak deployment

krebs modules: reorder main imports
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

krebs modules: reorder externals
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

reaktor2: show dancing krebs
  krebs/5pkgs/simple/krebsdance/default.nix
  krebs/5pkgs/simple/reaktor2-plugins.nix
Due: wolf deployment, puyak deployment

krebsdance: better looking dance
  krebs/5pkgs/simple/krebsdance/default.nix
Due: wolf deployment, puyak deployment

l retiolum: disable localdiscovery on supernodes
  lass/2configs/retiolum.nix
Due: none

ma tinc/retiolum: disable LocalDiscovery for supernodes
  makefu/2configs/tinc/retiolum.nix
Due: nur-packages makefu

l prism.r: add ssl for murmur
  lass/2configs/murmur.nix
Due: none

syncthing: remove declarative namespace
  krebs/2configs/syncthing.nix
  lass/2configs/sync/decsync.nix
  lass/2configs/sync/sync.nix
  lass/2configs/sync/weechat.nix
Due: wolf deployment, puyak deployment

l hass: use new zigbee settings
  lass/2configs/hass/zigbee.nix
Due: none

external: add radio.kmein.r
  krebs/3modules/external/kmein.nix
Due: wolf deployment, puyak deployment

l fysiirc: send only handled events
  lass/2configs/fysiirc.nix
Due: none

krebsdance: add flag to generate directed graph
  krebs/5pkgs/simple/krebsdance/default.nix
Due: wolf deployment, puyak deployment

l sync: add the_playlist
  lass/1systems/mors/config.nix
  lass/2configs/sync/the_playlist.nix
Due: none

krebsdance: make flake8 happy
  krebs/5pkgs/simple/krebsdance/default.nix
Due: wolf deployment, puyak deployment

l: add acl module
  lass/3modules/acl.nix
  lass/3modules/default.nix
Due: none

ma: add syncthing id for omo.r and x.r
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

mic92: drop ipv4 for yasmin, nardole, bill, graham, ryan
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: drop philipsaendig, drop rock ip4
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment
