Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

solanum: init at 2021-04-27
  krebs/5pkgs/simple/solanum/bandb.patch
  krebs/5pkgs/simple/solanum/default.nix
  krebs/5pkgs/simple/solanum/dont-create-logdir.patch
Due: wolf deployment, puyak deployment

modules: charybdis -> solanum
  krebs/2configs/ircd.nix
  krebs/3modules/default.nix
  krebs/3modules/solanum.nix
Due: wolf deployment, puyak deployment

tv viljetic-pages: add other IRC URIs
  tv/5pkgs/simple/viljetic-pages/index.html
Due: none

nixpkgs: 52090c6 -> 33824cd
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 83d907f -> 7a1fbc3
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

hidden-ssh: freenode -> hackint
  krebs/3modules/hidden-ssh.nix
Due: wolf deployment, puyak deployment

tv rxvt_unicode: RIP; upstream has caught up
  tv/5pkgs/override/default.nix
  tv/5pkgs/override/rxvt_unicode.nix
Due: none

reaktor2: add hackint
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

reaktor2: fix username
  krebs/2configs/reaktor2.nix
Due: wolf deployment, puyak deployment

mic92: change ip address of eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: remove anindya
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: move loki.r to eva
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

bill: add ip addresses + new key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: nardole: update key + add ip addresses
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add aendernix
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

solanum: remove unneeded BANDB stuff
  krebs/3modules/solanum.nix
  krebs/5pkgs/simple/solanum/bandb.patch
  krebs/5pkgs/simple/solanum/default.nix
Due: wolf deployment, puyak deployment

l: update android pubkey
  krebs/3modules/lass/default.nix
  krebs/3modules/lass/ssh/android.ed25519
  krebs/3modules/lass/ssh/android.rsa
Due: wolf deployment, puyak deployment

l radio: move to hackint
  lass/2configs/radio.nix
Due: none

ma hw/x13: allow fan control
  makefu/1systems/x/x13/default.nix
Due: nur-packages makefu

ma: move away from freenode
  makefu/2configs/bgt/social-to-irc.nix
  makefu/2configs/deployment/dirctator.nix
  makefu/2configs/elchos/irc-token.nix
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma ham: fix fenster_auf automation
  makefu/2configs/home/ham/automation/fenster_auf.nix
Due: nur-packages makefu

ircd: add oper:general for umode addon
  krebs/2configs/ircd.nix
Due: wolf deployment, puyak deployment

news: bind brockman to solanum for mutual restart
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

external: add nxnx.r (rtjure)
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma x: re-enable vbox
  makefu/1systems/x/config.nix
Due: nur-packages makefu

external: add nxnv (rtjure)
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ergo: init at 2.7.0-rc1
  krebs/5pkgs/simple/ergo.nix
Due: wolf deployment, puyak deployment

*: set isSystemUser or isNormalUser
  krebs/3modules/exim.nix
  krebs/3modules/git.nix
  krebs/3modules/htgen.nix
  krebs/3modules/tinc.nix
  tv/2configs/pulse.nix
Due: wolf deployment, puyak deployment

tv: remove security.hideProcessInformation
  tv/2configs/default.nix
Due: none

tv gitrepos: use python3 for markdown2
  tv/2configs/gitrepos.nix
Due: none

tv fzf: allow unset patchPhase
  tv/5pkgs/override/default.nix
Due: none

tv hc: stdenv.lib -> lib
  tv/5pkgs/simple/hc.nix
Due: none

tv rox-filer: stdenv.lib -> lib
  tv/5pkgs/simple/rox-filer.nix
Due: none

shack/worlddomination: stdenv.lib -> lib
  krebs/2configs/shack/worlddomination.nix
Due: wolf deployment, puyak deployment

tv 433Utils: stdenv.lib -> lib
  tv/5pkgs/rpi/433Utils/default.nix
Due: none

tv diff-so-fancy: stdenv.lib -> lib
  tv/5pkgs/simple/diff-so-fancy.nix
Due: none

cac-api: stdenv.lib -> lib
  krebs/5pkgs/simple/cac-api/default.nix
Due: wolf deployment, puyak deployment

dic: stdenv.lib -> lib
  krebs/5pkgs/simple/dic/default.nix
Due: wolf deployment, puyak deployment

airdcpp-webclient: stdenv.lib -> lib
  krebs/5pkgs/simple/airdcpp-webclient/default.nix
Due: wolf deployment, puyak deployment

tv utsushi: stdenv.lib -> lib
  tv/5pkgs/simple/utsushi.nix
Due: none

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
