Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

tv rox-filer: GitHub -> GitLab
  tv/5pkgs/simple/rox-filer.nix
Due: none

tv rox-filer: 14354e2 -> 3c3ad5d
  tv/5pkgs/simple/rox-filer.nix
Due: none

tv rox-filer: cleanup
  tv/5pkgs/simple/rox-filer.nix
Due: none

nixpkgs: f41c0fc -> 3a02dc9
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: a322b32 -> 83cbad9
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

shack/powerraw: pin usb device and use new powerraw release to set the appropriate device instead of guessing /dev/ttyUSB0
  krebs/2configs/shack/powerraw.nix
Due: wolf deployment, puyak deployment

tv: drop custom boot.initrd.luks.cryptoModules
  tv/1systems/alnus/config.nix
  tv/1systems/mu/config.nix
  tv/1systems/nomic/config.nix
  tv/1systems/querel/config.nix
  tv/1systems/wu/config.nix
  tv/1systems/xu/config.nix
  tv/1systems/zu/config.nix
Due: none

ma anon-sftp: init
  krebs/2configs/shack/prometheus/alert-rules.nix
  makefu/2configs/ham/light/schlafzimmer.nix
  makefu/2configs/share/anon-sftp.nix
Due: wolf deployment, puyak deployment, nur-packages makefu

l radio: remove icecast, let mpd stream directly (icecast has hiccups)
  lass/2configs/radio.nix
Due: none

l radio: actually stream in stereo
  lass/2configs/radio.nix
Due: none

nixpkgs: 3a02dc9 -> 3d2d8f2
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 83cbad9 -> e9158ec
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l domsen nextcloud: 19 -> 20
  lass/2configs/websites/domsen.nix
Due: none

l hass zigbee: update with new adapter
  lass/2configs/hass/zigbee.nix
Due: none

l prism.r: add tv.nix
  lass/1systems/prism/config.nix
  lass/2configs/tv.nix
Due: none

l prism.r: activate jitsi
  lass/1systems/prism/config.nix
  lass/2configs/jitsi.nix
Due: none

puyak.r: use brockman for news
  krebs/1systems/puyak/config.nix
  krebs/2configs/news-spam.nix
  krebs/3modules/brockman.nix
  krebs/3modules/default.nix
  krebs/5pkgs/default.nix
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

ma ham: update config
  makefu/2configs/ham/automation/giesskanne.nix
  makefu/2configs/ham/automation/light_buttons.nix
  makefu/2configs/ham/automation/urlaub.nix
  makefu/2configs/ham/automation/wohnzimmer_rf_fernbedienung.nix
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/light/arbeitszimmer.nix
  makefu/2configs/ham/light/schlafzimmer.nix
  makefu/2configs/ham/light/wohnzimmer.nix
Due: nur-packages makefu

tv xu: disable virtualbox
  tv/1systems/xu/config.nix
Due: none

htgen: 1.2.8 -> 1.3.0
  krebs/5pkgs/simple/htgen/default.nix
Due: wolf deployment, puyak deployment

news: use shortener, write to #news
  krebs/1systems/puyak/config.nix
  krebs/2configs/news-spam.nix
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

brockman: 1.4.2 -> 1.4.3
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

l tv: add ssl via streaming.lassul.us
  krebs/3modules/lass/default.nix
  lass/2configs/tv.nix
Due: wolf deployment, puyak deployment

brockman: 1.4.3 -> 1.4.4
  krebs/5pkgs/haskell/brockman.nix
Due: wolf deployment, puyak deployment

external: add karakalpakstan
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

ma gum: dl.gum and dl.makefu as aliases
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma dl.gum: provide access to internal host
  makefu/0tests/data/secrets/dl.gum-auth.nix
  makefu/2configs/nginx/dl.euer.krebsco.de.nix
Due: nur-packages makefu

l: add bindfs module
  lass/3modules/bindfs.nix
  lass/3modules/default.nix
Due: none

l: add sync-containers module
  lass/3modules/default.nix
  lass/3modules/sync-containers.nix
Due: none

ma deployment/owncloud: use upstream module
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

ma owncloud: enable caching
  makefu/2configs/deployment/owncloud.nix
Due: nur-packages makefu

crx: init at 1.0.0
  krebs/5pkgs/simple/crx/default.nix
Due: wolf deployment, puyak deployment

tv gitrepos: add crx
  tv/2configs/gitrepos.nix
Due: none

tv gitrepos: add TabFS
  tv/2configs/gitrepos.nix
Due: none

ma systemdultras: init config for ircbot
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma dcpp: remove redis config
  makefu/2configs/dcpp/hub.nix
Due: nur-packages makefu

l sync-containers: fix permissions
  lass/3modules/sync-containers.nix
Due: none

l: add green-host
  lass/2configs/green-host.nix
Due: none

l morpheus.r: add syncthing id
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

crx: 1.0.0 -> 1.1.0
  krebs/5pkgs/simple/crx/default.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
