Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

wolf deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
  ...

puyak deployment:
  stage: deploy
  script:
  - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
  - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
  - git submodule update --init
  - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
  ...

nur-packages makefu:
  stage: deploy
  script:
  - git reset --hard origin/master
  - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
  - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
  ...

types net: add defaults for wiregrill
  lib/types.nix
Due: wolf deployment, puyak deployment

l xjail: fix for manual
  lass/3modules/xjail.nix
Due: none

l mors.r: remove deprecated restic setup
  lass/1systems/mors/config.nix
Due: none

puyak.r: define cores
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

filebitch.r: define shack prefix
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

ircaids: utillinux -> unixtools.getopt
  krebs/5pkgs/simple/ircaids/default.nix
Due: wolf deployment, puyak deployment

types net: fix retiolum's ipv6 prefix
  lib/types.nix
Due: wolf deployment, puyak deployment

nixpkgs: f0869b1 -> 2452847
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: b165ce0 -> 715f634
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

flameshot: don't patch unknown versions
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

krebs zone-head-config: fix style
  krebs/3modules/default.nix
Due: wolf deployment, puyak deployment

tv: stop using pkgs.linuxPackages_latest
  tv/2configs/default.nix
Due: none

tv wu: make network configuration explicit
  tv/1systems/wu/config.nix
Due: none

Revert "l: rip dishfire.r"
  krebs/3modules/lass/default.nix
  lass/1systems/dishfire/config.nix
  lass/1systems/dishfire/physical.nix
  lass/1systems/dishfire/source.nix
Due: wolf deployment, puyak deployment

l dishfire.r: revive with minimal config
  krebs/3modules/lass/default.nix
  lass/1systems/dishfire/config.nix
  lass/1systems/dishfire/physical.nix
  lass/1systems/dishfire/source.nix
Due: wolf deployment, puyak deployment

types tinc: add weight option
  lib/types.nix
Due: wolf deployment, puyak deployment

mic92: add public ipv6/ipv4 for ryan/graham
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

sauron: add ipv6
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add dns name to sandro's machine
  krebs/3modules/external/default.nix
  lib/types.nix
Due: wolf deployment, puyak deployment

qubasa: changed tinc pubkey
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

mic92: update eva's ip
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add qubasa's public ed25519 key
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

qubasa: add kelle.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

mailaids: init from tv
  krebs/5pkgs/haskell/mailaids.nix
Due: wolf deployment, puyak deployment

purebred-email: don't implicitly add MIME-Version
  krebs/5pkgs/haskell/purebred-email/default.nix
  krebs/5pkgs/haskell/purebred-email/untweak-mime-version-header.patch
Due: wolf deployment, puyak deployment

purebred-email: init at 0.4.3
  krebs/5pkgs/haskell/purebred-email/default.nix
Due: wolf deployment, puyak deployment

arcadeomat.r: init
  krebs/1systems/arcadeomat/config.nix
  krebs/1systems/arcadeomat/hw.nix
Due: wolf deployment, puyak deployment

arcadeomat.r: update kernel
  krebs/1systems/arcadeomat/config.nix
Due: wolf deployment, puyak deployment

k/3/m: add arcadeomat
  krebs/3modules/krebs/default.nix
Due: wolf deployment, puyak deployment

mic92: add keller ed215519
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

eve: drop ipv6
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: allow ipv6 for telegraf metrics for gum.r
  makefu/2configs/nix-community/supervision.nix
Due: nur-packages makefu

mic92: enable transmission for v6
  lass/1systems/yellow/config.nix
Due: none

tv gitrepos: add couchfs
  tv/2configs/gitrepos.nix
Due: none

l yellow.r: transmission listen on ipv6
  lass/1systems/yellow/config.nix
Due: none

l prism.r: add internet ipv6 address
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

l prism.r: add jelly.r alias + proxy_pass
  krebs/3modules/lass/default.nix
  lass/1systems/prism/config.nix
Due: wolf deployment, puyak deployment

l: init tablet.r
  krebs/3modules/lass/default.nix
  krebs/3modules/lass/ssh/tablet.ed25519
Due: wolf deployment, puyak deployment

limit journald size
  krebs/2configs/default.nix
Due: wolf deployment, puyak deployment

Path conditions:
  wolf deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  puyak deployment: any of: .gitlab-ci.yml, krebs/**/*, lib/**/*, .gitmodules
  nur-packages makefu: any of: makefu/**/*
