Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l: fix lass-yubikey mail
  krebs/3modules/lass/default.nix
Due: wolf deployment, puyak deployment

tv xmonad: queryPrefix -> (=??)
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv gitrepos: add hack
  tv/2configs/gitrepos.nix
Due: none

hack: init at 1.0.0
  krebs/5pkgs/haskell/hack.nix
Due: wolf deployment, puyak deployment

tv gitrepos: add pager
  tv/2configs/gitrepos.nix
Due: none

tv gitrepos: add X11-aeson
  tv/2configs/gitrepos.nix
Due: none

tv gitrepos: add xmonad-aeson
  tv/2configs/gitrepos.nix
Due: none

X11-aeson: init at 1.0.0
  krebs/5pkgs/haskell/X11-aeson.nix
Due: wolf deployment, puyak deployment

xmonad-aeson: init at 1.0.0
  krebs/5pkgs/haskell/xmonad-aeson.nix
Due: wolf deployment, puyak deployment

tv gitrepos: add xmonad-web
  tv/2configs/gitrepos.nix
Due: none

news: allos all CORS
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

news: build graph.svg on change
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

news candyman: add more helpers
  krebs/2configs/news.nix
Due: wolf deployment, puyak deployment

tv mpvterm: init
  tv/5pkgs/simple/mpvterm/default.nix
  tv/5pkgs/simple/mpvterm/mpvterm.patch
Due: none

tv xmonad: doFloatCenter if appName ~ /Float/
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv xmonad: add xdeny
  tv/5pkgs/haskell/xmonad-tv/src/Paths.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

tv xmonad: no layout changes while focusing floats
  tv/5pkgs/haskell/xmonad-tv/src/XMonad/Extra.hs
  tv/5pkgs/haskell/xmonad-tv/src/main.hs
Due: none

lib: add compose
  lib/default.nix
Due: wolf deployment, puyak deployment

external: init hydrogen.r (sandro)
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

tv w110er: enable all the redistributable firmware
  tv/2configs/hw/w110er.nix
Due: none

realwallpaper: fetch neo images daily
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

realwallpaper: filter markers without location
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

nixpkgs: 2394284 -> 37b47da
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 8c87313 -> 102eb68
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

l syncthing: mkDefault home permission script
  lass/2configs/syncthing.nix
Due: none

l realwallpaper: rename activationScript
  lass/2configs/realwallpaper.nix
Due: none

k 3 ma: remove dot lan
  krebs/3modules/makefu/default.nix
Due: wolf deployment, puyak deployment

ma ham: proxy pass via nginx
  makefu/2configs/ham/default.nix
  makefu/2configs/ham/nginx.nix
Due: nur-packages makefu

ma ham -> ma home/ham
  makefu/2configs/home/ham/automation/firetv_restart.nix
  makefu/2configs/home/ham/automation/giesskanne.nix
  makefu/2configs/home/ham/automation/light_buttons.nix
  makefu/2configs/home/ham/automation/moodlight.nix
  makefu/2configs/home/ham/automation/urlaub.nix
  makefu/2configs/home/ham/automation/wohnzimmer_rf_fernbedienung.nix
  makefu/2configs/home/ham/calendar/nextcloud.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/deps/dwdwfsapi.nix
  makefu/2configs/home/ham/deps/pykodi.nix
  makefu/2configs/home/ham/device_tracker/openwrt.nix
  makefu/2configs/home/ham/lib/default.nix
  makefu/2configs/home/ham/light/arbeitszimmer.nix
  makefu/2configs/home/ham/light/schlafzimmer.nix
  makefu/2configs/home/ham/light/wohnzimmer.nix
  makefu/2configs/home/ham/mqtt.nix
  makefu/2configs/home/ham/multi/fliegen-couter.nix
  makefu/2configs/home/ham/multi/flurlicht.nix
  makefu/2configs/home/ham/multi/kurzzeitwecker.nix
  makefu/2configs/home/ham/multi/the_playlist.nix
  makefu/2configs/home/ham/nginx.nix
  makefu/2configs/home/ham/sensor/outside.nix
  makefu/2configs/home/ham/zigbee2mqtt/default.nix
  makefu/2configs/home/ham/zigbee2mqtt/hass.nix
  makefu/2configs/home/ham/zigbee2mqtt/osram.nix
Due: nur-packages makefu

ma home: init photoprism
  makefu/0tests/data/secrets/photoprism.nix
  makefu/2configs/home/photoprism.nix
Due: nur-packages makefu

ma ham/zigbee2mqtt: add secrets
  makefu/0tests/data/secrets/zigbee2mqtt.nix
  makefu/2configs/home/ham/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma ham: use <nixpkgs-unstable>
  makefu/2configs/home/ham/default.nix
Due: nur-packages makefu

ma ham: add fenster_auf automation
  makefu/2configs/home/ham/automation/fenster_auf.nix
Due: nur-packages makefu

ma filepimp.r: clean up hardware, add disk
  makefu/1systems/filepimp/config.nix
  makefu/1systems/filepimp/hw.nix
  makefu/1systems/filepimp/source.nix
Due: nur-packages makefu

ma: deploy storj on omo, forward via gum
  makefu/1systems/gum/config.nix
  makefu/2configs/storj/client.nix
  makefu/2configs/storj/forward-port.nix
Due: nur-packages makefu

ma omo.r: deploy airsonic,photoprism,metube
  makefu/1systems/omo/config.nix
  makefu/1systems/omo/hw/omo.nix
  makefu/2configs/home/airsonic.nix
  makefu/2configs/home/metube.nix
  makefu/2configs/home/photoprism.nix
Due: nur-packages makefu

ma bgt/social-to-irc: init
  makefu/2configs/bgt/social-to-irc.nix
Due: nur-packages makefu

ma wbob.r: split config and hardware
  makefu/1systems/wbob/config.nix
  makefu/1systems/wbob/nuc/default.nix
Due: nur-packages makefu

ma tsp.r: refactor
  makefu/1systems/tsp/config.nix
  makefu/1systems/tsp/hardware.nix
Due: nur-packages makefu

ma x.r: cleanup input
  makefu/1systems/x/config.nix
  makefu/1systems/x/x13/default.nix
  makefu/1systems/x/x13/input.nix
Due: nur-packages makefu
