Repository Mic92/stockholm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wolf deployment, puyak deployment, nur-packages makefu

.gitlab-ci.yml:

before_script:
  - nix-env -iA nixpkgs.openssh nixpkgs.gnupg nixpkgs.curl nixpkgs.git nixpkgs.pass || true
  # prepare github deployment for NUR
  - mkdir -p ~/.ssh
  - echo "$github_deploy_privkey" > ~/.ssh/github_deploy.key
  - chmod 600 ~/.ssh/github_deploy.key
  - ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
  # prepare git fetching of secrets
  - echo "$gitlab_deploy_privkey" > ~/.ssh/gitlab_deploy.key
  - chmod 600 ~/.ssh/gitlab_deploy.key
  - ssh-keyscan -H 'ssh.git.shackspace.de' >> ~/.ssh/known_hosts
  # import secret key for secrets
  - echo "$secrets_gpg_key" | gpg --import
deployment test:
  stage: test
  script:
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/gitlab_deploy.key" git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - test $(PASSWORD_STORE_DIR=~/brain pass smoke) == 1337
    - git submodule update --init
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target /tmp -A test)
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target /tmp -A test)
nix-shell test:
  stage: test
  script:
    - nix-shell --pure --command 'true' -p stdenv && echo success
    - nix-shell --pure --command 'false' -p stdenv || echo success
    - git --version
    - ssh -V
    - gpg --version
    - curl --version
wolf deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'wolf.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name wolf --argstr target wolf.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
puyak deployment:
  stage: deploy
  script:
    - cp ~/.ssh/gitlab_deploy.key ~/.ssh/id_rsa
    - git clone git@ssh.git.shackspace.de:rz/secrets.git ~/brain
    - git submodule update --init
    - ssh-keyscan -H 'puyak.shack' >> ~/.ssh/known_hosts
    - $(nix-build krebs/krops.nix --no-out-link --argstr name puyak --argstr target puyak.shack -A deploy)
  only:
    changes:
      - .gitlab-ci.yml
      - krebs/**/*
      - lib/**/*
      - .gitmodules
nur-packages makefu:
  stage: deploy
  script:
    - git reset --hard origin/master
    - git filter-branch -f --prune-empty --subdirectory-filter makefu/5pkgs HEAD
    - git remote add deploy git@github.com:makefu/nur-packages.git  || git remote set-url deploy git@github.com:makefu/nur-packages.git
    - GIT_SSH_COMMAND="ssh -i ~/.ssh/github_deploy.key" git push --force deploy HEAD:master
    - curl -XPOST http://nur-update.herokuapp.com/update?repo=makefu
  only:
    changes:
      - makefu/**/*
after_script:
    - rm -rf .ssh/

l: searx init at 1.0.0
  lass/5pkgs/searx/default.nix
Due: none

go: use last 5 hash characters for short urls
  krebs/3modules/go.nix
Due: wolf deployment, puyak deployment

realwallpaper: move pkgs into export
  krebs/3modules/realwallpaper.nix
  krebs/5pkgs/simple/realwallpaper/default.nix
Due: wolf deployment, puyak deployment

l fetchWallpaper: use stars version
  lass/2configs/fetchWallpaper.nix
Due: none

realwallpaper: add version with star constellations
  krebs/5pkgs/simple/realwallpaper/default.nix
  krebs/5pkgs/simple/realwallpaper/get_constellations.py
Due: wolf deployment, puyak deployment

l realwallpaper: serve krebs-stars
  lass/2configs/realwallpaper.nix
Due: none

add github action for autosync
  .github/dependabot.yml
  .github/workflows/repo-sync.yml
Due: none

go: store urls in redis
  krebs/3modules/go.nix
Due: wolf deployment, puyak deployment

realwallpaper: add krebs-stars-berlin version
  krebs/5pkgs/simple/realwallpaper/default.nix
  lass/2configs/realwallpaper.nix
Due: wolf deployment, puyak deployment

l: (re)init echelon.r (with ssh tor unlocking)
  krebs/3modules/lass/default.nix
  lass/1systems/echelon/config.nix
  lass/1systems/echelon/physical.nix
  lass/2configs/tests/dummy-secrets/initrd/ssh.ed25519_key
  lass/2configs/tor-initrd.nix
Due: wolf deployment, puyak deployment

mic92: remove dpdkm/inspector
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add sauron
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 7cb7620 -> 39e6bf7
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: add dimitra
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add bill
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs: d90df56 -> 21ff930
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

mic92: update harsha's key
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 04a2b26 -> 7cb7620
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

mic92: rename nardile to nardole
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

mic92: add nardile
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs: a565a21 -> d90df56
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

mic92: add philipsaendig
  krebs/3modules/external/mic92.nix
Due: wolf deployment, puyak deployment

nixpkgs: dec334f -> a565a21
  krebs/nixpkgs.json
Due: wolf deployment, puyak deployment

nixpkgs-unstable: 39e6bf7 -> d1601a4
  krebs/nixpkgs-unstable.json
Due: wolf deployment, puyak deployment

ma bgt/etherpad: bump to latest version
  makefu/2configs/bgt/etherpad.euer.krebsco.de.nix
Due: nur-packages makefu

external: add nxdc.r
  krebs/3modules/external/default.nix
Due: wolf deployment, puyak deployment

exim: remove 4.94+fixes; upstream has caught up
  krebs/5pkgs/override/default.nix
Due: wolf deployment, puyak deployment

ma social-to-irc: restart brockman
  makefu/2configs/bgt/social-to-irc.nix
Due: nur-packages makefu

ma bgt/template: add note about three dashes
  makefu/2configs/bgt/template.md
Due: nur-packages makefu

ma bureautomation: disable pykodi
  makefu/2configs/bureautomation/default.nix
Due: nur-packages makefu

ma home/ham: add signal-rest, update automations
  makefu/2configs/home/ham/automation/fenster_auf.nix
  makefu/2configs/home/ham/automation/giesskanne.nix
  makefu/2configs/home/ham/automation/lichter_dimmen.nix
  makefu/2configs/home/ham/automation/pflanzen_giessen_erinnerung.nix
  makefu/2configs/home/ham/calendar/nextcloud.nix
  makefu/2configs/home/ham/default.nix
  makefu/2configs/home/ham/multi/kurzzeitwecker.nix
  makefu/2configs/home/ham/signal-rest/default.nix
  makefu/2configs/home/ham/signal-rest/hass.nix
  makefu/2configs/home/ham/signal-rest/pkg.nix
  makefu/2configs/home/ham/signal-rest/service.nix
  makefu/2configs/home/zigbee2mqtt/default.nix
Due: nur-packages makefu

ma printer: update
  makefu/2configs/printer.nix
Due: nur-packages makefu

ma ircbot: restart brockman
  makefu/2configs/systemdultras/ircbot.nix
Due: nur-packages makefu

ma tools/extra-gui: add vscode
  makefu/2configs/tools/extra-gui.nix
Due: nur-packages makefu

ma pkgs.studio-link: bump to 21.03.2
  makefu/5pkgs/studio-link/default.nix
Due: nur-packages makefu

ma tests: add signal dummy secrets
  makefu/0tests/data/secrets/signal/messenger.nix
Due: nur-packages makefu

ma gum: disable social-to-irc, fix import for omo
  makefu/1systems/gum/config.nix
  makefu/2configs/bgt/social-to-irc.nix
Due: nur-packages makefu

ma pkgs.chitubox: init at 1.8.1
  makefu/5pkgs/chitubox/default.nix
Due: nur-packages makefu

ma ham: fix typo for fenster_auf automation
  makefu/2configs/home/ham/automation/fenster_auf.nix
Due: nur-packages makefu
